html {
    min-width: 1190px;
}

.foot {
    clear: both;
    padding-top: 100px;
    padding-bottom: 30px;
}

/*#region 全局样式 */
.snone{
    display: none!important;
}

.container {
    width: 100%;
    height: auto;
    min-height: 800px;
    font-family: 'Microsoft YaHei', 'Apple LiGothic Medium', Arial, sans-serif;
    position: relative;
    background: #cfafff;
    .top{
        .top1{
            background: url("img/dest/abzb3.jpg") top center no-repeat;
            width: 100%;
            height: 329px;
        }
        .top2{
            background: url("img/dest/top_03.jpg") top center no-repeat;
            width: 100%;
            height: 370px;
            .main{
                height: 370px;
                overflow: hidden;
            }
        }
        .top3{
            background: url("img/dest/top_04.jpg") top center no-repeat;
            width: 100%;
            height: 705px;
        }
    }
    .main{
        width: 1000px;
        height: auto;
        margin: 0 auto;
        a{
            color: #fff;
        }
    }
    .bor-transparent{
        border-width: 10px;
        border-style: solid;
        border-color: rgba(255,255,255,0.4);
    }
    .intro{
        background: url("img/dest/top_05.jpg") top center no-repeat;
        width: 100%;
        height: 793px;
        overflow: hidden;
        .detail{
            width: 92%;
            background: rgba(0,0,0,.7);
            -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
            color: #fff;
            padding: 10px 4% 0;
            position: absolute;
            left: 0;
            bottom: 0;
            h3{
                font-size: 24px;
                font-weight: bold;
                line-height: 60px;
                border-bottom: 1px solid #fff;
            }
            p{
                font-size: 16px;
                line-height: 24px;
                margin-top: 15px;
            }
        }
        .qzs{
            background: url("img/dest/qzs1.jpg") no-repeat;
            width: 999px;
            height: 359px;
            margin-bottom: 20px;
            margin-top: 32px;
            position: relative;
            overflow: hidden;
            cursor: pointer;
            .detail{
                height: 359px;
            }
        }
        .qzjd{
            background: url("img/dest/qzjd.jpg") no-repeat;
            width: 489px;
            height: 350px;
            float: left;
            position: relative;
            cursor: pointer;
            overflow: hidden;
            .detail{
                height: 350px;
            }
        }
        .fll{
            background: url("img/dest/fll.jpg") no-repeat;
            width: 491px;
            height: 350px;
            float: right;
            position: relative;
            cursor: pointer;
            overflow: hidden;
            .detail{
                height: 350px;
            }
        }
    }

    .part1{
        background: url("img/dest/top_06.jpg") top center no-repeat;
        width: 100%;
        height: 919px;
        overflow: hidden;
        .title{
            background: url("img/dest/abzb2.png") top center no-repeat;
            width: 429px;
            height: 46px;
            margin: 60px auto 40px;
        }
        .bg1{
            background: url("img/dest/pro1.jpg") no-repeat;
            width: 976px;
            height: 324px;
            margin-bottom: 20px;
            overflow: hidden;
            .icon{
                background: url("img/dest/icon1.png") no-repeat;
                width: 162px;
                height: 27px;
                margin: 15px 0 0 10px;
                float: left;
            }
            .icon1{
                background: url("img/dest/icon3.png") no-repeat;
                width: 108px;
                height: 108px;
            }
            .pro1{
                float: right;
            }

            &:nth-child(2){
                background: url("img/dest/pro2.jpg") no-repeat;
                width: 977px;
                height: 326px;
                overflow: hidden;
                .icon{
                    background: url("img/dest/icon2.png") no-repeat;
                    width: 150px;
                    height: 27px;
                    float: right;
                    margin: 15px 10px 0 0;
                }
                .icon1{
                    background: url("img/dest/icon4.png") no-repeat;
                    width: 108px;
                    height: 108px;
                }
                .pro1{
                    float: left;
                }
            }

            &:first-child+div{
                background: url("img/dest/pro2.jpg") no-repeat;
                width: 977px;
                height: 326px;
                overflow: hidden;
                .icon{
                    background: url("img/dest/icon2.png") no-repeat;
                    width: 150px;
                    height: 27px;
                    float: right;
                    margin: 15px 10px 0 0;
                }
                .icon1{
                    background: url("img/dest/icon4.png") no-repeat;
                    width: 108px;
                    height: 108px;
                }
                .pro1{
                    float: left;
                }
            }

        }

    }

    .part2 {
        background: url("img/dest/top_07.jpg") top center no-repeat;
        width: 100%;
        height: 1918px;
        overflow: hidden;
        .title {
            background: url("img/dest/titl2.png") top center no-repeat;
            height: 46px;
            width: 669px;
            margin: 80px auto 40px;
        }
        .main{
            width: 1017px;
        }
        .bg{
            background: rgba(255,255,255,0.4);
            -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
            width: 999px;
            margin: 0 auto 20px;
            padding: 10px;
            box-sizing: border-box;
            -moz-box-sizing:border-box;
            -webkit-box-sizing:border-box;
            position: relative;
            overflow: hidden;
            .jyy{
                background: url("img/dest/abzb1.jpg") no-repeat;
                width: 402px;
                height: 398px;
                float: left;
            }
            .pro2{
                float: right;
            }
            .circle{
                background: url("img/dest/circle1.png") no-repeat;
                width: 99px;
                height: 99px;
                position: absolute;
                left: 370px;
                top: 150px;
            }
            &:nth-child(2){
                .jyy{
                    background: url("img/dest/abzb2.jpg") no-repeat;
                    float: right;
                }
                .pro2{
                    float: left;
                }
                .circle{
                    background: url("img/dest/circle2.png") no-repeat;
                    right: 370px;
                    left: auto;
                }
            }
            &:first-child+div{
                .jyy{
                    background: url("img/dest/abzb2.jpg") no-repeat;
                    float: right;
                }
                .pro2{
                    float: left;
                }
                .circle{
                    background: url("img/dest/circle2.png") no-repeat;
                    right: 370px;
                    left: auto;
                }
            }
        }

    }
    .part3{
        background: url("img/dest/top_08.jpg") top center no-repeat;
        width: 100%;
        height: 646px;
    }
}

.pro1{
    width: 430px;
    height: 100%;
    padding: 15px 30px;
    background: rgba(0,0,0,.6);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    color: #fff;
    float: left;
    position: relative;
    .maintit{
        font-size: 26px;
        line-height: 60px;
        font-weight: bold;
        white-space: nowrap;
        text-overflow:ellipsis;
        overflow: hidden;
    }
    .chufa{
        background: #fff;
        color: #000;
        padding: 2px 20px;
        border-radius: 13px;
        font-size: 16px;
    }
    .exp{
        border-top: 1px dashed #000;
        border-bottom: 1px dashed #000;
        border-color: rgba(255,255,255,.45);
        margin-top: 15px;
        overflow: hidden;
        ul{
            padding: 15px 0;
            float: left;
            li{
                font-size: 16px;
                line-height: 34px;
            }
        }
        .icon1{
            float: right;
            margin-top: 10px;
            margin-right: 30px;
        }
    }
    .price{
        color: #ff6203;
        font-weight: bold;
        margin-top: 10px;
        height: 60px;
        line-height: 60px;
        p{
            font-size: 36px;
            margin-left: 3%;
            b{
                font-size: 28px;
                font-weight: bold;
            }
            &:before{
                font-size: 18px;
                content: "¥";
                margin-right: 3px;
                font-weight: normal;
            }
            &:after{
                font-size: 18px;
                content: "起";
                margin-left: 3px;
                font-weight: normal;
            }
        }
    }
    .order{
        background: url("img/dest/btn.png") no-repeat;
        width: 149px;
        height: 43px;
        position: absolute;
        bottom: 50px;
        right: 25px;
    }
}

.pro2 {
    width: 564px;
    height: 398px;
    float: left;
    overflow: hidden;
    .img-box {
        width: 100%;
        height: 398px;
        position: relative;
        img {
            width: 100%;
            height: 398px;
        }
        .pro-con {
            position: absolute;
            left: 50%;
            top: 18%;
            width: 70%;
            margin-left: -35%;
            background: rgba(0, 0, 0, .7);
            -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
            color: #fff;
            text-align: center;
            font-size: 16px;
            padding: 22px;
            box-sizing: border-box;
            -moz-box-sizing:border-box;
            -webkit-box-sizing:border-box;
            .chufa {
                background: #fff;
                border-radius: 16px;
                color: #000;
                padding: 5px 15px;
            }
            .maintit {
                font-size: 26px;
                line-height: 60px;
                border-bottom: 2px solid #fff;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            .subtit {
                margin-top: 10px;
                height: 50px;
                overflow: hidden;
                line-height: 22px;
                height: 50px;
                margin-bottom: 5px;

            }
            .date{
                margin-bottom: 5px;
            }
            .price{
                background: #ff5c03;
                border-radius: 5px;
                color: #fff;
                font-weight: bold;
                width: 213px;
                height: 50px;
                line-height: 50px;
                margin: 0 auto;
                p{
                    font-size: 36px;
                    margin-left: 3%;
                    b{
                        font-size: 28px;
                        font-weight: bold;
                    }
                    &:before{
                        font-size: 18px;
                        content: "¥";
                        margin-right: 3px;
                        font-weight: normal;
                    }
                    &:after{
                        font-size: 18px;
                        content: "起";
                        margin-left: 3px;
                        font-weight: normal;
                    }
                }
            }
        }
    }
}

.prolist{
    .pro3{
        width: 327px;
        height: 414px;
        float: left;
        margin-left: 9px;
        margin-bottom: 14px;
        box-sizing: border-box;
        -moz-box-sizing:border-box;
        -webkit-box-sizing:border-box;
        overflow: hidden;

        .img-box {
            width: 100%;
            height: 398px;
            position: relative;
            img {
                width: 100%;
                height: 398px;
            }
            .chufa {
                position: absolute;
                left: 10px;
                top: 10px;
                font-size: 16px;
                background: rgba(0, 0, 0, .7);
                -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
                color: #fff;
                border-radius: 16px;
                padding: 5px 15px;
            }
            .pro-con {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                background: rgba(0, 0, 0, .7);
                -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
                color: #fff;
                text-align: center;
                font-size: 16px;
                padding: 0 22px 10px;
                box-sizing: border-box;
                -moz-box-sizing:border-box;
                -webkit-box-sizing:border-box;
                .maintit {
                    font-size: 20px;
                    line-height: 40px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
                .subtit {
                    height: 50px;
                    overflow: hidden;
                    line-height: 22px;
                    height: 45px;
                    margin-bottom: 5px;
                    color: #cfcbcb;
                }
                .date{
                    margin-bottom: 5px;
                    font-size: 20px;
                }
                .price{
                    background: #ff5c03;
                    border-radius: 5px;
                    color: #fff;
                    font-weight: bold;
                    width: 213px;
                    height: 50px;
                    line-height: 50px;
                    margin: 0 auto;
                    p{
                        font-size: 36px;
                        margin-left: 3%;
                        b{
                            font-size: 28px;
                            font-weight: bold;
                        }
                        &:before{
                            font-size: 18px;
                            content: "¥";
                            margin-right: 3px;
                            font-weight: normal;
                        }
                        &:after{
                            font-size: 18px;
                            content: "起";
                            margin-left: 3px;
                            font-weight: normal;
                        }
                    }
                }
            }
        }
    }
}

.sidetab{
    position: fixed;
    top: 200px;
    right: 100px;
    font-family: 'Microsoft YaHei','Apple LiGothic Medium',Arial,sans-serif;
    .gotop{
        width: 147px;
        height: 34px;
        background: rgba(0,0,0,.4);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
        font-size: 18px;
        line-height: 34px;
        text-align: center;
        border-radius: 17px;
        color: #fff;
        margin-top: 6px;
        a{
            display: block;
            color: #fff;
            background: url("img/dest/icon.png") 125px 10px no-repeat;
            &:hover{
                font-weight: bold;
                color: #fff;
            }
        }
    }
    ul{
        li{
            width: 147px;
            height: 34px;
            background: rgba(0,0,0,.4);
            -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
            font-size: 18px;
            line-height: 34px;
            text-align: center;
            border-radius: 17px;
            margin-top: 6px;
        }
        li a{
            display: block;
            color: #fff;
            border-radius: 17px;
            background: url("img/dest/icon.png") 125px 10px no-repeat;
        }
        li.active{
            background: rgba(0,0,0,.6);
            -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
            border-radius: 17px;
            font-weight: bold;
            color: #fff;
            font-size: 20px;
        }
    }
}

.area{
    margin-top: 260px;
    font-size: 22px;
    height: 38px;
    line-height: 38px;
    background: rgba(0,0,0,.6);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    border-radius: 100px;
    color: #fff;
    width: 153px;
    cursor: pointer;
    position: relative;
    .area-now{
        padding-left: 20px;
        background: url("img/dest/shark.png") 117px 15px no-repeat;
    }
    .area-nav{
        position: absolute;
        left: 0;
        top: 38px;
        width: 121px;
        height: 33px;
        background: rgba(0,0,0,.3);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
        z-index: 100;
        margin-left: 16px;
        box-sizing: border-box;
        -moz-box-sizing:border-box;
        -webkit-box-sizing:border-box;
        font-size: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        text-align: center;
        li{
            height: 33px;
            line-height: 33px;
        }
    }
    .area-icon{
        position: absolute;
        top: 40%;
        right: 20px;
        background: url("img/dest/shark.png") no-repeat;
        width: 18px;
        height: 10px;
    }
    &:hover{
        background: rgba(0,0,0,.8);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    }
}
