<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>百旅会狂欢节</title>
    <meta name="description" content="同程旅游出境游频道为您提供百旅会出境定制游，品质百旅会专享线路！更多出境游路线，更低出境游价格尽在同程出境旅游。">
    <meta name="keywords" content="火拼11.11，百旅会狂欢节">
    <link rel="stylesheet" href="//css.40017.cn/cn/c/zt/2015/common/common.0.0.5.css?v=2015121102"/>
    <% includeId = cnztjscss %>
    <script type="text/javascript" src="//js.40017.cn/cn/min/??/cn/c/union/jquery.placeholder.min.js"></script>
    <script type="text/javascript">
      var _tcopentime = new Date().getTime();
      var _nStartTime = new Date().getTime();
      var loginState = window.loginState || {};
      window.cnhost = "//www.ly.com";
    </script>
    <link href="//css.40017.cn/cn/v/2015/index2016/slidertoolbar.07044.css" rel="stylesheet" />
</head>
<body>
<!-- 公共头部 start-->
<% includeId = cnzthead %>
<!-- 公共头部 end-->

<div class="container clearfix">
    <div class="top1">
        <!--<img src="img/dest/ssylogo.png" alt="">-->
    </div>
    <div class="top2"></div>
    <div class="top3"></div>
    <div class="top4"></div>
    <div class="main1 J_NavBox" id="part1">
        <div class="main">
            <img src="img/dest/blh1.jpg" alt="">
            <img src="img/dest/blh2.jpg" alt="">
            <img src="img/dest/blh3.jpg" alt="">
            <div class="hdzqtit">
                <img src="img/dest/titimg.png" alt="">
                <img src="img/dest/titname.png" alt="">
                <ul class="navhdzt1 ">
                    <li data-img="zzqqsh" class="active" ></li>
                    <li data-img="yyzbhy"></li>
                    <li data-img="nnhysj"></li>
                </ul>
            </div>
            <ul class="pichdzt">
                <li>
                    <img src="img/dest/zzqqsh1.jpg">
                </li>
                <li>
                    <img src="img/dest/zzqqsh2.jpg">
                </li>
                <li>
                    <img src="img/dest/zzqqsh3.jpg">
                </li>
            </ul>
            <ul class="pichdzt none">
                <li>
                    <img src="img/dest/yyzbhy1.jpg">
                </li>
                <li>
                    <img src="img/dest/yyzbhy2.jpg">
                </li>
                <li>
                    <img src="img/dest/yyzbhy3.jpg">
                </li>
            </ul>
            <ul class="pichdzt none">
                <li>
                    <img src="img/dest/nnhysj1.jpg">
                </li>
                <li>
                    <img src="img/dest/nnhysj2.jpg">
                </li>
                <li>
                    <img src="img/dest/nnhysj3.jpg">
                </li>
            </ul>
            <a href="javascript:void(0)" class="morefl"></a>
            <div class="join">
                <a href="//www.ly.com/public/bailvhui" target="_blank"></a>
            </div>
        </div>
    </div>
    <div class="main2 J_NavBox" id="part2">
        <img src="img/dest/title1.jpg" alt="" class="title">
        <ul class="main2ul">
            <li class="J_ProList bigli product1" data-filter="CycleId=4168"  data-tmpl="#tmpl1" >

            </li>
            <ul class="J_ProList" data-filter="CycleId=4169"  data-tmpl="#tmpl3">
            </ul>

            <li class="bigli product4" id="bkOne">
            </li>
            <li class="smallLi product5" >
            </li>
            <li class="smallLi product6" >
            </li>
        </ul>

    </div>
    <div class="main3 J_NavBox" id="part3">
        <div class="title"></div>
        <ul class="J_ProList" data-filter="CycleId=4231"  data-tmpl="#cjy">
        </ul>
    </div>
    <div class="main4 J_NavBox" id="part4">
        <img src="img/dest/title3.jpg"  class="title">
        <ul data-tmpl="#gny">
        </ul>
    </div>
    <div class="main5 J_NavBox" id="part5">
        <img src="img/dest/title4.jpg"  class="title">
        <ul data-tmpl="#gny">
        </ul>
    </div>
    <div class="main6 J_NavBox" id="part6">
        <img src="img/dest/title5.jpg" alt="" class="title">
        <div>
            <a href="/dujia/zhuanti/ssyoax.html" target="_blank">
                <img src="img/dest/fhc1.jpg" alt="">
            </a>
            <a href="/dujia/zhuanti/ssymzf.html" target="_blank">
                <img src="img/dest/fhc2.jpg" alt="">
            </a>
            <a href="#" >
                <img src="img/dest/fhc30.jpg" alt="">
            </a>
            <a href="#" >
                <img src="img/dest/fhc40.jpg" alt="">
            </a>
        </div>
        <div class="foot" style="font-family:Arial"> <p> Copyright © 2002-2016 同程网络科技股份有限公司 版权所有 </p> </div>
    </div>
</div>

<div class="silderbar" >
    <ul>
        <li class="active"><a href="//www.ly.com/public/bailvhui#baomingbiao" target="_blank">加入百旅会</a></li>
        <li><a href="#part2">百旅会推荐</a></li>
        <li><a href="#part3">缤纷出境</a></li>
        <li class="nav4"><a href="#part4">绚丽国长</a></li>
        <li><a href="#part5">品质游轮</a></li>
        <li><a href="#part6">玩转分会场</a></li>
    </ul>
    <div class="gotop"><a href="javascript:void(0);"></a></div>
</div>
<!--签到导航-->
<div class="signNav">
    <a href="//www.ly.com/public/bailvhui#baomingbiao" target="_blank" class="active">加入百旅会</a>
    <a href="javascript:void(0);" class="signIcon">签到有礼</a>
</div>
<div class="bg none"></div>
<!--签到页面-->
<div class="signBox none">
    <div class="signLi">
        <div class="signNun">已签到XX天啦~</div>
        <ul class="signDate"></ul>

        <div class="signBtn">猛戳签到</div>
    </div>
</div>
<!--领取页面-->
<div class="recBox none">
    <div class="recAll tyk">
        <input type="text" class="cityIn longIn J_input1 mainIn">
        <div class="phoneBox">
            <input type="text" class="phoneIn longIn J_input2">
            <div class="warning none">
                <i></i>
                <span>请输入正确的手机号码</span>
            </div>
        </div>
        <div class="codeBox">
            <input type="text" class="codeIn shortIn J_input3">
            <img class="J_codeImg codeBtn" src="//www.ly.com/dujia/CheckCode.aspx">
            <div class="warning none">
                <i></i>
                <span>验证码有误</span>
            </div>
        </div>
        <input type="text" class="nameIn longIn J_input4 mainIn">
        <input type="text" class="addIn longIn J_input5 mainIn" disabled="disabled" value="地址不可填">
        <div class="submit J_submit"></div>
        <div class="closeBtn"></div>
    </div>
</div>


<input type="hidden" id="RefUrl" value="" />
<input type="hidden" id="AjaxRequestPath" value="//www.ly.com/AjaxHelper/TopLoginHandler.aspx?channel=ChuJingTravel">
<script id="tmpl1" type="text/plain">
    {{~it:value:index}}
        {{? index==0}}
            <a {{=Activity.tmplProAttr(value)}}>
                <span class="s11tag"></span>
                 <img src="{{=value.ImgUrl.replace('http:','')}}" alt="{{=value.MainTitle}}" title="{{=value.MainTitle}}" class="pic">
                <div class="info">
                    <p>{{=value.MainTitle}}</p>
                    <div class="small">
                    <span class="hottag"></span>
                        <span class="goWhere"><s></s>{{=value.DepartCity}}出发·{{? value.LineType=="0"}}跟团游{{??}}自由行{{?}}</span>
                    </div>
                    <div class="brief">
                      {{var _rep=decodeURIComponent("%23%23");}}
                            {{? value.Explosion}}
                                {{var Expl = value.Explosion.split(_rep);}}
                                {{~Expl:data:index}}
                                    <i>{{= data }} </i>
                                {{~}}
                            {{?}}
                    </div>
                    <div class="other">
                        <span class="favorable">
                            <b>百旅会</b>
                            {{=value.DedicatLine}}
                        </span>
                        <span class="price">
                            &yen;<i>{{=value.Preferential}}</i>起/人
                            <b></b>
                        </span>
                    </div>
                </div>
            </a>
        {{?}}

    {{~}}
</script>

<script id="tmpl3" type="text/plain">
    {{~it:value:index}}
        {{? index<2}}
            <li class="smallLi product{{=index+2}}">
                <a {{=Activity.tmplProAttr(value)}}>
                <span class="s11tag"></span>
                    <img src="{{=value.ImgUrl.replace('http:','')}}" alt="{{=value.MainTitle}}" title="{{=value.MainTitle}}" class="pic">
                    <div class="info">
                        <p>{{=value.MainTitle}}</p>
                        <div class="small">
                            <span class="goWhere">{{=value.DepartCity}}出发·{{? value.LineType=="0"}}跟团游{{??}}自由行{{?}}</span>
                        </div>
                        <div class="brief">
                        {{var _rep=decodeURIComponent("%23%23");}}
                                {{? value.Explosion}}
                                    {{var Expl = value.Explosion.split(_rep);}}
                                    {{~Expl:data:index}}
                                        <i>{{= data }} </i>
                                    {{~}}
                                {{?}}
                        </div>
                        <div class="other">
                            <span class="favorable">
                                <b>百旅会</b>
                                {{=value.DedicatLine}}
                            </span>
                            <span class="price">
                                &yen;<i>{{=value.Preferential}}</i>起/人
                                <b></b>
                            </span>
                        </div>
                    </div>
                </a>
            </li>
        {{?}}

    {{~}}
</script>

<script id="cjy" type="text/plain">
    {{~it:value:index}}
      <li class="smallLi">
                    <a {{=Activity.tmplProAttr(value)}}>
                        <img src="{{=value.ImgUrl.replace('http:','')}}" alt="{{=value.MainTitle}}" title="{{=value.MainTitle}}" class="pic">
                        <div class="info">
                            <p>{{=value.MainTitle}}</p>
                            <div class="small">
                                <span>{{=value.DepartCity}}出发·{{? value.LineType=="0"}}跟团游{{??}}自由行{{?}}</span>
                            </div>
                            <div class="brief">
                            {{var _rep=decodeURIComponent("%23%23");}}
                            {{? value.Explosion}}
                                {{var Expl = value.Explosion.split(_rep);}}
                                {{~Expl:data:index}}
                                    {{? index<2}}
                                    <i>{{= data }} </i>
                                    {{?}}
                                {{~}}
                            {{?}}
                            </div>
                            <div class="other">
                                <span class="favorable">
                                    <b>百旅会</b>
                                    {{=value.DedicatLine}}
                                </span>
                                <span class="price">
                                    &yen;<i>{{=value.Preferential}}</i>起/人
                                    <b></b>
                                </span>
                            </div>
                        </div>
                    </a>
            </li>
    {{~}}

</script>

<script src="//js.40017.cn/cn/min/???/cn/public/fish.1.4.5.js,/cn/v/2015/jqmodules/jquery.js,/cn/v/2015/jqmodules/monitor/0.3.0/index.js,/cn/v/2015/jqmodules/statistics/0.3.0/statistics.js?v=20170119,/cn/v/2015/jqmodules/dot.js,/cn/v/2015/jqmodules/lazyload/0.2.1/index.js"></script><!--ignore-->
<script src="//js.40017.cn/cn/c/zht/common.0.1.0.js?v=2016020311"></script><!--ignore-->

<script src="//js.40017.cn/cn/v/2015/jqmodules/activity/0.3.2/pc/pc.pkg.js?v=20170119"></script><!--ignore-->
<script src="//js.40017.cn/cn/v/2015/jqmodules/sea.js" data-loader="true"></script>
<script src="//js.40017.cn/cn/v/2015/jqmodules/timer/0.2.0/pc.js"></script><!--ignore-->
<script src="//js.40017.cn/cn/v/2015/jqmodules/scrollspy/0.2.0/index.js"></script><!--ignore-->


<!-- 专题配置 -->
<script>
    var Index = seajs.require("./index");
    Activity.init({
        param: [{
                "2025": [4168,4169,4231]
        }],
        IsSellOut: 1,
        querytype: 0,
        filter: true,
        el: ".J_ProList",
        beforeRender: function(data) {
            return data;
        },
        afterRender: function (data) {
            if(data["CycleId=4168"]){
            var _data = data["CycleId=4168"][1];
                Index.createBkOne(_data,$(".product4"));
            }
            if(data["CycleId=4169"]){
                var cgdata1=data["CycleId=4169"][2],
                cgdata2=data["CycleId=4169"][3];
                Index.createBkOne(cgdata1,$(".product5"));
                Index.createBkOne(cgdata2,$(".product6"));

            }

        }
    });
</script>

<script>
    (function() {
        var pageview = stat.formatPageview('/出境/pc活动页/火拼11.11百旅会狂欢节');
        stat.init({
            "baidu": {
                "parameter": "pc"
            },
            "pvConfig": {
                "PublicPlatId": "1",
                "PageId": "42206",
                "LineId": "0",
                "ActivityId": "2025",
                "ActivityPeriodId": "4168",
                "ModuleId": "0",
                "PVSource": "1",
                "ak": "",
                "url": "//www.ly.com/dujia/AjaxHelper/PvHandler.ashx"
            },
            "vst": [
                ['_serialid', '0'],
                ['_vrcode', '10002-2006-0'],
                ['_refId', stat.getRefid()],
                ['_userId', stat.getMemberId()],
                ['_openTime', stat.timeDiff],
                ['_trackPageview', pageview]
            ]
        });
    })();
</script>

</body>
</html>
