.container{
    width: 100%;
    min-width: 1200px;
    font-family: 'Microsoft YaHei';
    .top1{
        width: 100%;
        height: 189px;
        background: url(img/dest/blhssytop_01.jpg) no-repeat top center;
    }
    .top2{
        width: 100%;
        height: 189px;
        background: url(img/dest/blhssytop_02.jpg) no-repeat top center;
    }
    .top3{
        width: 100%;
        height: 188px;
        background: url(img/dest/blhssytop_03.jpg) no-repeat top center;
    }
    .top4{
        width: 100%;
        height: 189px;
        background: url(img/dest/blhssytop_04.jpg) no-repeat top center;
    }
}
.main1{
    width:100%;
    height: 1525px;
    background: url(img/dest/main1bg.jpg) no-repeat top center;
    .main{
        width: 1120px;
        margin: 0 auto;
        .hdzqtit{
            width: 1000px;
            margin: 0 auto;
            ul{
                background: url(img/dest/PC_01.png) no-repeat top center;
                width: 438px;
                height: 42px;
                float: right;
                margin-top: 6px;
                margin-right: 10px;
                li{
                    width: 139px;
                    height: 42px;
                    float: left;
                    cursor: pointer;
                }
                 li.active{
                     width: 160px;
                 }
            }
            .navhdzt1{
                 background: url(img/dest/PC_01.png) no-repeat top center;
            }
            .navhdzt2{
                 background: url(img/dest/PC_02.png) no-repeat top center;
            }
            .navhdzt3{
                 background: url(img/dest/PC_03.png) no-repeat top center;
            }
            
           
        }
         ul.pichdzt{
             margin: 0 auto;
                background: url(img/dest/blhpic.jpg) no-repeat;
                width: 1000px;
                height: 339px;
                padding: 23px 0 0 14px;
                li{
                    float: left;
                    margin: 0 4px;

                }
        }
        .morefl{
            background: url(img/dest/morefl.jpg)  no-repeat;
            width: 165px;
            height:26px;
            display: block;
            margin:0 auto;
        }
        .join{
             background: url(img/dest/gnq_bottom.jpg)  no-repeat;
             width: 1120px;
             height: 112px;
             padding-top: 136px;
             a{
                 background: url(img/dest/btn1.png) no-repeat top center;
                 width: 297px;
                 height: 105px;
                 display: block;
                 margin: 0 auto ;
             }
             a:hover{
                  background: url(img/dest/brnhover.png) no-repeat top center;
             }
        }
    }
}
.main2{
    width:100%;
    height: 1966px;
    background: url(img/dest/main2bg.jpg) no-repeat top center;
    .main2ul{
        width: 1120px;
        margin: 0 auto;
        height: 1713px;
        background: url(img/dest/main1_bottom.jpg) no-repeat bottom center;
        padding-bottom: 82px;
        .bigli{
            width: 1120px;
            
            height:468px;
            a{
                position: relative;
                display: block;
                background: url(img/dest/productbg1.jpg) no-repeat bottom center;
                width: 934px;
                height: 383px;
                margin: 0 auto;
                padding: 30px 33px;
                .pic{
                    width: 404px;
                    height: 380px;
                    border-radius: 20px;
                    float: left;
                    margin-right: 20px;
                }
                .info{
                    width: 510px;
                    height: 380px;
                    float:left;
                    p{
                        font-size: 30px;
                        line-height: 40px;
                        color: #fff;
                        width: 510px;
                        overflow: hidden;
                        height: 40px;
                        line-height: 40px;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                    .small{
                        height: 31px;
                        line-height: 31px;
                        margin-top: 15px;
                        .hottag{
                            width: 229px;
                            height: 31px;
                            background: url(img/dest/hottag.png) no-repeat;
                            float: left;
                        }
                        .goWhere{
                            display: block;
                            float: left;
                            color: #e6bafe;
                            font-size: 22px;
                            margin-left: 15px;
                            s{
                                width: 27px;
                                height: 25px;
                                display: block;
                                float: left;
                                background: url(img/dest/addicon.png) no-repeat;
                                margin-top: 3px;
                                margin-right: 5px;
                            }
                        }
                    }
                    .brief{
                        width: 490px;
                        height: 74px;
                        padding: 11px 0;
                        line-height: 32px;
                        border-top: 1px dashed #8743ab;
                        border-bottom: 1px dashed #8743ab;
                        font-size: 22px;
                        color: #d68bfa;
                        margin: 22px 0;
                        i{
                            display: inline-block;
                            margin-left: 15px;
                            
                        }
                    }
                    .other{
                        height: 145px;
                        .favorable{
                            background: url(img/dest/tag1.png) no-repeat;
                            width: 214px;
                            height: 73px;
                            display: block;
                            float: left;
                            padding-top:72px;
                            text-align: center;
                            font-size: 22px;
                            color: #fff;
                            line-height: 28px;
                            b{
                                display: block;
                                font-size: 26px;
                                font-weight: bold;
                            }

                        }
                        .price{
                            width: 230px;
                            padding-top: 50px;
                            margin-left: 64px;
                            color: #ffe100;
                            font-size: 18px;
                            float: left;
                            text-align: center;
                            i{
                                font-size: 38px;
                                font-style: normal;
                            }
                            
                        }
                    }
                }
            }
           
        }
       .smallLi{
            height: 405px;
            width: 500px;  
            .favorable{
                background: url(img/dest/tag2.png) no-repeat;
                width: 178px;
                height: 50px;
            }
            .pic{
                width: 460px;
            }
       }
        .product1{
            background: url(img/dest/libg1.jpg) no-repeat bottom center;
        }
        .product2,.product5{
            padding-left: 60px;
            a{
                padding: 13px 26px 13px  12px;
                width: 460px;
                background: url("img/dest/productbg2.jpg") no-repeat top right;
                .favorable{
                    top:145px;
                    left: 21px;
                }
                .small{
                    right: 36px;
                    top:178px;
                }
                .s11tag{
                    left: -7px;
                }
            }
          
        }
        .product3,.product6{
            padding-right: 60px;
            a{
                padding: 13px 12px 13px 26px;
                background: url("img/dest/productbg3.jpg") no-repeat top left;
                .favorable{
                    top:145px;
                    left: 34px;
                }
                .small{
                    right: 26px;
                    top:178px;
                }
                .s11tag{
                    left: 7px;
                }
            }
        }
        .product4{
            clear: both;
            background: url(img/dest/libg2-20.jpg) no-repeat bottom right;
        }
        .product2{
            background: url(img/dest/libg2.jpg) no-repeat bottom right;
        }
        .product6{
            background: url(img/dest/libg4.jpg) no-repeat top right;
        }
    }
}
.main3{
    width:100%;
    height: 1017px;
    background: url(img/dest/main3bg.jpg) no-repeat top center;
    .title{
        background: url(img/dest/title2.jpg) no-repeat top center;
        height: 178px;
    }
    ul{
        width: 1020px;
        margin: 0 auto;
        height: 760px;
        background: url(img/dest/main2_bottom.jpg) no-repeat bottom center;
        padding-bottom: 78px;
        li{
            margin: 0 9px 16px;
            width: 490px;
            a .info .brief{
                height: 20px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                i{
                    margin-right: 10px;
                }
            }
        }
    }
}
.main4{
    width:100%;
    height: 1281px;
    background: url(img/dest/main4bg.jpg) no-repeat top center;
    ul{
        width: 1020px;
        margin: 0 auto;
        height: 1027px;
        background: url(img/dest/main3_bottom.jpg) no-repeat bottom center;
        padding-bottom: 88px;
        li{
            width: 510px;
            float: left;
            .productName{
                background: url(img/dest/zbtbg.jpg) no-repeat;
                width: 420px;
                height: 56px;
                color: #fbf1ff;
                font-size: 22px;
                line-height: 26px;
                padding: 45px;
                text-align: center;
            }
            .smallLi{
                margin-left: 10px;
                a .info .brief{
                    margin-top: 0;
                    line-height: 22px;
                }
            }
        }
    }
}
.main5{
    width:100%;
    height: 1020px;
    background: url(img/dest/main5bg.jpg) no-repeat top center;
    ul{
        width: 1020px;
        margin: 0 auto;
         li{
            margin: 0 9px 16px;
            width: 490px;
           
        }
        .smallLi a .info .other .price{
            padding-top: 20px;
        }
    }
}
.main6{
    width:100%;
    height: 859px;
    background: url(img/dest/main6bg.jpg) no-repeat top center;
    div{
        width: 1000px;
        margin: 0 auto;
        a{
            display: block;
            float: left;
            img{
                vertical-align: top;
            }
        }
    }
    .foot{
        color: #fff;
    }
}
.title{
    margin: 0 auto;
    display: block;
}
.main3,.main4,.main5{
     a{
                padding: 14px 14px 14px 14px;
                background: url(img/dest/otherbg.jpg) no-repeat;
                position: relative;
                 .favorable{
                    top:0px;
                    right:0px;
                    background: url(img/dest/tag3.png) no-repeat;
                    width: 173px;
                    height: 68px;
                    right: 23px;
                }
                .small{
                    left: 20px;
                    top:28px;
                }
            }
}
 a .info .other .price b{
    display: block;
    width: 226px;
    height:80px;
    background: url(img/dest/ljcy.png) no-repeat;
               
}
 a:hover .info .other .price b{
    background: url(img/dest/ljcyhover.png) no-repeat;
}
 .smallLi{
            float: left;
            a{
                display: block;
                height: 345px;
                position: relative;
                .pic{
                    width: 462px;
                    height: 203px;
                    border-top-right-radius: 5px;
                    border-top-left-radius: 5px;
                }
                .info{
                    padding: 8px;
                    p{
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        font-size: 22px;
                        color: #fff;
                        width: 446px;
                        height: 24px;
                        line-height: 24px;
                    }
                    .small{
                        position: absolute;
                        height:28px;
                        line-height: 28px;
                        padding: 0 8px;
                        border-radius: 14px;
                        background: rgba(0,0,0,0.5);
                        font-size: 14px;
                        color: #fff;
                    }
                    .brief{
                        color: #d4a2ed;
                        font-size: 18px;
                        margin-top: 10px;
                    }
                    .favorable{
                        position: absolute;
                        line-height: 24px;
                        font-size: 18px;
                        color: #fff;
                        text-align: center;
                        padding: 8px 0;
                        b{
                            font-size: 22px;
                            font-weight: bold;
                            display: block;
                        }
                    }
                    .other{
                        padding-top: 5px;
                        .price{
                            display: block;
                            padding-top: 25px;
                            height: 55px;
                            position: relative;
                            color: #ffe100;
                            font-size: 18px;
                            i{
                                font-size: 38px;
                            }
                            b{
                                position: absolute;
                                right: -8px;
                                top:0;
                            }
                        }
                    }
                    
                }
            }
}
.s11tag{
    background: url("img/dest/bhltag.png") no-repeat;
    width: 106px;
    height: 112px;
    position: absolute;
    left: -4px;
    top:0;
    display: block;
    font-family: 'Microsoft YaHei';
}
.silderbar{
    background: url("img/dest/rightnav.png") no-repeat;
    width: 122px;
    height: 257px;
    position: fixed;
    top:150px;
    right:50px;
    padding: 88px 25px 0 15px;
     display: none;
     font-family: 'Microsoft YaHei';
    li{
        width: 120px;
        height: 26px;
        line-height: 26px;
        margin-bottom: 5px;
        text-align: center;
        a{
            font-size: 18px;
            color: #e4aaf7;
        }
    }
    .nav4{
        padding-top: 23px;
    }
    .active a, a:hover{
        color: #7af1fb;
        font-weight: bold;
    }
    .gotop{
        width: 80px;
        height: 40px;
        margin-left: 48px;
        cursor:pointer;
        a{
            display: block;
        }
    }

}
.ssyth{
    width: 136px;
    height: 35px;
    background: url(img/dest/ssyth.png) no-repeat;
    float: left;
}
//签到导航
.signNav{
  width:135px;
  height:80px;
  position: fixed;
  left:50px;
  top:150px;
  padding-top: 80px;
  background: url("./img/dest/leftnav.png") no-repeat top center;
  display: none;
  a{
    display: block;
    width:135px;
    height:37px;
    line-height: 37px;
    font-size: 18px;
    color: #e4aaf7;
    text-align: center;
    margin-bottom: 7px;
    font-family: 'Microsoft YaHei';
  }
  .active a,a:hover{
       color: #7af1fb;
       font-weight: bold;
  }
}
//签到弹框
.bg{
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.7;
    background: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}
.signBox{
  .signLi{
    position: fixed;
    width:600px;
    height:595px;
    background: url("./img/dest/signBG.png") no-repeat top center;
    left:50%;
    margin-left: -300px;
    top:50%;
    margin-top: -298px;
    z-index: 100;
    .signNun{
      width:150px;
      height:25px;
      line-height: 25px;
      font-size: 20px;
      color: #c0b2d5;
      margin:135px auto 0;
    }
    .signDate{
      width:500px;
      height:165px;
      margin: 0 auto;
      li{
        width:40px;
        box-sizing: border-box;
        float: left;
        margin:10px 30px 0;
        span{
          display: block;
          width:100%;
          height:20px;
          color: #c0b2d5;
          font-size: 16px;
          text-align: center;
          white-space: nowrap;
         &.icon_sign{
           margin: 5px 0;
         }
        }
        &.right .icon_sign{
          background: url("./img/dest/icon_right.png") no-repeat top center;
          background-size: 17px 17px;
        }
        &.snone .icon_sign{
          background: url("./img/dest/icon_none.png") no-repeat top center;
          background-size: 17px 17px;
        }
      }
    }
    .signBtn{
      width:140px;
      height:35px;
      background: #803ce4;
      -webkit-border-radius:18px;
      -moz-border-radius:18px;
      border-radius:18px;
      text-align: center;
      line-height: 35px;
      color: #fff;
      font-size: 18px;
      margin: 30px auto 0;
      cursor: pointer;
        &.notSign{
            background: #a3a3b2;
        }
    }
  }
}
//领取弹框
.recBox{
  .recAll{
    position: fixed;
    width:530px;
    height:790px;
    left:50%;
    margin-left: -265px;
    top:50%;
    margin-top: -395px;
    z-index: 200;
    &.tyk{
      background: url("./img/dest/tykBG_1.png") no-repeat top center;
    }
    &.xbk{
      background: url("./img/dest/xbkBG.png") no-repeat top center;
    }
    .warning{
      font-size: 20px;
      color: #989a99;
      margin-top:15px;
      i{
        float: left;
        display: block;
        width: 19px;
        height: 19px;
      }
      span{
        float: left;
        display: block;
        height:20px;
        line-height: 20px;
        margin-left:5px;
      }
    }
    .phoneBox{
      position: absolute;
      left:144px;
      top:317px;
      .warning i{
        background: url("./img/dest/icon_phone.png") no-repeat top center;
      }
    }
    .codeBox{
      position: absolute;
      left:144px;
      top:421px;
      width: 321px;
      .codeBtn{
        float: left;
        width:122px;
        height:54px;
        margin-left: 8px;
      }
      .codeIn{
        float: left;
        margin-top: 4px;
      }
      .warning{
        float: left;
        i{
          background: url("./img/dest/icon_qrcode.png") no-repeat top center;
        }
      }
    }
    .longIn{
      font-size: 20px;
      height:50px;
      line-height: 50px;
      border:none;
      text-indent: 12px;
      width:324px;
      background: url("./img/dest/input_long.png") no-repeat top center;
    }
    .shortIn{
      font-size: 20px;
      height:50px;
      line-height: 50px;    
      border:none;
      text-indent: 12px;
      width:191px;
      background: url("./img/dest/input_short.png") no-repeat top center;
    }
    .mainIn{
      position: absolute;
      &.cityIn{
        left:144px;
        top:238px;
      }
      &.nameIn{
        left:144px;
        top:531px;
      }
      &.addIn{
        left:144px;
        top:612px;
      }
    }
    .submit{
      position: absolute;
      top:698px;
      left:156px;
      width:193px;
      height:55px;
      background: url("./img/dest/icon_djtj.png") no-repeat top center;
      cursor: pointer;
    }
    .subBtn{
      position: absolute;
      top:698px;
      left:156px;
      width:192px;
      height:55px;
      background: url("./img/dest/icon_lqcg.png") no-repeat top center;
    }
    .closeBtn{
      position: absolute;
      top:0;
      right:0;
      width:52px;
      height:52px;
      cursor: pointer;
    }
  }
}
