<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>完善出游人_度假线路预订_同程旅游</title>
    <meta name="apple-itunes-app" content="app-id=475966832" />
    <% includeId = cnwidescreenjscss %>
    <link href="//css.40017.cn/cn/min/??/cn/v/2015/pcenter/pcenter.05184.css?v=2015051801" rel="stylesheet" type="text/css" />

    <!--出游人样式-->
    <link href="../ordertour/touristInfo.css" rel="stylesheet"  type="text/css" />
    <link href="./index.css" rel="stylesheet" type="text/css" />
    <style>
        .add-passenger{
            padding-left: 20px;
        }
    </style>
</head>

<body>
    <!-- 公共头部 开始 -->
    <% includeId = cnwidescreenhead?channel=dujia %>
    <!-- 公共头部 结束 -->
    <div class="content"></div>
        <form id="J_appointCom" name="commitAppoint" method="post" action="/dujia/orderappoint">
            <input type="hidden" name="SbuItems" id="formSub" value="">
        </form>
        <input name="hidCustomerSerialId" type="hidden" id="hidCustomerSerialId" value="102029494"/>
        <input name="hidOrderId" type="hidden" id="hidOrderId" value="266557"/>
        <input name="hidPassenger" type="hidden" id="hidPassenger" value=""/>
        <input name="hidBookDate" type="hidden" id="hidBookDate" value="2016-11-28"/>

        <div class="aspNetHidden">
            <div id="content">
                <div class="udiyblock" type="CommonSource">
                    <link href="//css.40017.cn/cn/c/order/c/orderComm.css?v=2015091502" rel="stylesheet" type="text/css">
                    <div class="order_left">
                        <a href="//member.ly.com/center/" onclick="_tcTraObj._tcTrackEvent('wdtc3010', 'pcmemberleft')">
                            <h3>我的同程</h3>
                        </a>
                         <div class="my_order">
                            <a href="//member.ly.com/center/order" onclick="_tcTraObj._tcTrackEvent('wddd3010', 'pcmemberleft')">我的订单</a>
                        </div>
                        <p class="hr"></p>
                        <div class="item my_means">
                            <div class=" down">我的财富</div>
                            <ul class="">
                                <li>
                                    <a href="//member.ly.com/center/bonusaccount" onclick="_tcTraObj._tcTrackEvent('jjzh3010', 'pcmemberleft')">奖金账户</a>
                                </li>
                                <li>
                                    <a href="//member.ly.com/center/travelcard/list" onclick="_tcTraObj._tcTrackEvent('tclyk3010', 'pcmemberleft')">同程旅游卡</a>
                                </li>
                                <li>
                                    <a href="//member.ly.com/center/redpacket" onclick="_tcTraObj._tcTrackEvent('wdhb3010', 'pcmemberleft')">我的红包</a>
                                </li>
                                <li>
                                    <a href="//member.ly.com/zizhuyou/WeekendCardOrderList.aspx" onclick="_tcTraObj._tcTrackEvent('wdzmk3010', 'pcmemberleft')">我的周末卡</a>
                                </li>
                                <li>
                                    <a href="//member.ly.com/dujia/DujiaOrderList.aspx" onclick="_tcTraObj._tcTrackEvent('wdcjb3010', 'pcmemberleft')">我的出境宝</a>
                                </li>
                            </ul>
                        </div>
                        <p class="hr"></p>
                        <div class="item person_center">
                            <div>个人中心</div>
                            <ul class="none">
                                <li>
                                    <a href="//member.ly.com/center/information" onclick="_tcTraObj._tcTrackEvent('wdxx3010', 'pcmemberleft')">我的信息</a></li>
                                <li>
                                    <a target="_blank" class="c_li_hot" href="//www.ly.com/vip" onclick="_tcTraObj._tcTrackEvent('wdczdj3010', 'pcmemberleft')">我的等级与消费</a>
                                </li>
                                <li>
                                    <a class="li_jointbg" href="//member.ly.com/center/favorites" onclick="_tcTraObj._tcTrackEvent('wdsc3010', 'pcmemberleft')">我的收藏</a>
                                </li>
                                 <li>
                                    <a href="//member.ly.com/center/comment" onclick="_tcTraObj._tcTrackEvent('wddp3010', 'pcmemberleft')">我的点评</a>
                                </li>
                                <li>
                                    <a href="//member.ly.com/center/brandedcard" onclick="_tcTraObj._tcTrackEvent('lmkbd3010', 'pcmemberleft')">联名卡绑定</a>
                                </li>
                                 <li>
                                    <a href="//member.ly.com/center/securitycenter/" onclick="_tcTraObj._tcTrackEvent('aqzx3010', 'pcmemberleft')">安全中心</a>
                                </li>
                            </ul>
                        </div>
                        <p class="hr"></p>
                        <div class="item comm_inf">
                            <div>常用信息管理</div>
                            <ul class="none">
                                <li>
                                    <a href="//member.ly.com/center/commonlinker" onclick="_tcTraObj._tcTrackEvent('cylk3010', 'pcmemberleft')">常用旅客</a>
                                </li>
                                <li>
                                    <a href="//member.ly.com/center/deliveryaddress" onclick="_tcTraObj._tcTrackEvent('yjdz3010', 'pcmemberleft')">邮寄地址</a>
                                </li>
                            </ul>
                        </div>
                        <p class="hr"></p>
                        <div class="my_page">
                            <a target="_blank" href="//go.ly.com/user/" onclick="_tcTraObj._tcTrackEvent('wdsqzy3010', 'pcmemberleft')">我的社区主页</a>
                        </div>
                        <p class="hr"></p>
                        <div class="item call_center">
                            <div>服务中心</div>
                            <ul class="none">
                                <li>
                                    <a target="_blank" href="//www.ly.com/flight/flightyuyue.aspx" onclick="_tcTraObj._tcTrackEvent('jpyy3010', 'pcmemberleft')">机票预约</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <input name="TypeId" type="hidden" id="TypeId" value="0">
                    <script type="text/javascript" src="//js.40017.cn/cn/c/order/c/orderComm.js?v=20150100801"></script>
                </div>
                <!--签约参数 - 出游人-->
                <input name="hidPassenger" type="hidden" id="hidPassenger" value=""/>
                <!--右边出游人显示-->
                <div class="right_tour">
                    <!--电子签约-->
                    <p class="tit_a">电子签约</p>
                    <div class="order_conbg"></div>

                </div>
            </div>
        </div>
        <!--提示信息-->
        <div class="tooltip-bubble" id="tipForZhName" style="display: none">
            <div class="tooltip-bubble-content">
                <ul class="order-tips">
                    <li><em>1.</em><span>乘客姓名必须与所持证件一致。</span></li>
                    <li><em>2.</em><span>名字中含生僻字可直接输入拼音代替。例：“王鬳”可输入为“王 yan”或者“王-yan”。</span></li>
                    <li><em>3.</em><span>姓名中不可含有称谓等词语，如：小姐、先生、太太、夫人等。</span></li>
                    <li><em>4.</em><span>中文姓名不可少于 2 个汉字，英文姓名不可少于 2 个英文单词。</span></li>
                </ul>
            </div>
            <div class="tooltip-bubble-arrow tooltip-bubble-arrow-top">
                <div class="tooltip-bubble-arrow-before"></div>
                <div class="tooltip-bubble-arrow-after"></div>
            </div>
        </div>
        <div class="tooltip-bubble" id="tipForEnName" style="display: none">
            <div class="tooltip-bubble-content">
                <ul class="order-tips">
                    <li><em>1.</em><span>必须用英文字母填写，并确保与所持证件一致。</span></li>
                    <li>
                        <em>2.</em><span>请以姓在前名在后的方式填写，如乘客姓名为诸葛亮，则在“姓（拼音或英文）”栏中输入 ZhuGe （注：复姓中无空格或特殊符号）；在“名（拼音或英文）”栏中输入 Liang。如乘客姓名为 Green（姓）/Jim（名） Stephanie（中间名），则在“姓（拼音或英文）”栏中输入 Green；在“名（拼音或英文）”栏中输入 JimStephanie（注：中间名需空一格紧随名之后）。</span>
                    </li>
                    <li><em>3.</em><span>英文名字的长度不可超过 26 个字符，如名字过长请使用缩写，乘客的姓氏不能缩写，名可以缩写。姓氏中如包括空格请在输入时删掉空格。</span></li>
                    <li><em>4.</em><span> 英文姓名不可少于 2 个英文单词。</span></li>
                </ul>
            </div>
            <div class="tooltip-bubble-arrow tooltip-bubble-arrow-top">
                <div class="tooltip-bubble-arrow-before"></div>
                <div class="tooltip-bubble-arrow-after"></div>
            </div>
        </div>
        <div class="clear_float"></div>
    </div>
    <!-- 公共页脚 开始 -->
    <% includeId = cnwidescreenfoot?vrcode=10002-2006-0 %>
    <!-- 公共页脚 结束 -->

   <script type="text/javascript" data-loader="true" src="//js.40017.cn/cn/min/??/cn/v/2015/jqmodules/jquery.js?v=20150413"></script>

    <script data-loader="true" src="//modules/sea.js"></script>

    <script>
        var pageurl = 'https://passport.ly.com/?pageurl=' + location.href;
        $(".loginout").attr({"href":pageurl});
        seajs.require("./index");
    </script>

    <script type="text/javascript" src="//js.40017.cn/cn/min/??/cn/v/2015/modules/dot/1.0.3/dot.js?v=20150413" charset="utf-8"></script>

    <script type="text/javascript">
    window.host = "//www.ly.com";
    fish.admin.config({
        verify: {
            v: "0.4.1",
            css: 1,
            g: 2012082123
        }
    });
    </script>

    <script src="//js.40017.cn/cn/min/??/cn/v/public/2014/sliderBar/InterVacationPublic.js?v=2014112101" charset="utf-8"></script>
</body>

</html>
