.right_tour{
    width: 990px;
    float: right;
    border:solid 1px #dedede;
    margin-bottom: 20px;
    min-height: 460px;
}
p.tit_a{
    color: #333;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    margin: 0 0 20px 0;
    height: 32px;
    background: #f0f0f0;
    line-height: 32px;
    padding-left: 10px;
}
.order_conbg .o_tip{
    font-size: 14px;
    margin-left: 20px;
}
.appoint_tip{
    font-family: "Microsoft Yahei";
    margin-bottom: 14px;
    .tip_con{
        width: 920px;
        color: #926f24;
        background: #fff7dc;
        height: 33px;
        line-height: 33px;
        border: solid 1px #f4e09f;
        font-size: 14px;
        padding-left: 10px;
        margin: 0 0 0 20px;
    }
}
.go_appoint{
    height: 36px;
    line-height: 36px;
    padding: 0 0 20px 20px;

    span{
        display: inline-block;
        color:#666;
    }
    a{
        display: inline-block;
        width:130px;
        height: 34px;
        line-height: 34px;
        background: #ff7800;
        color: #fff;
        text-align: center;
        float: right;
        font-size: 16px;
        border-radius: 2px;
        margin-right: 48px;
    }
    a:hover{
        text-decoration: none;
    }
}
.add-passenger{
    padding-left: 20px;
    width: 920px;
    .pas_tit{
        font-weight: bold;
    }
}
.fail_tip_s{
    font-family: "Microsoft Yahei";
    padding: 95px 0 0 50px;
    font-size: 16px;
    color: #333;
    p{
        position: relative;
        padding: 0 50px 0 56px;
        height: 66px;
        em{
            display: inline-block;
            position: absolute;
            left: 0;
            background: url(img/dest/order_pop.png) no-repeat;
            background-position: 0px -18px;
            height: 70px;
            width: 54px;
        }
        span{
            display: inline-block;
            padding-top: 20px;
            margin-left: 8px;
        }
    }
}
.appoint_load{
    display: inline-block;
    background: url(//img1.40017.cn/cn/comm/images/cn/public/transparent_loading_v2.gif) no-repeat;
    padding-left: 100px;
    height: 70px;
    margin: 0 auto;
    line-height: 70px;
    font-size: 16px;
    margin-top: 42px;
    margin-left:10px;
}
