<script src="//js.40017.cn/cn/min/??/touch/cn/y/common/flexible_css.js"></script>
<script src="//js.40017.cn/cn/min/??/touch/cn/y/common/flexible.js?v=03161707"></script>
<link rel="stylesheet" type="text/css" href="//css.40017.cn/touch/public/common/0.1.0/common.0.1.css?v=201601300031" />
<script type="text/javascript" src="//js.40017.cn/touch/public/zepto.1.2.0.js"></script>
<meta name="full-screen" content="yes">
<meta name="browsermode" content="application">
<meta name="x5-orientation" content="portrait">
<meta name="x5-fullscreen" content="true">
<meta name="x5-page-mode" content="app">