<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>包团定制</title>
    <% includeId = cnwidescreenjscss %>
    <script type="text/javascript" src="//js.40017.cn/cn/min/??/cn/v/2015/jqmodules/jquery.js"></script><!--ignore-->
    <link href="./index.css" rel="stylesheet" ><!--ignore-->
</head>

<body>
    <!-- 公共头部 start -->
    <% includeId = cnwidescreenhead?channel=zhuanxian %>
    <!-- 公共头部 end -->
    <div class="container">
        <div class="cus-top">
            <div class="cus-topSlider">
                <div class="cus-middle">
                    <div class="cus-topBtn">
                        <a href="#formCntent" class="cus-topBtn-left" data-id='1'>个人定制</a>
                        <a href="#formCntent" class="cus-topBtn-right" data-id='2'>公司定制</a>
                    </div>
                    <div class="cus-autoInfo">
                        <ul>
                            <li>定制师<em>万玲</em>已为<em>150xxxx5876</em>成功定制56人游</li>
                            <li>定制师<em>陈晨</em>已为<em>189xxxx6896</em>成功定制355人游</li>
                            <li>定制师<em>尤鹏程</em>已为<em>139xxxx2368</em>成功定制22人游</li>
                            <li>定制师<em>严明月</em>已为<em>151xxxx8976</em>成功定制14人游</li>
                            <li>定制师<em>张星悦</em>已为<em>189xxxx5780</em>成功定制590人游</li>
                            <li>定制师<em>陈涛</em>已为<em>181xxxx0876</em>成功定制5人游</li>
                            <li>定制师<em>高倩倩</em>已为<em>138xxxx4689</em>成功定制10人游</li>
                            <li>定制师<em>汪璇璇</em>已为<em>180xxxx5790</em>成功定制930人游</li>
                            <li>定制师<em>王梅</em>已为<em>158xxxx5780</em>成功定制75人游</li>
                            <li>定制师<em>傅宝宗</em>已为<em>180xxxx4763</em>成功定制35人游</li>
                        </ul>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="cus-topTab clearfix J_topTab">
            <ul>
                <li>
                    <p class="cur">服务内容</p> 
                </li>
                <li>
                    <p>优秀案例</p> 
                </li>
                <li>
                    <p>专属顾问</p>
                </li>
            </ul>
        </div>
        <div class="cus-content">

            <div class="cus-infos">

                <div class="cus-infosItem">
                    <div class="cus-infosItem-title">
                        <p>服务内容</p>
                        <span>Considerate Service</span>
                    </div>
                    <div class="cus-infosItem-main cus-infosItem-left clearfix">
                        <ul>
                            <li>
                                <div class="infos">
                                    <img src="./img/dest/info-1.png">
                                    <p>专业定制</p>
                                    <span>行程自由 私家导游</span>
                                    <span>价格透明 极致体验</span>
                                </div>
                            </li>
                            <li>
                                <div class="infos-pic">
                                    <img src="./img/dest/info-pic1.png">
                                </div>
                            </li>
                            <li>
                                <div class="infos">
                                    <img src="./img/dest/info-2.png">
                                    <p>会议策划</p>
                                    <span>流程管理 视觉设计</span>
                                    <span>场地搭建 现场执行</span>
                                </div>
                            </li>
                            <li>
                                <div class="infos-pic">
                                    <img src="./img/dest/info-pic2.png">
                                </div>
                            </li>
                            <li>
                                <div class="infos">
                                    <img src="./img/dest/info-3.png">
                                    <p>交流访问</p>
                                    <span>专业培训 高端论坛</span>
                                    <span>学术交流 行业座谈</span>
                                </div>
                            </li>
                            <li>
                                <div class="infos-pic">
                                    <img src="./img/dest/info-pic3.png">
                                </div>
                            </li>
                            <li>
                                <div class="infos">
                                    <img src="./img/dest/info-4.png">
                                    <p>奖励旅游</p>
                                    <span>方案设计 团队建设</span>
                                    <span>活动策划 应急预案</span>
                                </div>
                            </li>
                            <li>
                                <div class="infos-pic">
                                    <img src="./img/dest/info-pic4.png">
                                </div>
                            </li>
                            <li>
                                <div class="infos">
                                    <img src="./img/dest/info-4.png">
                                    <p>展览服务</p>
                                    <span>展台搭建 展品运输</span>
                                    <span>生活接待 翻译服务</span>
                                </div>
                            </li>
                            <li>
                                <div class="infos-pic">
                                    <img src="./img/dest/info-pic5.png">
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="cus-infosItem none">
                    <div class="cus-infosItem-title">
                        <p>优秀案例</p>
                        <span>Excellent Case</span>
                    </div>
                    <div class="cus-infosItem-main cus-infosItem-mid clearfix">
                        <ul>
                            <li>
                                <img src="./img/dest/info-pic6.png">
                                <div class="infos">
                                    <div class="infos-top clearfix">
                                        <p>欢乐谷千人游</p>
                                        <span>时  间 <em style="margin-left: 11px;">2016.04</em></span>
                                        <span>目的地 <em>上海</em></span>
                                        <span>人  数 <em style="margin-left: 11px;">1100人</em></span>
                                    </div>
                                    <div class="infos-bottom">
                                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;某公司的春季团队旅游方案，成功当日发团29车，1000余人畅通无忧一次性入园，得到了企业客户的一致好评。为该企业定制个性化报名系统，配合业务方提供贴心服务，彰显同程服务精神。 </p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <img src="./img/dest/info-pic7.png">
                                <div class="infos">
                                    <div class="infos-top clearfix">
                                        <p>南极跨年经典之旅</p>
                                        <span>时  间 <em style="margin-left: 11px;">2017.01</em></span>
                                        <span>目的地 <em>南极</em></span>
                                        <span>人  数 <em style="margin-left: 11px;">180人</em></span>
                                    </div>
                                    <div class="infos-bottom">
                                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;惊喜的生日PARTY，精美的百旅会VIP生日蛋糕，寿星们得到了船长的祝福；同程贵宾挥舞着五星红旗，举着酒杯齐聚庆新年，引得外国人对中国文化羡慕不已；迎春纳福书法活动，借南极之灵气，大家一展豪情，挥毫泼墨。</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <img src="./img/dest/info-pic8.png">
                                <div class="infos">
                                    <div class="infos-top clearfix">
                                        <p>企业精英共赴国宴</p>
                                        <span>时  间 <em style="margin-left: 11px;">2016.09</em></span>
                                        <span>目的地 <em>北京</em></span>
                                        <span>人  数 <em style="margin-left: 11px;">150人</em></span>
                                    </div>
                                    <div class="infos-bottom">
                                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;知名地产公司优秀员工奖励旅游，包团定制负责全程策划接待。鲜花横幅的隆重接机、众人一家酒店的贴心安排、旅游国宴两不误的行程规划无不彰显出同程客户第一的价值理念。</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <img src="./img/dest/info-pic9.png">
                                <div class="infos">
                                    <div class="infos-top clearfix">
                                        <p>公司举办境外年会</p>
                                        <span>时  间 <em style="margin-left: 11px;">2017.02</em></span>
                                        <span>目的地 <em>民丹岛</em></span>
                                        <span>人  数 <em style="margin-left: 11px;">80人</em></span>
                                    </div>
                                    <div class="infos-bottom">
                                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;负责企业公司年会，由同程包团负责接待。一站式完成酒店房型，酒店楼层，船票时间，境外年会场所的预订，安排餐饮，酒水。负责策划该公司晨跑活动，游玩与健康同行。</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="cus-infosItem none">
                    <div class="cus-infosItem-title">
                        <p>专属顾问</p>
                        <span>Exclusive Designer</span>
                    </div>
                     <div class="cus-infosItem-main cus-infosItem-right poster-main">
                        <div class="poster-btn poster-prev-btn"></div>
                        <ul class="poster-list">
                            <li class="poster-item">
                                <img src="./img/dest/cus-gw1.png" alt="">
                            </li>
                            <li class="poster-item">
                                 <img src="./img/dest/cus-gw2.png" alt="">
                            </li>
                            <li class="poster-item">
                                 <img src="./img/dest/cus-gw3.png" alt="">
                            </li>
                            <li class="poster-item">
                                 <img src="./img/dest/cus-gw5.png" alt="">
                            </li>
                            <li class="poster-item">
                                 <img src="./img/dest/cus-gw6.png" alt="">
                            </li>
                        </ul>
                        <div class="poster-btn poster-next-btn"></div>
                        </div>
                     </div>
                </div>

            </div>

            <div class="cus-flow">  
                <ul>
                    <li>
                        <img src="./img/dest/cus-flow1.png" alt="">
                        <p>填写需求</p>
                    </li>
                    <li class="cus-flowLine">
                        <img src="./img/dest/cus-flow0.png" alt="">
                    </li>
                    <li>
                        <img src="./img/dest/cus-flow2.png" alt="">
                        <p>定制行程</p>
                    </li>
                    <li class="cus-flowLine">
                        <img src="./img/dest/cus-flow0.png" alt="">
                    </li>
                    <li>
                        <img src="./img/dest/cus-flow3.png" alt="">
                        <p>签约付款</p>
                    </li>
                    <li class="cus-flowLine">
                        <img src="./img/dest/cus-flow0.png" alt="">
                    </li>
                    <li>
                        <img src="./img/dest/cus-flow4.png" alt="">
                        <p>快乐出游</p>
                    </li>
                </ul>
            </div>

            <div class="cus-formContent" id='formCntent'>
                <div class="cus-form clearfix">

                    <div class="cus-formLeft">
                        <div class="cus-formLeft-title clearfix">
                            <h3>需求信息</h3>
                            <p>专业定制师将在1小时内与您取得联系</p>
                        </div>
                        <ul class="cus-formLeft-main clearfix">
                            <li class="cus-formLi">
                                <label>出游规模：</label>
                                <div class="cus-component J_cusType">
                                    <span class="cus-select cur" data-id='1'>个人定制</span>
                                    <span class="cus-select" data-id='2'>公司定制</span>
                                </div>
                            </li>
                            <li class="cus-formLi">
                                <label>出发地：</label>
                                <div class="cus-component">
                                    <div class="citybox J_startCity">
                                        <input class='cus-input J_cusDep J_cusStart' value="{{?IT.CityName}}{{=IT.CityName}}{{?}}" 
                                        data-cityid="{{?IT.CityID}}{{=IT.CityID}}{{?}}"
                                        type="text" name="" placeholder="请选择您的出发地" readonly>
                                    </div>
                                    <span class="cus-Cinput"><i></i>请选择您的出发地</span>
                                </div>
                            </li>
                            <li class="cus-formLi">
                                <label>目的地：</label>
                                <div class="cus-component">
                                    <div class="citybox J_endCity">
                                        <input class='cus-input J_cusDep J_cusEnd' projectid="-1" type="text" name="" placeholder="请选择您的目的地" readonly>
                                    </div>
                                    <span class="cus-Cinput"><i></i>请选择您的目的地</span>
                                </div>
                            </li>
                            <li class="cus-formLi">
                                <label>出发时间：</label>
                                <div class="cus-component">
                                    <input class='cus-input J_cusTime' type="text" name="" placeholder="请选择您的大概出游日期" readonly>
                                    <span class="cus-Cinput"><i></i>请选择您的大概出游日期</span>
                                </div>
                            </li>
                            <li class="cus-formLi">
                                <label>出游天数：</label>
                                <div class="cus-component">
                                    <span class="cus-countBox">
                                        <span class="cus-count clearfix">
                                            <span class='cus-minCount disCount J_minCount'></span>
                                            <input class="cus-countShow J_PlayDays" type="text" readonly value='1' data-id='1'>
                                            <span class='cus-maxCount J_maxCount'></span>
                                        </span>
                                        天
                                    </span>
                                </div>
                            </li>
                            <li class="cus-formLi">
                                <label>出游人数：</label>
                                <div class="cus-component">
                                    <span class="cus-countBox">
                                        <span class="cus-count clearfix">
                                            <span class='cus-minCount disCount J_minCount J_num'></span>
                                            <input class="cus-countShow J_adult" type="text" readonly value='1' data-id='1'>
                                            <span class='cus-maxCount J_maxCount J_num'></span>
                                        </span>
                                        成人
                                    </span>
                                    <span class="cus-countBox">
                                        <span class="cus-count clearfix">
                                            <span class='cus-minCount disCount J_minCount J_num'></span>
                                            <input class="cus-countShow J_child" type="text" readonly value='0' data-id='0'>
                                            <span class='cus-maxCount J_maxCount J_num'></span>
                                        </span>
                                        儿童
                                    </span>
                                </div>
                            </li>
                            <li class="cus-formLi">
                                <label>人均消费：</label>
                                <div class="cus-component cus-selectBox J_cusCost">
                                    <span class="cus-select cur" data-min='1' data-max='499'>1-499</span>
                                    <span class="cus-select" data-min='500' data-max='999'>500-999</span>
                                    <span class="cus-select" data-min='1000' data-max='4999'>1000-4999</span>
                                    <span class="cus-select" data-min='5000' data-max='9999'>5000-9999</span>
                                    <span class="cus-select" data-min='10000' data-max='14999'>10000-14999</span>
                                    <span class="cus-select" data-min='15000' data-max='19999'>15000-19999</span>
                                    <span class="cus-select" data-min='20000' data-max='100000'>20000以上</span>
                                    <span class="cus-select" data-min='' data-max=''>不确定</span>
                                </div>
                            </li>
                            <li class="cus-formLi">
                                <label>联系人：</label>
                                <div class="cus-component">
                                    <input class='cus-input text-input J_cuskeyup J_CustomerName' type="text" name="" placeholder="请输入联系人姓名">
                                    <span class="cus-Cinput"><i></i>请输入联系人姓名</span>
                                </div>
                            </li>
                            <li class="cus-formLi">
                                <label>联系电话：</label>
                                <div class="cus-component">
                                    <input class='cus-input text-input J_cuskeyup J_CustomerMobile' type="text" name="" placeholder="请输入联系电话" maxlength="11">
                                    <span class="cus-Cinput"><i></i>请输入联系电话</span>
                                </div>
                            </li>
                            <li class='TeamOrCompanyName none'>
                                <label>企业名称：</label>
                                <div class="cus-component">
                                    <input class='cus-input text-input J_cuskeyup J_TeamOrCompanyName' type="text" name="" placeholder="请输入企业名称">
                                    <span class="cus-Cinput"><i></i>请输入企业名称</span>
                                </div>
                            </li>
                        </ul>
                        <div class="cus-submit J_cusSave">提交</div>
                    </div>

                    <div class="cus-formRight">
                        <h3>需求清单</h3>
                        <ul class="cus-formRight-list J_formList">
                            <li>
                                <label>出游规模：</label>
                                <span>个人定制</span>
                                <em class="check_valid"></em>
                            </li>
                             <li>
                                <label>出发地：</label>
                                <span>{{?IT.CityName}}{{=IT.CityName}}{{?}}</span>
                                <em {{?IT.CityName}}class="check_valid"{{?}}></em>
                            </li>
                             <li>
                                <label>目的地：</label>
                                <span></span>
                                <em></em>
                            </li>
                             <li>
                                <label>出游时间：</label>
                                <span></span>
                                <em></em>
                            </li>
                             <li>
                                <label>游玩天数：</label>
                                <span>1</span>
                                <em class="check_valid"></em>
                            </li>
                             <li>
                                <label>出游人数：</label>
                                <span>1</span>
                                <em class="check_valid"></em>
                            </li>
                             <li>
                                <label>人均预算：</label>
                                <span>1-499</span>
                                <em class="check_valid"></em>
                            </li>
                             <li>
                                <label>联系人：</label>
                                <span></span>
                                <em></em>
                            </li>
                             <li>
                                <label>联系电话：</label>
                                <span class="check_phone"></span>
                                <em></em>
                            </li>
                            <li class="teamOrCompanyName none">
                                <label>企业名称：</label>
                                <span></span>
                                <em></em>
                            </li>
                        </ul>
                        <div class='cus-tag'>◆</div>
                    </div>
                    
                </div>
            </div>

            <div class="cus-foot">
                <ul class="clearfix">
                    <li>
                        <img src="./img/dest/cus-foot1.png" alt="">
                        <p>专属定制</p>
                        <span>全国出发，2人成行</span>
                        <span>极致深度，兴趣细分</span>
                    </li>
                    <li>
                        <img src="./img/dest/cus-foot2.png" alt="">
                        <p>出行无忧</p>
                        <span>全程专车，随时出发</span>
                        <span>随走随停，全程掌控</span>
                    </li>
                    <li>
                        <img src="./img/dest/cus-foot3.png" alt="">
                        <p>贴身管家</p>
                        <span>7x24h</span>
                        <span>定制顾问，随时同行</span>
                    </li>
                    <li>
                        <img src="./img/dest/cus-foot4.png" alt="">
                        <p>尊贵享受</p>
                        <span>多元深度，高端品质</span>
                        <span>全程无自费无购物</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="cus-mask"></div>
    <div class="cus-dialog J_sucTip">
        <div class="cus-dialong-content clearfix">
            <i class="icon-suc"></i>
            <div class="content-suc J_suc">
                <span>您的需求已经提交成功，</span>
                <span>一小时内会有专属顾问与您联系！</span>
            </div>
            <div class="content-suc J_repeat">
                <span>您的需求已提交，请勿重复操作，</span>
                <span>一小时内会有专属顾问与您联系！</span>
            </div>
        </div>
        <div class="cus-dialog-btn">
            确定
        </div>
        <div class="cus-dialog-close"></div>
    </div>
    <div class="cus-dialog J_wramTip">
        <div class="cus-dialong-content clearfix">
            <i class="icon-wram"></i>
            <div class="content-wram">
                <span>提交失败！</span>
            </div>
        </div>
        <div class="cus-dialog-close"></div>
    </div>

    <!-- 公共页脚 开始 -->
    <% includeId = cnwidescreenfoot?vrcode=10002-2006-0 %>
    <!-- 公共页脚 结束 -->

    <script src="/modules/sea.js" data-loader="true" type="text/javascript"></script>
    <script type="text/javascript" src="//js.40017.cn/cn/min/??/cn/public/jquery/calendar/0.0.1/calendar.js?v=2015072201" charset="utf-8"></script>
    <script type="text/javascript">
        seajs.require("./index").init();
    </script>
</body>
</html>