.header {
    .title {
        width: 100%;
    }
}
code{
  margin: 0 2px;
  padding: 0 5px;
  white-space: nowrap;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  border-radius: 3px;
}

pre {
    background-color: #303030;
    font-size: 13px;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;

    code {
        margin: 0;
        padding: 0;
        white-space: pre;
        border: none;
        background: transparent;
        color: #f2f2f2;     
        font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal;
        margin-bottom: 30px;
        font-size: 14px;
    }
}

