<!DOCTYPE html>
<html>

<head>
  <meta charset=utf-8>
  <meta name=viewport content="width=device-width,initial-scale=1">
  <title>爱购保</title>
  <link href="//file.40017.cn/baoxian/agb-mobile/2017120901/css/app.css?v={{random}}" rel=stylesheet>
</head>

<body>
  <div id=app></div>
  <script type=text/javascript src=//file.40017.cn/baoxian/agb-mobile/2017120901/js/manifest.js?v={{random}}></script>
  <script type=text/javascript src=//file.40017.cn/baoxian/agb-mobile/2017120901/js/vendor.js?v={{random}}></script>
  <script type=text/javascript src=//file.40017.cn/baoxian/agb-mobile/2017120901/js/app.js?v={{random}}></script>
</body>

</html>
