* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    width: 100%;
    height: 100%;
    font: 12px/1.5 'Microsoft YaHei', 'PingFang SC', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: #e9712b;
}

body {
    min-width: 1200px;
    position: relative;
}

ul {
    list-style: none;
}

img {
    display: block;
    vertical-align: top;
}

a {
    text-decoration: none;
    cursor: pointer;
}

em,
i {
    font-style: normal;
}

.both {
    width: 100%;
    overflow: hidden;
    font: 14px '微软雅黑', 'microsoft yahei ui', sans-serif;
    position: relative;
    background: #e9712b;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: '';
}

.clearfix:after {
    clear: both;
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.multi-ellipsis--l2,
.multi-ellipsis--l3,
.multi-ellipsis--l4,
.multi-ellipsis--l5,
.multi-ellipsis--l7 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical
}

.multi-ellipsis--l2 {
    -webkit-line-clamp: 2
}

.multi-ellipsis--l3 {
    -webkit-line-clamp: 3
}

.multi-ellipsis--l4 {
    -webkit-line-clamp: 4
}

.multi-ellipsis--l5 {
    -webkit-line-clamp: 5
}

.multi-ellipsis--l7 {
    -webkit-line-clamp: 7
}

.noData {
    text-align: center;
    font-size: 28px;
    width: 380px;
    margin: 0 auto;
    margin-top: 60px;
    line-height: 46px;
}

.loader img {
    width: 50px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 5px;
}

.loadImg {
    text-align: center;
}

.loadImg img {
    display: block;
    width: 100px;
    margin: 100px auto 0;
}

.none {
    display: none;
}

.imgbg {
    position: relative;
    left: 50%;
    top: 0;
    margin-left: -960px;
    display: block;
}

.top {
    position: relative;
}

.section {
    position: relative;
}

.section1 {
    position: absolute;
    left: 0;
    width: 100%;
}

.section1,
.section2 {
    top: 0;
    height: 100%;
}

.tit,
.titsub {
    margin: 0 auto;
}

.section .tit {
    width: 1000px
}

/* .section1 .tit {
    margin-top: 25px;
}

.section2 .tit {
    margin-top: 32px;
} */


.tit img {
    width: 100%;
}

.sectionCon {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}

.mSlider_nav_circle {
    bottom: 0;
    background: none;
    z-index: 200;
}

.mSlider_nav_circle:after,
.mSlider_nav_circle:before {
    background: none;
}

.mSlider_nav_circle li {
    margin-left: 16px;
    width: 20px;
    height: 20px;
    overflow: hidden;
    border-radius: 10px;
    background: #999;
}

.mSlider_nav_circle li.current {
    background: #ff9900;
}

/* top */
/* .top {
    width: 100%;
    overflow: hidden;
    position: relative
} */

/* 印象 */
.section1Con .voide {
    margin-top: 54px;
}

.section1Con .voide .left {
    position: relative;
    float: left;
    width: 608px;
    height: 358px;
    background: #000;
}

.section1Con .voide video {
    width: 100%;
    height: 100%;
}

.section1Con .voide .right {
    position: relative;
    float: right;
    width: 377px;
    height: 358px;
    background: #fff;
}

.section1Con .voide .title {
    padding: 30px 0 15px 25px;
    border-bottom: 1px solid #ecddfb;

}

.section1Con .voide .title em {
    margin-right: 8px;
    display: inline-block;
    vertical-align: middle;
    width: 2px;
    height: 18px;
    background: #a25bff;
}

.section1Con .voide .title span {
    display: inline-block;
    vertical-align: middle;
    font-size: 24px;
    color: #a25bff;
}

.section1Con .voide .txt {
    margin: 14px 20px;
    height: 203px;
    font-size: 16px;
    line-height: 29px;
    color: #67707a;
    overflow: hidden;
    box-sizing: border-box;
}

.section1Con .voide .bottom {
    padding-right: 10px;
    text-align: right;
}

.section1Con .voide .link {
    display: inline-block;
    padding-left: 14px;
    padding-right: 10px;
    height: 25px;
    line-height: 25px;
    font-size: 20px;
    color: #a25bff;
    border-radius: 25px;
    border: 1px solid #a25bff;
}

.section1Con .voide .right .infos {
    height: 337px;
    overflow: hidden;
}

.section1Con .voide .right .info {
    display: block;
    width: 100%;
    height: 68px;
    line-height: 68px;
    margin-bottom: 10px;
    background: url('//img1.40017.cn/cn/s/2019/zt/pc/190816/btn1.png')
}

.section1Con .voide .right .info:hover {
    background: url('//img1.40017.cn/cn/s/2019/zt/pc/190816/btn1_hover.png')
}

.section1Con .voide .right .info>div {
    float: left;
    color: #fff;
    font-size: 18px;
}

.section1Con .voide .right .info .index {
    margin-left: 27px;
    margin-right: 8px;
    width: 28px;
    height: 68px;
    line-height: 68px;
    text-align: center;
    font-size: 16px;
    color: #f8d58d;
}

.section1Con .voide .right .info:hover .index {
    color: #fff;
}

.section1Con .voide .right .info .con {
    width: 220px;
    color: #a65d00;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.section1Con .voide .right .info:hover .con {
    color: #fff;
}

.section1Con .sourceCon {
    margin-top: 30px;
}

.section1Con .sourceCon {
    position: relative;
}

.section1Con .sourceCon .img {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 455px;
    height: 285px;
    padding: 10px;
    background: #e9712b;
}

.section1Con .sourceCon .intro {
    position: absolute;
    top: 35px;
    left: 510px;
    width: 455px;
}

.section1Con .sourceCon .title {
    font-size: 30px;
    color: #fc782b;
    text-align: center;
}

.section1Con .sourceCon .text {
    margin-top: 10px;
    font-size: 16px;
    line-height: 30px;
    overflow: hidden;
}

.section1Con .slider {
    width: 1000px;
    height: 390px;
    margin: 0 auto;
}

.section1Con .slider .source {
    width: 1000px;
    height: 346px;
    overflow: hidden;
}

.section1Con .slider .source .slider_ul li {
    width: 1000px;
    height: 346px;
    overflow: hidden;
    border-radius: 10px;
    background: #fff;
    box-sizing: border-box;
}

/* 畅游 */
.section2Con {
    padding-bottom: 60px;
}

.section2Con .tabs {
    margin-top: 40px;
    text-align: center;
}

.section2Con .tabs .tab {
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
    width: 250px;
    height: 66px;
    line-height: 66px;
    font-size: 36px;
    color: #df702e;
    text-align: center;
    cursor: pointer;
    background: #ffcc00;
    border-radius: 66px;
    box-shadow: 0 8px 10px -5px rgba(49, 69, 89, 0.1);
}

.section2Con .tabs .tab:hover,
.section2Con .tabs .active {
    background: #ffff66;
}

.section2Con .sourceCon {
    margin-top: 34px;
}

.section2Con .detail {
    float: left;
    margin-right: 17px;
    margin-bottom: 20px;
}

.section2Con .detail:nth-child(3n) {
    margin-right: 0;
}

.section2Con .source {
    padding: 5px;
    width: 320px;
    height: 302px;
    background: #fff;
    box-sizing: border-box;
}

.section2Con .source .img {
    width: 310px;
    height: 200px;
}

.section2Con .source .img img {
    width: 100%;
    height: 100%;
}

.section2Con .source .title {
    margin: 6px 5px 0 5px;
    font-size: 14px;
    color: #666;
    height: 40px;
    overflow: hidden;
}

.section2Con .source .bottom {
    margin: 4px 5px 0 5px;
    text-align: center;
}

.section2Con .source .left {
    float: left;
    font-size: 16px;
    color: #000;
}

.section2Con .source .left span {
    color: #ff8100;
    font-size: 22px;
}

.section2Con .source .left em {
    font-weight: bold;
    font-size: 30px;
}

.section2Con .source .right {
    float: right;
}

.section2Con .source .btn {
    display: inline-block;
    width: 134px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    background: #f9893f;
    border-radius: 5px;
}

.section2Con .source .btn:hover {
    background: #ff6f10;
}

.section2Con .sourceCon .more {
    margin: 0 auto;
    margin-top: 10px;
    width: 340px;
    text-align: center;
    border-radius: 72px;
    border: 4px solid #ffcc00;
}

.section2Con .sourceCon .link {
    display: inline-block;
    vertical-align: middle;
    height: 72px;
    line-height: 72px;
    font-size: 36px;
    color: #ffcc00;
}

.section2Con .sourceCon .arrow {
    margin-left: 15px;
    display: inline-block;
    vertical-align: middle;
    width: 17px;
    height: 18px;
}

/* footer */
.foot {
    padding-bottom: 150px;
    color: #fff;
}