@charset "UTF-8";
a,
a:hover {
  text-decoration: none;
}
.content {
  width: 960px;
  margin: 20px auto 0;
  font-family: "microsoft yahei", "WenQuanYi Micro Hei", sans-serif !important;
  font-size: 16px;
  min-height: 300px;
}
.content .tit {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-align: center;
}
.content .contract_con {
  position: relative;
}
.content .contract_con .suc_fail {
  font-size: 24px;
  width: 200px;
  height: 44px;
  line-height: 44px;
  background: url("img/dest/c_tip.png") no-repeat;
  background-size: 44px 44px;
  padding-left: 60px;
  margin: 0 auto;
}
.content .contract_con .tip_fail {
  text-align: center;
}
