html,
body {
  height: 100%;
}
.explain {
    height:100%;
    padding: 30px;
    background: #fff;
    line-height: 46px;
    .title {
        font-size: 26px;
        color: #333;
        margin-top: 20px;
    }
    .content {
        font-size: 24px;
        color: #666;
    }
    .pic1 {
        text-align: center;
        img {
            width: 80%;
        }
    }
}
