@charset "UTF-8";

/* 
                                                                    
                                                                    
  _______   ______   ______ ____   ______ ____    ______   _______  
 /       \ /      \ |      \    \ |      \    \  /      \ |       \ 
|  $$$$$$$|  $$$$$$\| $$$$$$\$$$$\| $$$$$$\$$$$\|  $$$$$$\| $$$$$$$\
| $$      | $$  | $$| $$ | $$ | $$| $$ | $$ | $$| $$  | $$| $$  | $$
| $$_____ | $$__/ $$| $$ | $$ | $$| $$ | $$ | $$| $$__/ $$| $$  | $$
 \$$     \ \$$    $$| $$ | $$ | $$| $$ | $$ | $$ \$$    $$| $$  | $$
  \$$$$$$$  \$$$$$$  \$$  \$$  \$$ \$$  \$$  \$$  \$$$$$$  \$$   \$$
                                                                    
                                                                    
                                                                    
*/
html {
    min-height: 100%;
    font-family: 'Microsoft YaHei', sans-serif;
    font-size: 50px;
    overflow-x: hidden;
}

body {
    min-width: 320px;
    max-width: 640px;
    margin: 0 auto;
    color: #fff;
    padding: 0;
    font: normal 0.12em/1.4 'Microsoft YaHei', Verdana, sans-serif;
    font-size: 0.24rem;
    background: #80390f;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    -webkit-appearance: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-style: normal;
}

img,
input,
select {
    border: 0;
    vertical-align: middle;
}

ul,
ol {
    list-style: none outside none;
}

a,
div,
select {
    -webkit-tap-highlight-color: transparent;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: '';
}

.clearfix:after {
    clear: both;
}

::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

a,
a:link,
a:visited,
a:focus {
    text-decoration: none;
    color: #333;
}

h2,
h3,
h3,
h4,
h5 {
    font-weight: normal;
}

[v-cloak] {
    display: none;
}

/*  */
.sticky {
    position: sticky;
    top: 0;
    z-index: 2;
}

/* 无数据 */
.noSource {
    width: 100%;
    text-align: center;
    font-size: 0.24rem;
    padding: 0.4rem;
}

/*
           __  __  __                      __           
          |  \|  \|  \                    |  \          
  ______  | $$| $$ \$$  ______    _______  \$$  _______ 
 /      \ | $$| $$|  \ /      \  /       \|  \ /       \
|  $$$$$$\| $$| $$| $$|  $$$$$$\|  $$$$$$$| $$|  $$$$$$$
| $$    $$| $$| $$| $$| $$  | $$ \$$    \ | $$ \$$    \ 
| $$$$$$$$| $$| $$| $$| $$__/ $$ _\$$$$$$\| $$ _\$$$$$$\
 \$$     \| $$| $$| $$| $$    $$|       $$| $$|       $$
  \$$$$$$$ \$$ \$$ \$$| $$$$$$$  \$$$$$$$  \$$ \$$$$$$$ 
                      | $$                              
                      | $$                              
                       \$$                              
*/
.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.multi-ellipsis--l2,
.multi-ellipsis--l3,
.multi-ellipsis--l4,
.multi-ellipsis--l5,
.multi-ellipsis--l6,
.multi-ellipsis--l7,
.multi-ellipsis--l8,
.multi-ellipsis--l9 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical
}

.multi-ellipsis--l2 {
    -webkit-line-clamp: 2
}

.multi-ellipsis--l3 {
    -webkit-line-clamp: 3
}

.multi-ellipsis--l4 {
    -webkit-line-clamp: 4
}

.multi-ellipsis--l5 {
    -webkit-line-clamp: 5
}

.multi-ellipsis--l6 {
    -webkit-line-clamp: 6
}

.multi-ellipsis--l7 {
    -webkit-line-clamp: 7
}

.multi-ellipsis--l8 {
    -webkit-line-clamp: 8
}

.multi-ellipsis--l9 {
    -webkit-line-clamp: 9
}



/*
 __                                 __  __                     
|  \                               |  \|  \                    
| $$       ______    ______    ____| $$ \$$ _______    ______  
| $$      /      \  |      \  /      $$|  \|       \  /      \ 
| $$     |  $$$$$$\  \$$$$$$\|  $$$$$$$| $$| $$$$$$$\|  $$$$$$\
| $$     | $$  | $$ /      $$| $$  | $$| $$| $$  | $$| $$  | $$
| $$_____| $$__/ $$|  $$$$$$$| $$__| $$| $$| $$  | $$| $$__| $$
| $$     \\$$    $$ \$$    $$ \$$    $$| $$| $$  | $$ \$$    $$
 \$$$$$$$$ \$$$$$$   \$$$$$$$  \$$$$$$$ \$$ \$$   \$$ _\$$$$$$$
                                                     |  \__| $$
                                                      \$$    $$
                                                       \$$$$$$                                                    
*/

/* 
 * -------------------------------------------------
 * loader
 * -------------------------------------------------
 *
 */
.loader {
    overflow: hidden;
    text-align: center;
    padding: 10px 0;
    margin: 0 0.1rem;
    color: #fff;
    display: block;
}

.loader img {
    width: 50px !important;
    height: 50px !important;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: block;
    margin: 0 auto 5px;
}

.loading {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: rgba(0, 0, 0, 0.6);
}

.loading img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/*
 ________                                __     
|        \                              |  \    
 \$$$$$$$$______    ______    _______  _| $$_   
   | $$  /      \  |      \  /       \|   $$ \  
   | $$ |  $$$$$$\  \$$$$$$\|  $$$$$$$ \$$$$$$  
   | $$ | $$  | $$ /      $$ \$$    \   | $$ __ 
   | $$ | $$__/ $$|  $$$$$$$ _\$$$$$$\  | $$|  \
   | $$  \$$    $$ \$$    $$|       $$   \$$  $$
    \$$   \$$$$$$   \$$$$$$$ \$$$$$$$     \$$$$ 
                                                
                                                
                                                
*/

/* 
 * -------------------------------------------------
 * 弹框样式
 * -------------------------------------------------
 *
 */
.showErrBox {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: url("//img1.40017.cn/cn/s/ZhuanTi/2015/24580/rgba5.png");
    display: none;
}

.showErrBox .showErr {
    width: 5.4rem;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 100;
    -webkit-border-radius: 0.1rem;
    border-radius: 0.1rem;
    text-align: center;
    font-size: 0.24rem;
    color: #333;
    background: white;
    padding: 0.2rem;
    transform: translate(-50%, -50%);
}


/*
                                                            
                                                            
  _______   ______   __    __   ______    _______   ______  
 /       \ /      \ |  \  |  \ /      \  /       \ /      \ 
|  $$$$$$$|  $$$$$$\| $$  | $$|  $$$$$$\|  $$$$$$$|  $$$$$$\
 \$$    \ | $$  | $$| $$  | $$| $$   \$$| $$      | $$    $$
 _\$$$$$$\| $$__/ $$| $$__/ $$| $$      | $$_____ | $$$$$$$$
|       $$ \$$    $$ \$$    $$| $$       \$$     \ \$$     \
 \$$$$$$$   \$$$$$$   \$$$$$$  \$$        \$$$$$$$  \$$$$$$$
                                                            
                                                            
                                                            
*/

/* 
 * -------------------------------------------------
 * source 数据
 * -------------------------------------------------
 *
 */
.priceInfo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.priceInfo .sale {
    padding: 0.02rem 0.1rem;
    font-size: 0.2rem;
    color: #fff;
    background: #ff480f;
    border-radius: .05rem;
    margin-bottom: .1rem;
}

.priceInfo .price {
    font-size: 0;
    color: #009fe7;
}

.priceInfo .yuan {
    font-size: .24rem;
    color: #009fe7;
}

.priceInfo .money {
    font-size: .4rem;
    font-weight: 600;
    line-height: .5rem;
    height: .5rem;
    color: #009fe7;
}

.priceInfo .qi {
    font-size: .24rem;
    color: #666;
}

.priceInfo .btn {
    width: 1.5rem;
    height: .5rem;
    line-height: .5rem;
    font-size: .24rem;
    text-align: center;
    color: #fff;
    background: #009fe7;
    border-radius: .6rem;
    box-shadow: 0 .1rem .1rem -.05rem rgba(49, 69, 89, 0.2);
}

.priceInfo .btn.disable {
    background: #898989;
}

.source .sourceItem {
    background: #fff;
    overflow: hidden;
}

.source .left img {
    display: block;
    width: 100%;
    height: 100%;
}

.source .sourceItem .tit {
    color: #333;
    font-size: .24rem;
    line-height: .32rem;
    height: .32rem;
    margin-bottom: .05rem;
}

.source .sourceItem .subtit {
    color: #666;
    font-size: .22rem;
    margin-bottom: .06rem;
    line-height: .3rem;
    height: .6rem;
}

.source .sourceItem .tag {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.05rem 0.1rem;
    background: rgba(0, 0, 0, 0.4);
    font-size: 0.24rem;
    color: #fff;
}

.source .sourceItem .reduce>span .red {
    color: #f21e2d;
}

.source .sourceItem .label {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: .2rem;
    padding-right: .1rem;
    height: .33rem;
    line-height: .33rem;
    text-align: center;
    font-size: .2rem;
    color: #fff;
    background: rgba(0, 0, 0, .8);
    box-sizing: border-box;
}

.source .sourceItem .label::after {
    content: '';
    position: absolute;
    right: -.36rem;
    top: 0;
    width: .36rem;
    height: .33rem;
    background: url(https://img1.40017.cn/cn/s/2019/zt/touch/191101/label_r.png) no-repeat;
    background-size: 100% 100%;
}

/* 左右结构 */
.thList {
    overflow: hidden;
}

.thList .sourceItem {
    padding: .2rem .12rem;
    margin-bottom: .24rem;
    border: 1px solid #009fe7;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.thList .sourceItem:last-child {
    margin-bottom: 0;
}

.thList .smask {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1rem;
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, .3), rgba(0, 0, 0, 0));
}

.thList .city {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.thList .city .value {
    font-size: .2rem;
    color: #fff;
    height: .5rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.thList .city img {
    width: .2rem;
    height: .22rem;
    margin: 0 .04rem;
}

.thList .button {
    margin-top: .15rem;
    width: 1.68rem;
    height: .5rem;
    line-height: .5rem;
    text-align: center;
    color: #009fe7;
    font-size: .24rem;
    border: 1px solid #009fe7;
    border-radius: .1rem;
}

.thList .sourceItem .left {
    position: relative;
    overflow: hidden;
    width: 2.23rem;
    height: 2.34rem;
}

.thList .sourceItem .right {
    position: relative;
    margin-right: .22rem;
    width: 3.1rem;
}

.thList .sourceItem .subtit {
    line-height: .32rem;
    height: 1.2rem;
}

/* 上下结构 */

.jdList {
    overflow: hidden;
}

.jdList.source {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.jdList .sourceItem {
    position: relative;
    margin-top: .12rem;
    width: 2.9rem;
    background: #fff;
    border: 1px solid #009fe7;
    overflow: hidden;
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
}

.jdList .sourceItem:first-child {
    margin-top: 0;
}

.jdList .sourceItem:nth-child(2) {
    margin-top: 0;
}

.jdList .sourceItem .left {
    position: relative;
    overflow: hidden;
    width: 2.9rem;
    height: 1.68rem;
}

.jdList .sourceItem .right {
    padding: .15rem .14rem
}

.jdList .sourceItem .tit {
    font-size: .24rem;
    line-height: .3rem;
}

.jdList .sourceItem .subtit {
    font-size: .24rem;
    line-height: .3rem;
    height: .6rem;
}

.jdList .sourceItem .button {
    height: .55rem;
    line-height: .55rem;
    font-size: .3rem;
    text-align: center;
    color: #fff;
    background: #009fe7;
    border-radius: .55rem;
}

/*
 ________                     __                         
|        \                   |  \                        
| $$$$$$$$______    ______  _| $$_     ______    ______  
| $$__   /      \  /      \|   $$ \   /      \  /      \ 
| $$  \ |  $$$$$$\|  $$$$$$\\$$$$$$  |  $$$$$$\|  $$$$$$\
| $$$$$ | $$  | $$| $$  | $$ | $$ __ | $$    $$| $$   \$$
| $$    | $$__/ $$| $$__/ $$ | $$|  \| $$$$$$$$| $$      
| $$     \$$    $$ \$$    $$  \$$  $$ \$$     \| $$      
 \$$      \$$$$$$   \$$$$$$    \$$$$   \$$$$$$$ \$$      
                                                         
                                                         
                                                         
*/

/* 
 * -------------------------------------------------
 * 默认型
 * -------------------------------------------------
 *
 */
/* h5 */
.foot1 {
    width: 6.4rem;
    height: 1.06rem;
    line-height: 1.06rem;
    text-align: center;
    color: #fff;
    font-size: .24rem;
    background: url(https://img1.40017.cn/cn/s/2019/zt/touch/200113/foot.jpg) no-repeat;
    background-size: 100% 100%;
}

/* 小程序 */
.footer {
    margin-top: .4rem;
    height: 3.24rem;
    background: url('https://img1.40017.cn/cn/s/2019/zt/touch/190904/bg_bottom.png');
    /* #052c29 深绿色 */
    background-size: 100% 100%;
}

.footer {
    margin-top: .4rem;
    height: 2.78rem;
    background: url('https://img1.40017.cn/cn/s/2019/zt/touch/191101/bg_bottom.png');
    /* #3a1cb6 深蓝色 */
    background-size: 100% 100%;
}


/* 
 _______                                       ______     __                __           
|       \                                     /      \   |  \              |  \          
| $$$$$$$\ ______    ______    ______        |  $$$$$$\ _| $$_    __    __ | $$  ______  
| $$__/ $$|      \  /      \  /      \       | $$___\$$|   $$ \  |  \  |  \| $$ /      \ 
| $$    $$ \$$$$$$\|  $$$$$$\|  $$$$$$\       \$$    \  \$$$$$$  | $$  | $$| $$|  $$$$$$\
| $$$$$$$ /      $$| $$  | $$| $$    $$       _\$$$$$$\  | $$ __ | $$  | $$| $$| $$    $$
| $$     |  $$$$$$$| $$__| $$| $$$$$$$$      |  \__| $$  | $$|  \| $$__/ $$| $$| $$$$$$$$
| $$      \$$    $$ \$$    $$ \$$     \       \$$    $$   \$$  $$ \$$    $$| $$ \$$     \
 \$$       \$$$$$$$ _\$$$$$$$  \$$$$$$$        \$$$$$$     \$$$$  _\$$$$$$$ \$$  \$$$$$$$
                   |  \__| $$                                    |  \__| $$              
                    \$$    $$                                     \$$    $$              
                     \$$$$$$                                       \$$$$$$                        
 */

/* 
 * --------------------------------------------------------------------------------------------------
 * --------------------------------------------------------------------------------------------------
 * --------------------------------------------------------------------------------------------------
 * --------------------------------------------------------------------------------------------------
 * --------------------------------------------------------------------------------------------------
 * --------------------------------------------------------------------------------------------------
 * --------------------------------------------------------------------------------------------------
 */

/*
 _______                                                                                                         
|       \                                                                                                        
| $$$$$$$\ ______    ______    ______          _______   ______   ______ ____   ______ ____    ______   _______  
| $$__/ $$|      \  /      \  /      \        /       \ /      \ |      \    \ |      \    \  /      \ |       \ 
| $$    $$ \$$$$$$\|  $$$$$$\|  $$$$$$\      |  $$$$$$$|  $$$$$$\| $$$$$$\$$$$\| $$$$$$\$$$$\|  $$$$$$\| $$$$$$$\
| $$$$$$$ /      $$| $$  | $$| $$    $$      | $$      | $$  | $$| $$ | $$ | $$| $$ | $$ | $$| $$  | $$| $$  | $$
| $$     |  $$$$$$$| $$__| $$| $$$$$$$$      | $$_____ | $$__/ $$| $$ | $$ | $$| $$ | $$ | $$| $$__/ $$| $$  | $$
| $$      \$$    $$ \$$    $$ \$$     \       \$$     \ \$$    $$| $$ | $$ | $$| $$ | $$ | $$ \$$    $$| $$  | $$
 \$$       \$$$$$$$ _\$$$$$$$  \$$$$$$$        \$$$$$$$  \$$$$$$  \$$  \$$  \$$ \$$  \$$  \$$  \$$$$$$  \$$   \$$
                   |  \__| $$                                                                                    
                    \$$    $$                                                                                    
                     \$$$$$$                                                                                     
*/


.top,
.title,
.box_red {
    position: relative;
    width: 100%;
}

.title,
.subtit {
    pointer-events: none;
}

.top img,
.box_red img,
.title img,
.subtit img {
    display: block;
    width: 100%;
}

.box_content {
    position: relative;
    padding-left: .3rem;
    padding-right: .3rem;
}


/*
                                 __      __                     
                                |  \    |  \                    
  _______   ______    _______  _| $$_    \$$  ______   _______  
 /       \ /      \  /       \|   $$ \  |  \ /      \ |       \ 
|  $$$$$$$|  $$$$$$\|  $$$$$$$ \$$$$$$  | $$|  $$$$$$\| $$$$$$$\
 \$$    \ | $$    $$| $$        | $$ __ | $$| $$  | $$| $$  | $$
 _\$$$$$$\| $$$$$$$$| $$_____   | $$|  \| $$| $$__/ $$| $$  | $$
|       $$ \$$     \ \$$     \   \$$  $$| $$ \$$    $$| $$  | $$
 \$$$$$$$   \$$$$$$$  \$$$$$$$    \$$$$  \$$  \$$$$$$  \$$   \$$
                                                                
                                                                
                                                                
*/
.section .intro {
    position: relative;
    padding: .2rem;
    font-size: .22rem;
    line-height: .44rem;
    background-color: #672f0e;
    border-radius: .15rem;
}



/* 1(44765) start */

.section1 .intro1 {
    margin-top: .4rem;
    padding-top: 1.9rem;
    padding-bottom: .4rem;
}

.section1 .intro2 {
    margin-top: .2rem;
    padding-top: .9rem;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.section1 .intro3 {
    margin-bottom: .4rem;
    border-top: 1px dashed #fff;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.section1 .img1 {
    position: absolute;
    top: -.3rem;
    width: 100%;
}

.section1 .img2 {
    position: absolute;
    top: -.5rem;
    width: 100%;
}

.section1 .img {
    display: block;
    width: 100%;
}



/* 1(44765) end */

/* 2(45142) start */
.section2 .box_content {
    background-color: #ede2cd;
}

.sectionCon2 {
    padding-top: .3rem;
    padding-bottom: .2rem;
}

.sectionCon2 .intro {
    padding: .2rem;
    padding-bottom: .9rem;
    background-color: #d8c2a8;
}

.swiper-pagination2 {
    bottom: -.5rem;
    width: 100%;
}

.sectionCon2 .swiper-pagination-bullet {
    background: #61605f;
    opacity: 1;
    margin-right: 0.12rem;
}

.sectionCon2 .swiper-pagination-bullet-active {
    background: #80390f;
}

.video {
    position: relative;
}

.video video {
    width: 100%;
    height: 3.72rem;
}

.video-tab {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

.video-tab li {
    width: 1.74rem;
    height: 2.1rem;
    border: 0.01rem solid #5e3a26;
    margin-right: 0.1rem;
    overflow: hidden;
}

.video-tab li img {
    width: 1.74rem;
    height: 2.1rem;
    display: block;
}

/* 2(45142) end */

/* 3(45143) start */

.sectionCon3 {
    padding: .4rem 0;
}

.swsection {
    position: relative;
    height: 4.5rem;
}

.swsection .swiper-container {
    height: 4.14rem;
    overflow: auto;
}

.swsection .swiper-slide {
    width: 100%;
    height: 4.14rem;
    overflow: hidden;
}

.swsection .swiper-slide img {
    width: 100%;
    height: 4.14rem;
}

.swiper-pagination3 {
    bottom: -.1rem;
    width: 100%;
}

.swsection .swiper-pagination-bullet {
    margin-right: 0.12rem;
    background: #fff;
    opacity: 1;
}

.swsection .swiper-pagination-bullet-active {
    background: #fbfc4c;
}

.sectionCon3 .data {
    margin-top: .2rem;
}


/* 3(45143) end */


.sticky {
    position: sticky;
    top: 0;
    z-index: 2;
}