/**
 *
 * @Name: 赞礼号女神专题活动
 * @Author: wl
 * @CreateTime: 2016-04-07
 * @Update: 
 * 
 overflow: hidden;text-overflow: ellipsis;white-space: nowrap;
 display: box;display: -webkit-box;box-orient: horizontal;box-orient: horizontal;box-align: center;-webkit-box-align: center;////box-flex: 1;-webkit-box-flex: 1;
 */

@charset "UTF-8";
*{margin: 0;padding: 0;}
address,caption,cite,code,dfn,em,th,var{font-style:normal}
ul{list-style:none}
table{border-collapse:collapse}
body{overflow-x:hidden;font-size:14px;line-height:1.5;color:#333;font-family:arial,sans-serif}
.clearfix:after,.clearfix:before{display:table;content:""}
.clearfix:after{clear:both}
a{text-decoration:none;color:#333}
body{background:#f2f4f7;width:10rem;margin:0 auto;font-family:"Helvetica Neue",Helvetica,STHeiTi,sans-serif}
a,img{-webkit-touch-callout:none;border:0}
img{display: block;}
a:hover{text-decoration:none}
body,html{-webkit-user-select:none;user-select:none;background:#f2f4f7}
/*  */
@unit: 75rem;
.gm_img{width: 100%;}
.content{
	background: #fbb818;
	.gm_title{
		margin-top: 24/@unit;
		font-size: 40/@unit;
		line-height: 58/@unit;
		font-weight: bold;
		color: #a66507;
		font-style: italic;
		text-align: center;
	}
	.gm_lin{
		position: relative;
		display: block;
		margin: 0 auto;
		margin-top: 20/@unit;
		width: 345/@unit;
		height: 70/@unit;
		background: #de7814;
		border-radius: 70/@unit;
		box-shadow: 4/@unit 5/@unit 0 #b65a00;
		font-size: 32/@unit;
		line-height: 70/@unit;
		color: #fff;
		text-indent: 88/@unit;
	}
	.gm_lin:before{
		content: "";
		position: absolute;
		left: 44/@unit;
		top: 26/@unit;
		width: 27/@unit;
		height: 20/@unit;
		background: url(../img/arrow.png) no-repeat;
		background-size: 100% 100%;
	}
	.h_title{
		margin-top: 45/@unit;
		font-size: 60/@unit;
		line-height: 116/@unit;
		font-weight: bold;
		color: #181e60;
		text-align: center;
	}
	.gm_ns{
		width: 349/@unit;
		margin: 0 auto;
	}
	.gm_ns_img{
		width: 374/@unit;
		margin: 0 auto;
		margin-top: 28/@unit;
	}
	// 兑奖规则
	.gm_gz{
		width: 617/@unit;
		margin: 0 auto;
		margin-top: 68/@unit;
	}
	.gm_gz p{
		margin-top: 25/@unit;
		font-size: 28/@unit;
		line-height: 42/@unit;
		color: #a66507;
	}

	// 二维码
	.public{
		width: 218/@unit;
		margin: 0 auto;
		margin-top: 58/@unit;
	}
	.public_txt{
		margin-top: 22/@unit;
		font-size: 28/@unit;
		line-height: 44/@unit;
		color: #a66507;
		text-align: center;
	}
	.footer{
		padding: 80/@unit 0;
		font-size: 20/@unit;
		color: #905500;
		text-align: center;
	}
}


