<div class="content none">
    <div class="wzxts-top">
        <img class="unit-img" src="<%=ctx.imgPage%>wzxts_3-top-1.png" alt="">
        <img class="unit-img" src="<%=ctx.imgPage%>wzxts_3-top-2.png" alt="">
        <!--区域切换按钮-->
        <div class="area_change_div">
            <span class="txt_sp">华东</span>
        </div>
    </div>
    <!-- 礼品 -->
    <div class="detail-unit unit-gift">
        <div class="gift-pro">
            <img class="unit-img" src="<%=ctx.imgPage%>wzxts_3-gift.png?v=1" alt="">
            <div class="gift-box">
                <a attr-id="1"></a>
            </div>
        </div>
    </div>
    <!-- high翻8点 -->
    <div class="detail-unit J_NavBox unit-hot" id="part1">
        <div class="unit-title"><img class="unit-img" src="<%=ctx.imgPage%>wzxts_3-title-2.png" alt=""></div>
        <div class="hot-pro">
            <div class="hot-nav">
                <ul class="clearfix">
                    <li class="curr" _date="3.17">3月17<br/><span>即将开抢</span></li>
                    <li _date="3.18">3月18<br/><span>即将开抢</span></li>
                    <li _date="3.19">3月19<br/><span>即将开抢</span></li>
                    <li _date="3.20">3月20<br/><span>即将开抢</span></li>
                    <li _date="3.21">3月21<br/><span>即将开抢</span></li>
                    <li _date="3.22">3月22<br/><span>即将开抢</span></li>
                </ul>
            </div> 
            <div class="hot-box">
                <a href="" class="hot-link">
                    <div class="timer_con">
                        <div class="timer_txt">暂未开始</div>
                        <div class="timer_show none clearfix">
                            <span class="span_box span_HH">
                                <em>0</em>
                                <em>0</em>
                                <span class="txt">:</span>
                            </span>
                            <span class="span_box span_MM">
                                <em>0</em>
                                <em>0</em>
                                <span class="txt">:</span>
                            </span>
                            <span class="span_box span_SS">
                                <em>0</em>
                                <em>0</em>
                            </span>
                        </div>
                    </div>
                    <div class="hot-img">
                        <img src="//pic4.40017.cn/cruises/2017/01/10/16/FM2wK4_420x272_00.jpg" alt="">
                        <div class="info">
                            <span class="price">抢购价：&yen;<em>16999</em>/人起</span>
                            <span class="btn over">疯狂抢购</span>
                        </div>
                    </div>
                    <div class="hot-intro">
                        <p class="title"><em>【天海邮轮-新世纪号】</em>03月08日 上海-济州-长崎-上海 4晚5日游</p>
                        <p class="label">我是理由我是理由我是理由我是理由我是理由我是理由我是理由我是理由我是理由我是理由我是理由我是理由我是理由我是理由</p>                    
                    </div>
                </a>
            </div>            
        </div>
    </div>
    <!-- 爆款尖货 -->
    <div class="detail-unit J_NavBox unit-buy" id="part2">
        <div class="unit-title"><img class="unit-img" src="<%=ctx.imgPage%>wzxts_3-title-3.png" alt=""></div>
        <div class="buy-pro clearfix">
            <div class="buy-box">
                <a href="" class="buy-link">
                    <div class="buy-img">
                        <img src="//pic4.40017.cn/cruises/2017/01/10/16/FM2wK4_420x272_00.jpg" alt="">
                        <p class="label"><span>推荐推荐推荐推荐推荐推荐推荐推...</span></p>                        
                    </div>
                    <div class="buy-intro">
                        <p class="tit"><em>【天海邮轮-新世纪号】</em> 3月8日 上海-济州-长崎-上海 4晚5日游</p>
                        <div class="price">&yen;<em>16999</em>/人起</div>
                    </div>
                    <div class="buy-btn">立即预订></div>
                </a>
            </div>
            <div class="buy-box">
                <a href="" class="buy-link">
                    <div class="buy-img">
                        <img class="pro_img" src="//pic4.40017.cn/cruises/2017/01/10/16/FM2wK4_420x272_00.jpg" alt="">
                        <p class="label"><span>推荐推荐推荐推荐推荐推荐推荐推...</span></p>                        
                    </div>
                    <div class="buy-intro">
                        <p class="tit"><em>【天海邮轮-新世纪号】</em> 3月8日 上海-济州-长崎-上海 4晚5日游</p>
                        <div class="price">&yen;<em>16999</em>/人起</div>
                    </div>
                    <div class="buy-btn">立即预订></div>
                </a>
            </div>
        </div>
    </div>
    <!-- 引爆周三 -->
    <div class="detail-unit J_NavBox unit-wednesday" id="part3">
        <div class="unit-title"><img class="unit-img" src="<%=ctx.imgPage%>wzxts_3-title-4.png" alt=""></div>
        <div class="wednesday-pro clearfix">
            <a href="" class="wednesday-link">
                <div class="wednesday-img">
                    <img src="//pic4.40017.cn/cruises/2017/01/10/16/FM2wK4_420x272_00.jpg" alt="">
                </div>
                <div class="wednesday-intro">
                    <p class="tit">【天海邮轮-新世纪号】 3月8日 上海-济州-长崎-上海 4晚5日游</p>
                    <div class="info">
                        <div class="price">&yen;<em>16999</em>/人起<span class="label">仅限120份</span></div>
                        <div class="btn">查看详情></div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <!-- 广告位 -->
    <div class="detail-unit unit-banner">
        <div class="banner-pro">
        </div>
    </div>
    <script type="text/html" id="hotTemplate">
        <a {0} class="hot-link">
            <div class="timer_con">
                <div class="timer_txt">暂未开始</div>
                <div class="timer_show none clearfix">
                    <span class="span_box span_HH">
                        <em>0</em>
                        <em>0</em>
                        <span class="txt">:</span>
                    </span>
                    <span class="span_box span_MM">
                        <em>0</em>
                        <em>0</em>
                        <span class="txt">:</span>
                    </span>
                    <span class="span_box span_SS">
                        <em>0</em>
                        <em>0</em>
                    </span>
                </div>
            </div>
            <div class="hot-img">
                <img src="{1}" alt="">
                <div class="info">
                    <span class="price">抢购价：&yen;<em>{2}</em>/人起</span>
                    <span class="btn">查看详情</span>
                </div>
            </div>
            <div class="hot-intro">
                <p class="title">{3}</p>
                <p class="label">{4}</p>
            </div>
        </a>
    </script>
    <script type="text/html" id="buyTemplate">
        <div class="buy-box">
            <a href="{0}" class="buy-link">
                <div class="buy-img">
                    <img class="pro_img" data-nsrc="{1}" alt="">
                    {2}
                </div>
                <div class="buy-intro">
                    <p class="tit">{3}</p>
                    <div class="price">&yen;<em>{4}</em>/人起</div>
                </div>
                <div class="buy-btn">立即预订></div>
            </a>
        </div>
    </script>
    <script type="text/html" id="wedTemplate">
        <a href="{0}" class="wednesday-link">
            <div class="wednesday-img">
                <img class="pro_img" data-nsrc="{1}" alt="">
            </div>
            <div class="wednesday-intro">
                <p class="tit">{2}</p>
                <div class="info">
                    <div class="price">&yen;<em>{3}</em>/人起{4}</div>
                    <div class="btn">查看详情></div>
                </div>
            </div>
        </a>
    </script>
</div>
<!--loading 效果-->
<div class="loading_div " ontouchmove="return false;">
    <div class="loader">
        <em></em>
        <span>努力加载中</span>
    </div>
</div>
<!--nav-->
<div class="nav-box">
    <div class="nav-link">
        <a attr-id="1" class="curr" href="#part1">HIGH翻8点</a>
        <a attr-id="2" href="#part2">爆款尖货</a>
        <a attr-id="3" href="#part3">引爆周三</a>
    </div>
</div>
<!--弹框 S-->
<div class="shadow_bg none"></div>
<!--区域弹框-->
<div class="area_box none">
    <span class="close_but icon-img"></span>
    <ul class="area_ul_list">
        <li _areaid="10" _showtxt="华东">华东</li>
        <li _areaid="11" _showtxt="华南">华南</li>
        <li _areaid="12" _showtxt="华北">华北</li>
        <!--<li _areaid="13" _showtxt="华中">华中</li>
        <li _areaid="14" _showtxt="华西">华西</li>-->
    </ul>
</div>
<!--礼品弹框-->
<div class="gift-pop none">
    <span class="close"></span>
    <div class="gift-intro">
        <img class="unit-img intro-1 none" src="<%=ctx.imgPage%>wzxts_3-gift-1.png" alt="">
    </div>
</div>
