.fsbanner, .fsbanner > div > span {
	/* obrigatório */
	display:none;
}
div.fsbanner {
	/* obrigatorio */
	position:relative;
	overflow:hidden;
	/* opcional */
	height:223px;

}


.fsbanner > div {
	position:absolute;
	background-size:cover;
	cursor:pointer;
	top:0px;
	left:0px;
}
.fsbanner > div .name {
	display:block;
	position:absolute;
}

