Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.txt
[Bb]in
[Dd]ebug*/
[Bb]ackup*/
[Ll]og*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
*.scc
*.vspscc
.idea
.orig

/ErrorLog

node_modules

#ignore thumbnails created by windows
#Ignore files build by Visual Studio

.vscode/
dest/
output/
.temp/
.config
