.btn-book {
    background-image: url(img/dest/icons.png);
    background-position: -0px -10px;
    width: 243px;
    height: 70px;
}

.icons-air {
    background-image: url(img/dest/icons.png);
    background-position: -506px -10px;
    width: 24px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
}

.right-arrow {
    background-image: url("img/dest/icons.png");
    background-position: -542px -11px;
    width: 15px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
}

.icons-bus {
    background-image: url(img/dest/icons.png);
    background-position: -565px -10px;
    width: 24px;
    height: 21px;
    vertical-align: middle;
    display: inline-block;
}

.icons-comment {
    background-image: url(img/dest/icons.png);
    background-position: -599px -10px;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -4px;
}

.icons-eat {
    background-image: url(img/dest/icons.png);
    background-position: -629px -10px;
    width: 30px;
    height: 22px;
    display: inline-block;
    padding-left: 24px;
    line-height: 22px;
    color: #ff9b26;
    font-size: 12px;
}

.icons-fee {
    background-image: url(img/dest/icons.png);
    background-position: -693px -10px;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -2px;
}

.icons-house {
    background-image: url(img/dest/icons.png);
    background-position: -723px -10px;
    width: 30px;
    height: 22px;
    display: inline-block;
    padding-left: 24px;
    line-height: 22px;
    color: #ff9b26;
    font-size: 12px;
}

.icons-line {
    background-image: url(img/dest/icons.png);
    background-position: -0px -90px;
    width: 21px;
    height: 19px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -1px;
}

.icons-notice {
    background-image: url(img/dest/icons.png);
    background-position: -31px -90px;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -1px;
}

.icons-phone {
    background-image: url(img/dest/icons.png);
    background-position: -61px -90px;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -1px;
}

.icons-route {
    background-image: url(img/dest/icons.png);
    background-position: -91px -92px;
    width: 20px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -2px;
}

.icons-share {
    background-image: url(img/dest/icons.png);
    background-position: -121px -94px;
    width: 20px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -2px;
}

.icons-ship {
    background-image: url(img/dest/icons.png);
    background-position: -151px -90px;
    width: 24px;
    height: 21px;
    display: inline-block;
    vertical-align: middle;
}

.icons-shopping {
    background-image: url(img/dest/icons.png);
    background-position: -185px -90px;
    width: 30px;
    height: 22px;
    padding-left: 24px;
    font-size: 12px;
}

.icons-store {
    background-image: url(img/dest/icons.png);
    background-position: -249px -92px;
    width: 20px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -1px;
}

.icons-solid-star {
    background-image: url(img/dest/icons-solid-star.png?__sprite);
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -2px;
}

.icons-sub {
    background-image: url(img/dest/icons.png);
    background-position: -279px -90px;
    width: 92px;
    height: 25px;
}

.icons-tab {
    background-image: url(img/dest/icons.png);
    background-position: -381px -90px;
    width: 81px;
    height: 28px;
}

.icons-tip {
    background-image: url(img/dest/icons.png);
    background-position: -472px -90px;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -2px;
}

.icons-train {
    background-image: url(img/dest/icons.png);
    background-position: -502px -90px;
    width: 24px;
    height: 21px;
    display: inline-block;
    vertical-align: middle;
}

.icons-view {
    background-image: url(img/dest/icons.png);
    background-position: -534px -90px;
    width: 30px;
    height: 22px;
    padding-left: 24px;
}

.icons-visa {
    background-image: url(img/dest/icons.png);
    background-position: -600px -90px;
    width: 19px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -1px;
}

.icons-zifei {
    background-image: url(img/dest/icons.png);
    background-position: -629px -90px;
    width: 30px;
    height: 22px;
    display: inline-block;
    vertical-align: middle;
    padding-left: 24px;
    line-height: 22px;
    color: #ff9b26;
    font-size: 12px;
}

.icons-green {
    background-image: url(img/dest/icons.png);
    background-position: -693px -90px;
    width: 90px;
    height: 25px;
    display: inline-block;
}

.icons-orange {
    background-image: url(img/dest/icons.png);
    background-position: -0px -128px;
    width: 90px;
    height: 25px;
}

.icons-red {
    background-image: url(img/dest/icons.png);
    background-position: -100px -128px;
    width: 90px;
    height: 25px;
}

.pm-content .yh-item i {
    background: url("img/dest/redBag_03.png?__sprite") no-repeat;
    display: inline-block;
    width: 11px;
    height: 14px;
    margin: 0 5px -2px 0;
}

.title-bg {
    background-image: url(img/dest/icons.png);
    background-position: -200px -128px;
    width: 15px;
    height: 30px;
}

.icons-arrow {
    background-image: url(img/dest/icons-arrow.png?__sprite);
    width: 16px;
    height: 15px;
    display: inline-block;
}

.icons-lift {
    background-image: url(img/dest/icons-lift.png?__sprite);
    width: 30px;
    height: 30px;
    display: inline-block;
}

.icons-ask {
    background-image: url(img/dest/icons-ask.png?__sprite);
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -2px;
    margin-left: 10px;
}

.icons-youhui {
    background-image: url(img/dest/icons-youhui.png?__sprite);
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -1px;
}

.gray-bg {
    background: url(img/dest/gray-bg.png?__sprite) 0px 0px;
    width: 90px;
    height: 22px;
    display: inline-block;
    position: absolute;
    left: -1px;
    top: -1px;
    padding-left: 10px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

    .gray-bg .long-bg {
        background-color: #71808c;
        width: 34em;
        top: 0;
    }

span.gray-bg.long-bg:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    border: 22px solid transparent;
    border-left: 0;
    border-right: 8px solid #9eabb5;
    border-bottom: 0px solid #9eabb5;
}

.icons-zdh {
    background: #ff9f20 url("img/dest/zdh_ico.png") no-repeat -305px -8px !important;
    padding-left: 25px !important;
}

.earlyBook a {
    background: #eceff2 url("img/dest/zdh_icon.png") no-repeat right top !important;
}

    .earlyBook a:hover {
        background-color: #8c96a2 !important;
        color: white;
    }

.active.earlyBook a {
    background: #4c5a65 url("img/dest/zdh_icon.png") no-repeat right top !important;
}

span.J_Tips_async.zdh_icon {
    background: url("img/dest/zdh_ico.png") no-repeat 3px -6px;
    padding-left: 15px;
}

.icons-inform {
    background-image: url(img/dest/ico_inform1.png?__sprite);
    width: 14px;
    height: 14px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin-top: -4px;
}
.icons-gl{
    width:14px;
    height:15px;
    display: inline-block;
    vertical-align: middle;
    background: url("img/dest/icon-gl_03.png?__sprite") no-repeat;
}
.icons-point{
  width:14px;
  height:18px;
  display: inline-block;
  vertical-align: top;
  background: url("img/dest/icon-point.png?__sprite") no-repeat;
}