.calendar-tab .tip {
  color: white;
  background: #abafb3;
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: left;
  text-indent: 20px;
}
.calendar-tab .tablist {
  height: 50px;
  width: 100%;
  background: #f0f0f0;
  border-bottom: 1px solid #dadbdc;
  position: relative;
}
.calendar-tab .tablist .tablist-inner {
  position: relative;
  margin: 0 16px;
  height: 51px;
  overflow: hidden;
  line-height: 20px;
}
.calendar-tab .tablist ul {
  height: 100%;
  width: 300%;
  position: absolute;
}
.calendar-tab .tablist li {
  display: inline-block;
  height: 49px;
  width: 8%;
  text-align: center;
  font-size: 12px;
}
.calendar-tab .tablist li.selected {
  border-bottom: 2px solid #50b400;
}
.calendar-tab .tablist li span {
  display: block;
}
.calendar-tab .tablist li span:first-child {
  padding-top: 5px;
}
.tab-calendar-wrapper .calendar {
  padding: 0;
}
.tab-calendar-wrapper .calendar-list-outer {
  position: relative;
  overflow: hidden;
  height: 400px;
}
.tab-calendar-wrapper .calendar-list {
  height: 100%;
  width: 1200%;
  position: absolute;
}
.tab-calendar-wrapper .calendar-list .calendar-wrapper {
  width: 8.33333333%;
  float: left;
}
.tab-calendar-wrapper .calendar-list th {
  text-align: center;
}
.tab-calendar-wrapper .calendar-tab .tablist a {
  color: #abaeb3;
}
.tab-calendar-wrapper .calendar-tab .tablist a .price em {
  color: #ff6633;
}
.tab-calendar-wrapper .calendar-tab .tablist .selected a,
.tab-calendar-wrapper .calendar-tab .tablist .selected a .price em {
  color: #50b400;
}
.tab-calendar-wrapper .calendar-tab .tablist-nav span {
  display: block;
  width: 6px;
  height: 6px;
  position: absolute;
  top: 50%;
  margin-top: -3px;
}
.tab-calendar-wrapper .calendar-tab .tablist-nav span.prev {
  border-left: 2px solid #9a9a9a;
  border-top: 2px solid #9a9a9a;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  left: 10px;
}
.tab-calendar-wrapper .calendar-tab .tablist-nav span.next {
  border-left: 2px solid #9a9a9a;
  border-top: 2px solid #9a9a9a;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  right: 10px;
}
.tab-calendar-wrapper .calendar-tab .tablist-nav span.disable {
  -webkit-opacity: 0;
  opacity: 0;
}
