@import '~styles/variable.scss';
@import '~styles/mixins.scss';
.#{$css-prefix} {
    &password {
        position: relative;
        input {
            padding-right: 40PX;
        }
        label {
            position: static;
        }
        &-switch {
            position: absolute;
            right: 0;
            top: 0;
            @include button;
            width: 40PX;
            height: 100%;
            .#{$css-prefix}iconfont {
                font-size: 20PX;
                color: #666;
            }
        }
    }
}