<!DOCTYPE html>
<html>
<head>
{{var it = IT.Data;}}
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>提交旅游计划表_旅游行程安排_同程旅游</title>
  <meta id="Keywords" content="旅游计划表，旅游行程安排" />
  <meta id="Description" content="同程旅游提供：公司旅游，消夏游，年会游，度假游，拓展游，奖励游，公关游，会议游。提交旅游计划表，安排您想要去的地方。要旅游，选择有保障的同程旅游！" />
  <meta name="apple-itunes-app" content="app-id=475966832" />
  <% includeId = cnwidescreenjscss %>
  <!--当前样式表 -->


    <link rel="stylesheet" href="//css.40017.cn/cn/min/??/cn/v/schedule/result.0.0.0.css?v=2014100804" />
</head>

<body>
<!-- 公共头部 开始 -->
<% includeId = cnwidescreenhead?channel=dujia %>
<!-- 公共头部 结束 -->

<div class="mainbody">
  <div class="content">
    <div class="nav">
      <span>您所在位置：</span> <a href="/" title="同程首页" target="_blank">同程首页</a> <span class="font_999">&gt;</span> <a
      href="/dujia/" title="出境游" target="_blank">出境游</a>
      <span>&gt;</span>

      <h1>出境定制</h1>
    </div>
    {{#def.result}}
    {{#def.recommand}}
  </div>
</div>

<!-- 公共页脚 开始 -->
<% includeId = cnwidescreenfoot?vrcode=10002-2006-0 %>
<!-- 公共页脚 结束 -->
<input type="hidden" class="c_phone" attr-url="/dujia/ajaxcall.aspx?type=GetTel400" />
<!-- timing begin -->
<!-- timing end -->


<script>
    var _tcopentime = new Date().getTime();
  </script>
<script src="//js.40017.cn/cn/min/??/cn/v/schedule/schedule.0.0.1.js?v=2014100801"></script>
<script type="text/javascript" charset="utf-8">
  window.onload = function () {
    setTimeout(function () {
      function f(c, b) { var a = document.createElement("script"); "function" == typeof b && (a.onload = a.onreadystatechange = function () { if (!this.readyState || "loaded" === this.readyState || "complete" === this.readyState) b(), a.onload = a.onreadystatechange = null }); a.type = "text/javascript"; a.async = !0; a.src = c; document.body.appendChild(a) } var c = window.performance || window.msPerformance || window.webkitPerformance || window.mozPerformance; if (c && c.timing) {
        for (var b = "16", e = "navigationStart redirectStart redirectEnd fetchStart domainLookupStart domainLookupEnd connectStart connectEnd requestStart responseStart responseEnd uploadEventStart uploadEventEnd domloading domInteractive domContentLoadedEventStart domContentLoadedEventEnd domComplete loadEventStart loadEventEnd".split(" "),
               d = 0, g = e.length; d < g; d++) b += "," + (null == c.timing[e[d]] ? 0 : c.timing[e[d]]); 21 === b.split(",").length && f("//vstlog.17usoft.com/abtest/ABMeasureHandler.ashx?PageAnalysis=" + b)
      }
    }, 0)
  };
</script>
<script type="text/javascript" charset="utf-8" src="//js.40017.cn/cn/min/??/cn/v/public/2014/sliderBar/InterVacationPublic.0.0.1.js?v=2014112501"></script>
</body>

</html>