html {
    min-width: 1190px;
}

.foot {
    clear: both;
    padding-top: 600px;
    color: #fff
}

/*#region 全局样式 */
.snone{
    display: none!important;
}

.container {
    width: 100%;
    height: auto;
    min-height: 800px;
    font-family: 'Microsoft YaHei', 'Apple LiGothic Medium', Arial, sans-serif;
    position: relative;
    background: #cfafff;
    .top{
        .top1{
            background: url("img/dest/top_02.jpg") top center no-repeat;
            width: 100%;
            height: 208px;
        }
        .top2{
            background: url("img/dest/top_03.jpg") top center no-repeat;
            width: 100%;
            height: 228px;
        }
        .top3{
            background: url("img/dest/top_04.jpg") top center no-repeat;
            width: 100%;
            height: 215px;
        }
    }
    .main{
        width: 1000px;
        height: auto;
        margin: 0 auto;
        a{
            color: #fff;
        }
    }
    .bor-transparent{
        border-width: 6px;
        border-style: solid;
        border-color: rgba(255,255,255,0.4);
    }
    .banner{
        .silder1{
            .pic1{
                background: url(img/dest/silder1_01.jpg) top center no-repeat;
                width: 100%;
                height: 850px;
            }
        }
    }
    .intro{
        background: url("img/dest/top_07.jpg") top center repeat-y;
        width: 100%;
        height: auto;
        overflow: hidden;
        padding-bottom: 50px;
        .title{
            background: url("img/dest/title1.png") top center no-repeat;
            width: 557px;
            height: 46px;
            margin: 60px auto 40px;
        }
        .detail{
            width: 960px;
            background: rgba(0,0,0,.7);
            -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
            color: #fff;
            padding: 10px 20px 0;
            position: absolute;
            left: 0;
            bottom: 0;
            h3{
                font-size: 24px;
                font-weight: bold;
                line-height: 50px;
                border-bottom: 1px solid #fff;
            }
            p{
                font-size: 20px;
                line-height: 24px;
                margin-top: 10px;
            }
        }
        .qzs{
            background: url("img/dest/p1.jpg") no-repeat;
            width: 999px;
            height: 508px;
            margin-bottom: 20px;
            margin-top: 32px;
            position: relative;
            overflow: hidden;
            .detail{
                height: 110px;
            }
        }
        .yas{
            width: 100%;
            overflow: hidden;
        }
        .eat{
            width: 490px;
            float: left;
            .tit{
                background: url(img/dest/p_03.jpg) no-repeat;
                width: 170px;
                height: 46px;
                margin-bottom: 13px;
            }
            .p1{
                background: url(img/dest/p_09.jpg) no-repeat;
                width: 100%;
                height: 237px;
                margin-bottom: 10px;
            }
            .p2{
               width: 100%;
               margin-bottom: 12px;
               .p3{
                   background: url(img/dest/p_18.jpg) no-repeat;
                   width: 239px;
                   height: 236px;
                   float: left;
               } 
               .p4{
                   background: url(img/dest/p_20.jpg) no-repeat;
                   width: 239px;
                   height: 236px;
                   float: right;
               }
            }
        }
        
        .stay{
            width: 490px;
            float: right;
            .tit{
                background: url(img/dest/p_05.jpg) no-repeat;
                width: 170px;
                height: 46px;
                margin-bottom: 13px;
            }
            .p1{
                background: url(img/dest/p_22.jpg) no-repeat;
                width: 100%;
                height: 237px;
                margin-bottom: 12px;
            }
            .p2{
               width: 100%;
               margin-bottom: 10px;
               overflow: hidden;
               .p3{
                   background: url(img/dest/p_11.jpg) no-repeat;
                   width: 239px;
                   height: 236px;
                   float: left;
               } 
               .p4{
                   background: url(img/dest/p_13.jpg) no-repeat;
                   width: 239px;
                   height: 236px;
                   float: right;
               }
            }
        }
        .qzjd{
            background: url("img/dest/qzjd.jpg") no-repeat;
            width: 489px;
            height: 350px;
            float: left;
            position: relative;
            cursor: pointer;
            overflow: hidden;
            .detail{
                height: 350px;
            }
        }
        .fll{
            background: url("img/dest/fll.jpg") no-repeat;
            width: 491px;
            height: 350px;
            float: right;
            position: relative;
            cursor: pointer;
            overflow: hidden;
            .detail{
                height: 350px;
            }
        }
    }

    .part1{
        background: url("img/dest/top_06.jpg") top center no-repeat;
        width: 100%;
        height: 573px;
        overflow: hidden;
        .bg1{
            background: url("img/dest/pro1.jpg") no-repeat;
            width: 976px;
            margin-top: 60px;
            margin-bottom: 20px;
            overflow: hidden;
            box-sizing: border-box;
            .icon{
                background: url("img/dest/tczy.png") no-repeat;
                width: 74px;
                height: 85px;
                margin: 18px 0 0 24px;
                float: left;
            }
            .icon1{
                background: url("img/dest/icon3.png") no-repeat;
                width: 10px;
                height: 22px;
                position: absolute;
                left: -10px;
                top: 40%;
            }
            .pro1{
                float: right;
            }

            &:nth-child(2){
                background: url("img/dest/pro2.jpg") no-repeat;
                width: 977px;
                height: 326px;
                overflow: hidden;
                .icon{
                    background: url("img/dest/icon2.png") no-repeat;
                    width: 150px;
                    height: 27px;
                    float: right;
                    margin: 15px 10px 0 0;
                }
                .icon1{
                    background: url("img/dest/icon4.png") no-repeat;
                    width: 108px;
                    height: 108px;
                }
                .pro1{
                    float: left;
                }
            }

            &:first-child+div{
                background: url("img/dest/pro2.jpg") no-repeat;
                width: 977px;
                height: 326px;
                overflow: hidden;
                .icon{
                    background: url("img/dest/icon2.png") no-repeat;
                    width: 150px;
                    height: 27px;
                    float: right;
                    margin: 15px 10px 0 0;
                }
                .icon1{
                    background: url("img/dest/icon4.png") no-repeat;
                    width: 108px;
                    height: 108px;
                }
                .pro1{
                    float: left;
                }
            }

        }

    }

    .part3{
        background: url("img/dest/top_08.jpg") top center no-repeat;
        width: 100%;
        height: 689px;
    }
}

.pro1{
    width: 452px;
    height: 100%;
    padding: 35px 40px;
    box-sizing: border-box;
    background: rgba(0,0,0,.6);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    color: #fff;
    float: left;
    position: relative;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    .maintit{
        font-size: 28px;
        line-height: 68px;
        font-weight: bold;
        white-space: nowrap;
        text-overflow:ellipsis;
        overflow: hidden;
    }
    .chufa{
        background: #fff;
        color: #000;
        padding: 2px 20px;
        border-radius: 13px;
        font-size: 18px;
    }
    .exp{
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        border-color: rgba(255,255,255,.45);
        margin-top: 25px;
        overflow: hidden;
        height: 140px;
        ul{
            padding: 15px 0;
            float: left;
            li{
                font-size: 18px;
                line-height: 34px;
            }
        }
        .icon1{
            float: right;
            margin-top: 10px;
            margin-right: 30px;
        }
    }
    .price{
        color: #ff6203;
        font-weight: bold;
        margin-top: 32px;
        height: 60px;
        line-height: 60px;
        float: left;
        p{
            font-size: 46px;
            b{
                font-size: 28px;
                font-weight: bold;
            }
            &:before{
                font-size: 18px;
                content: "¥";
                margin-right: 3px;
            }
            &:after{
                font-size: 18px;
                content: "起";
                margin-left: 3px;
            }
        }
    }
    .order{
        background: url("img/dest/btn.png") no-repeat;
        width: 149px;
        height: 43px;
        float: right;
        margin-top: 40px;
    }
}


.prolist{
    width: 1020px!important;
    .pro3{
        width: 239px;
        height: 299px;
        float: left;
        margin-right: 14px;
        margin-bottom: 14px;
        box-sizing: border-box;
        -moz-box-sizing:border-box;
        -webkit-box-sizing:border-box;
        overflow: hidden;
        .img-box {
            width: 100%;
            height: 299px;
            position: relative;
            img {
                width: 100%;
                height: 299px;
            }
            .chufa {
                position: absolute;
                left: 10px;
                top: 10px;
                font-size: 16px;
                background: rgba(0, 0, 0, .7);
                -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
                color: #fff;
                border-radius: 16px;
                padding: 5px 15px;
            }
            .pro-con {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                background: rgba(0, 0, 0, .7);
                -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
                color: #fff;
                font-size: 16px;
                padding: 0px 5px 20px;
                box-sizing: border-box;
                -moz-box-sizing:border-box;
                -webkit-box-sizing:border-box;
                .maintit {
                    font-size: 18px;
                    line-height: 30px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
                .subtit {
                    height: 44px;
                    overflow: hidden;
                    line-height: 22px;
                    margin-bottom: 5px;
                    color: #cfcbcb;
                }
                .date{
                    margin-bottom: 5px;
                    font-size: 20px;
                }
                .price{
                    background: #ff5c03;
                    border-radius: 5px;
                    color: #fff;
                    font-weight: bold;
                    width: 211px;
                    height: 43px;
                    line-height: 43px;
                    margin: 0 auto;
                    text-align: center;
                    p{
                        font-size: 32px;
                        margin-left: 3%;
                        b{
                            font-size: 24px;
                            font-weight: bold;
                        }
                        &:before{
                            font-size: 18px;
                            content: "¥";
                            margin-right: 3px;
                            font-weight: normal;
                        }
                        &:after{
                            font-size: 18px;
                            content: "起";
                            margin-left: 3px;
                            font-weight: normal;
                        }
                    }
                }
            }
        }
    }
}

.sidetab{
    position: fixed;
    top: 200px;
    right: 100px;
    font-family: 'Microsoft YaHei','Apple LiGothic Medium',Arial,sans-serif;
    .gotop{
        width: 165px;
        height: 34px;
        background: rgba(0,0,0,.4);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
        font-size: 18px;
        line-height: 34px;
        text-align: center;
        border-radius: 17px;
        color: #fff;
        margin-top: 6px;
        a{
            display: block;
            color: #fff;
            background: url("img/dest/icon.png") 145px 10px no-repeat;
            &:hover{
                font-weight: bold;
                color: #fff;
            }
        }
    }
    ul{
        li{
            width: 165px;
            height: 34px;
            background: rgba(0,0,0,.4);
            -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
            font-size: 18px;
            line-height: 34px;
            text-align: center;
            border-radius: 17px;
            margin-top: 6px;
        }
        li a{
            display: block;
            color: #fff;
            border-radius: 17px;
            background: url("img/dest/icon.png") 145px 10px no-repeat;
        }
        li.active{
            background: rgba(0,0,0,.6);
            -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
            border-radius: 17px;
            font-weight: bold;
            color: #fff;
            font-size: 20px;
        }
    }
}

.area{
    margin-top: 260px;
    font-size: 22px;
    height: 38px;
    line-height: 38px;
    background: rgba(0,0,0,.6);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    border-radius: 100px;
    color: #fff;
    width: 153px;
    cursor: pointer;
    position: relative;
    .area-now{
        padding-left: 20px;
        background: url("img/dest/shark.png") 117px 15px no-repeat;
    }
    .area-nav{
        position: absolute;
        left: 0;
        top: 38px;
        width: 121px;
        height: 33px;
        background: rgba(0,0,0,.3);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
        z-index: 100;
        margin-left: 16px;
        box-sizing: border-box;
        -moz-box-sizing:border-box;
        -webkit-box-sizing:border-box;
        font-size: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        text-align: center;
        li{
            height: 33px;
            line-height: 33px;
        }
    }
    .area-icon{
        position: absolute;
        top: 40%;
        right: 20px;
        background: url("img/dest/shark.png") no-repeat;
        width: 18px;
        height: 10px;
    }
    &:hover{
        background: rgba(0,0,0,.8);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    }
}

//slider
.sider{
    position: relative;
    height: 850px;
    z-index: 0;
    width: 100%;
    overflow: hidden;
}
.carousel, .unslider {
    position: relative;
    overflow: hidden;
    height: 850px;
}
.carousel{
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -960px;
    button{
        border: none;
        width: 326px;
        height: 8px;
        margin: 0 4px;
        text-indent: -999em;
        cursor: pointer;
        background: rgba(255,255,255,.5);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    }
    .left{
        z-index: 10;
    }
    .right{
        z-index: 10;
    }
}

.carousel ul li, .unslider ul li {
    float: left;
}
.btn {
    position: absolute;
    left: 50%;
    bottom: 50px;
    z-index: 10;
    margin-left: -334px;
}
.btn button.active {
    background: #fff;
}
.carousel-nav{
    display: none;
}
