@import "../../../../styles/mixins/t.media.less";
/*RESET*/
em, i {
    font-style: normal;
}
*{
  padding: 0;
  margin: 0;
}
ul,li{
  list-style-type: none;
}
/*COMMON*/
.container {
    width: 100%;
    max-width: 640px; /*是否为全屏宽度*/
    margin: 0 auto;
    height: auto;
    font-family: "HiraginoSansGB W6", "microsoft yahei";
    overflow: hidden;
    position: relative;

    img {
        width: 100%;
        height: auto;
        display: block;
        border: 0;
    }
    .pro {
        position: relative;
        &.sellout {
            &:after {
                position: absolute;
                display: block;
                content: "";
                top: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                background: url("//img1.40017.cn/touch/v/2015/zt/2015/28310/sellout.png") center no-repeat;
                background-color: rgba(0, 0, 0, 0.5);
                background-size: 160/@rem 140/@rem;
            }
        }
    }
}

.none {
    display: none !important;
}
a{
    color: #000;
  text-decoration: none;
}

.choice{
    position: relative;
}
.area{
    position: absolute;
    bottom: 20%;
    right: 4%;
    font-size: 28/@rem;
    height: 60/@rem;
    line-height: 60/@rem;
    padding: 0 30/@rem 0 5/@rem;
    background: rgba(0,0,0,.6);
    border-radius: 30px;
    color: #fff;
    width: 24%;
    text-align: center;
    .area-nav{
        position: absolute;
        top: 60/@rem;
        left: 10%;
        width: 80%;
        background: rgba(0,0,0,.4);
        z-index: 100;
        box-sizing: border-box;
        font-size: 26/@rem;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        li{
            height: 50/@rem;
            line-height: 50/@rem;
        }
    }
    .area-icon{
        position: absolute;
        top: 40%;
        right: 9%;
        width: 25/@rem;
        height: 16/@rem;
        background: url("img/dest/area-icon.png") no-repeat;
        background-size: 100%;
    }
    &:hover{
        background: rgba(0,0,0,.8);
    }
}

.part1{
    overflow: hidden;
    background: url("img/dest/bg1.jpg") repeat-y;
    .prolist{
        width: 94%;
        padding: 0 3%;
        padding-bottom: 20/@rem;
    }
}
.part2{
    background: url("img/dest/bg2.jpg") repeat-y;
    overflow: hidden;
    
}
.part3{
    background-size: 100%;
}
#part4{
    padding-bottom: 20/@rem;
}
.pro1{
    width: 100%;
    background: #fff;
    position: relative;
    overflow: hidden;
    margin-top: 20/@rem;
    padding-bottom: 10/@rem;
    .img-box{
        position: relative;
        width: 100%;
        height: 260/@rem;
        img{
            width: 100%;
            height: 260/@rem;
        }
        .tczy{
            background: url(img/dest/tczy.png) no-repeat;
            width: 61/@rem;
            height: 69/@rem;
            background-size: contain;
            position: absolute;
            top: 20/@rem;
            left: 20/@rem;
        }
        .chufa{
            background: #fff;
            font-size: 20/@rem;
            border-radius: 16px;
            padding: 0 15/@rem;
            position: absolute;
            top: 15/@rem;
            right: 15/@rem;
        }
        .maintit{
            background: rgba(0,0,0,.5);
            font-size: 28/@rem;
            width: 94%;
            padding: 0 3%;
            position: absolute;
            bottom: 0;
            left: 0;
            height: 50/@rem;
            line-height: 50/@rem;
            color: #fff;
            font-weight: bold;
            white-space: nowrap;
            text-overflow:ellipsis;
            overflow: hidden;
        }
    }
    .exp{
        font-size: 20/@rem;
        color: #6c6767;
        width: 60%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        margin: 10/@rem 0 0 3%;
    }
    .price{
        color: #fe4701;
        font-weight: bold;
        p{
            font-size: 40/@rem;
            margin-left: 3%;
            b{
                font-size: 28/@rem;
            }
            &:before{
                font-size: 1rem;
                content: "¥";
                font-weight: normal;
                margin-right: 3px;
            }
            &:after{
                font-size: 1rem;
                content: "起";
                font-weight: normal;
                margin-left: 3px;
            }
        }
    }
    .order{
        width: 152/@rem;
        height: 48/@rem;
        line-height: 48/@rem;
        background: url(img/dest/btn1.jpg) no-repeat;
        background-size: contain;
        position: absolute;
        right: 3%;
        bottom: 25/@rem;
    }
}

.title1{
    margin-top: 20/@rem;
}
.pro2{
    width: 45.5%;
    margin-left: 3%;
    float: left;
    position: relative;
    margin-top: 20/@rem;
    overflow: hidden;
    .img-box{
        width: 100%;
        height: 320/@rem;
        position: relative;
        img{
            width: 100%;
            height: 320/@rem;
        }
        .pro-con{
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 55%;
            background: rgba(0,0,0,.6);
            color: #fff;
            font-size: 20/@rem;
            padding: 10/@rem;
            box-sizing: border-box;
            .chufa{
                background: #fff;
                border-radius: 16px;
                color: #000;
                padding: 5/@rem 15/@rem;
            }
            .maintit{
                font-size: 24/@rem;
                line-height: 38/@rem;
                font-weight: bold;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            .subtit{
                margin-top: 5/@rem;
                overflow: hidden;
            }
            .price{
                width: 100%;
                height: 43/@rem;
                line-height: 43/@rem;
                background: #ff6203;
                color: #fff;
                font-size: 28/@rem;
                margin-top: 10/@rem;
                text-align: center;
                p{
                    font-size: 34/@rem;
                    margin-left: 3%;
                    b{
                        font-size: 28/@rem;
                    }
                    &:before{
                        font-size: 1rem;
                        content: "¥";
                        font-weight: normal;
                        margin-right: 3px;
                    }
                    &:after{
                        font-size: 1rem;
                        content: "起";
                        font-weight: normal;
                        margin-left: 3px;
                    }
                }
            }
        }
    }
}

/*吸底导航*/
.fixed {
    position: fixed;
    bottom: 0;
    z-index: 99;
}

.switch {
    width: 100%;
    margin: 0 auto;
    font-family: "HiraginoSansGB W6", "microsoft yahei";
}

.switch .switch-cfd {
    display: block;
}

.switch .switch-cfd li {
    float: left;
    width: 25%;
    height: 65/@rem;
    line-height: 65/@rem;
    text-align: center;
    font-size: 20/@rem;
    background: #af7a0c;
    border-left: 1px solid #fded7e;
    box-sizing: border-box;
    &:first-child{
        border: none;
    }
}
.switch .switch-cfd li a {
    display: block;
    width: 100%;
    height: 65/@rem;
    color: #fded7e;
}
.switch .switch-cfd li a.active{
    background: #ff7402;
    color: #fff;
    font-weight: bold;
    font-size: 24/@rem;
}

//swiper-container
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-pagination{
    width: 100%;
}
.swiper-pagination-bullet{
    width: 22/@rem;
    height: 22/@rem;
    background: #dfca97;
    border-radius: 20px;
    float: left;
    opacity: 1;
    margin: 0 0 0 3%!important;
}
.swiper-pagination-bullet-active{
    background: #aa873e;
}
.swiper-container-horizontal>.swiper-pagination-bullets{
    left: 42.5%;
}