<div class="content none">
    <div class="wzxts-top">
        <img class="unit-img" src="<%=ctx.imgPage%>wzxts-top-1.png" alt="">
        <img class="unit-img" src="<%=ctx.imgPage%>wzxts-top-2.png" alt="">
        <img class="unit-img" src="<%=ctx.imgPage%>wzxts-top-3.png" alt="">
        <!--区域切换按钮-->
        <div class="area_change_div">
            <span class="txt_sp">华东</span>
        </div>
    </div>
    <!-- 礼品 -->
    <div class="detail-unit unit-gift">
        <div class="unit-title"><img class="unit-img" src="<%=ctx.imgPage%>wzxts-title-1.png" alt=""></div>
        <div class="gift-pro">
            <img class="unit-img" src="<%=ctx.imgPage%>wzxts-gift.png" alt="">
            <div class="gift-box">
                <a attr-id="1"></a>
                <a attr-id="2"></a>
                <a attr-id="3"></a>
            </div>
        </div>
    </div>
    <!-- 爆款抢购 -->
    <div class="detail-unit unit-hot">
        <div class="unit-title"><img class="unit-img" src="<%=ctx.imgPage%>wzxts-title-2.png" alt=""></div>
        <div class="hot-pro">
            <a href="" class="hot-link">
                <div class="hot-img">
                    <img src="//pic4.40017.cn/cruises/2017/01/10/16/FM2wK4_420x272_00.jpg" alt="">
                    <span class="hot icon-img"></span>
                    <div class="line"></div>
                    <div class="title">
                        <p class="t">天海邮轮-新世纪号</p>
                        <p>03月08日 上海-济州-长崎-上海 4晚5日游03月08日 上海-济州-长崎-上海 4晚5日游</p>
                    </div>
                </div>
                <div class="hot-intro">
                    <p class="label"><i class="icon-img"></i>我是理由我是理由我是理由我是理由我是理由我是理由我是理由我是理由我是理由我是理由我是理由我是理由我是理由我是理由</p>
                    <div class="info">
                        <span class="price">&yen;<em>16999</em></span>
                        <span class="btn">疯狂抢购</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <!-- 小资赏花购物之旅 -->
    <div class="detail-unit unit-shopping">
        <div class="unit-title"><img class="unit-img" src="<%=ctx.imgPage%>wzxts-title-3.png" alt=""></div>
        <div class="data-pro clearfix">
            <div class="data-box">
                <a href="" class="data-link">
                    <div class="data-img">
                        <img src="//pic4.40017.cn/cruises/2017/01/10/16/FM2wK4_420x272_00.jpg" alt="">
                        <span class="city">上海出发</span>
                    </div>
                    <div class="data-intro">
                        <p class="tit">【天海邮轮-新世纪号】 3月8日 上海-济州-长崎-上海 4晚5日游</p>
                        <div class="label"><span>同程专线</span><span>浪漫樱花</span></div>
                        <div class="info">
                            <div class="price">&yen;<em>16999</em></div>
                            <div class="integral">百旅会积分抵扣</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="data-box">
                <a href="" class="data-link">
                    <div class="data-img">
                        <img src="//pic4.40017.cn/cruises/2017/01/10/16/FM2wK4_420x272_00.jpg" alt="">
                        <span class="city">上海出发</span>
                    </div>
                    <div class="data-intro">
                        <p class="tit">【天海邮轮-新世纪号】 3月8日 上海-济州-长崎-上海 4晚5日游</p>
                        <div class="label"><span>同程专线</span><span>浪漫樱花</span></div>
                        <div class="info">
                            <div class="price">&yen;<em>16999</em></div>
                            <div class="integral">百旅会积分抵扣</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- 浪漫奢华之旅 -->
    <div class="detail-unit unit-luxury">
        <div class="unit-title"><img class="unit-img" src="<%=ctx.imgPage%>wzxts-title-4.png" alt=""></div>
        <div class="data-pro clearfix">
            <div class="data-box">
                <a href="" class="data-link">
                    <div class="data-img">
                        <img src="//pic4.40017.cn/cruises/2017/01/10/16/FM2wK4_420x272_00.jpg" alt="">
                        <span class="city">上海出发</span>
                    </div>
                    <div class="data-intro">
                        <p class="tit">【天海邮轮-新世纪号】 3月8日 上海-济州-长崎-上海 4晚5日游</p>
                        <div class="label"><span>同程专线</span><span>浪漫樱花</span></div>
                        <div class="info">
                            <div class="price">&yen;<em>16999</em></div>
                            <div class="integral">百旅会积分抵扣</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="data-box">
                <a href="" class="data-link">
                    <div class="data-img">
                        <img src="//pic4.40017.cn/cruises/2017/01/10/16/FM2wK4_420x272_00.jpg" alt="">
                        <span class="city">上海出发</span>
                    </div>
                    <div class="data-intro">
                        <p class="tit">【天海邮轮-新世纪号】 3月8日 上海-济州-长崎-上海 4晚5日游</p>
                        <div class="label"><span>同程专线</span><span>浪漫樱花</span></div>
                        <div class="info">
                            <div class="price">&yen;<em>16999</em></div>
                            <div class="integral">百旅会积分抵扣</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- 挑战冒险之旅 -->
    <div class="detail-unit unit-adventure">
        <div class="unit-title"><img class="unit-img" src="<%=ctx.imgPage%>wzxts-title-5.png" alt=""></div>
        <div class="data-pro clearfix">
            <div class="data-box">
                <a href="" class="data-link">
                    <div class="data-img">
                        <img src="//pic4.40017.cn/cruises/2017/01/10/16/FM2wK4_420x272_00.jpg" alt="">
                        <span class="city">上海出发</span>
                    </div>
                    <div class="data-intro">
                        <p class="tit">【天海邮轮-新世纪号】 3月8日 上海-济州-长崎-上海 4晚5日游</p>
                        <div class="label"><span>同程专线</span><span>浪漫樱花</span></div>
                        <div class="info">
                            <div class="price">&yen;<em>16999</em></div>
                            <div class="integral">百旅会积分抵扣</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="data-box">
                <a href="" class="data-link">
                    <div class="data-img">
                        <img src="//pic4.40017.cn/cruises/2017/01/10/16/FM2wK4_420x272_00.jpg" alt="">
                        <span class="city">上海出发</span>
                    </div>
                    <div class="data-intro">
                        <p class="tit">【天海邮轮-新世纪号】 3月8日 上海-济州-长崎-上海 4晚5日游</p>
                        <div class="label"><span>同程专线</span><span>浪漫樱花</span></div>
                        <div class="info">
                            <div class="price">&yen;<em>16999</em></div>
                            <div class="integral">百旅会积分抵扣</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- 广告位 -->
    <div class="detail-unit unit-banner">
    </div>
    <script type="text/html" id="hotTemplate">
        <a {0} class="hot-link">
            <div class="hot-img">
                <img class="pro_img" data-nsrc="{1}" alt="">
                <span class="hot icon-img"></span>
                <div class="line"></div>
                <div class="title">
                    <p class="t">{2}</p>
                    <p>{3}</p>
                </div>
            </div>
            <div class="hot-intro">
                <p class="label">{4}</p>
                <div class="info">
                    <span class="price">&yen;<em>{5}</em></span>
                    <!-- <span class="btn">疯狂抢购</span> -->
                    {6}
                </div>
            </div>
        </a>
    </script>
    <script type="text/html" id="dataTemplate">
        <div class="data-box">
            <a href="{0}" class="data-link">
                <div class="data-img">
                    <img class="pro_img" data-nsrc="{1}" alt="">
                    <span class="city">{2}出发</span>
                </div>
                <div class="data-intro">
                    <p class="tit">{3}</p>
                    <div class="label">{4}</div>
                    <div class="info">
                        <div class="price">&yen;<em>{5}</em></div>
                        <div class="integral">百旅会积分抵扣</div>
                    </div>
                </div>
            </a>
        </div>
    </script>
</div>
<!--loading 效果-->
<div class="loading_div " ontouchmove="return false;">
    <div class="loader">
        <em></em>
        <span>努力加载中</span>
    </div>
</div>
<!--弹框 S-->
<div class="shadow_bg none"></div>
<!--区域弹框-->
<div class="area_box none">
    <span class="close_but icon-img"></span>
    <ul class="area_ul_list">
        <li _areaid="10" _showtxt="华东">华东</li>
        <li _areaid="11" _showtxt="华南">华南</li>
        <li _areaid="12" _showtxt="华北">华北</li>
        <li _areaid="13" _showtxt="华中">华中</li>
        <li _areaid="14" _showtxt="华西">华西</li>
    </ul>
</div>
<!--礼品弹框-->
<div class="gift-pop none">
    <span class="close"></span>
    <div class="gift-intro">
        <img class="unit-img intro-1 none" src="<%=ctx.imgPage%>wzxts-gift-1.png" alt="">
        <img class="unit-img intro-2 none" src="<%=ctx.imgPage%>wzxts-gift-2.png" alt="">
        <img class="unit-img intro-3 none" src="<%=ctx.imgPage%>wzxts-gift-3.png" alt="">
    </div>
</div>
