body {
}

@font-size: 50px;

.ui_wish_mask {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #808080;
    background-color: rgba(0,0,0,0.75);
    top: 0;
    left: 0;
    display: none;
    z-index: 1000000;
    font-size: 4.5rem;
}

.ui_wish_gp {
    position: fixed;
    width: 6.4em;
    height: 6.4em;
    margin: auto;
    top: 1.5em;
    left: 0;
    /*bottom: 0;*/
    right: 0;

    .bg_top1 {
        background-image: url(./images/wish_31.png);
        width: 6.4em;
        height: 2.17em;
        background-repeat: no-repeat;
        -moz-background-size: cover;
        -o-background-size: cover;
        -webkit-background-size: cover;
        background-size: cover;
        float: left;
    }

    .bg_top2 {
        background-image: url(./images/wish_32.png);
        width: 6.4em;
        height: 1.04em;
        background-repeat: no-repeat;
        -moz-background-size: cover;
        -o-background-size: cover;
        -webkit-background-size: cover;
        background-size: cover;
        float: left;
    }

    .bg_top3 {
        background-image: url(./images/wish_33.png);
        width: 6.4em;
        height: 1.48em;
        background-repeat: no-repeat;
        -moz-background-size: cover;
        -o-background-size: cover;
        -webkit-background-size: cover;
        background-size: cover;
        float: left;
    }
    .bg_top4 {
        background-image: url(./images/wish_34.png);
        width: 6.4em;
        height: 1.31em;
        background-repeat: no-repeat;
        -moz-background-size: cover;
        -o-background-size: cover;
        -webkit-background-size: cover;
        background-size: cover;
        float: left;
    }
    .btn_wish {
        width: 2.9em;
        height: .65em;
        background-repeat: no-repeat;
        -moz-background-size: cover;
        -o-background-size: cover;
        -webkit-background-size: cover;
        background-size: cover;
        position: absolute;
        margin: auto;
        top: 3.85em;
        left: 0;
        right: 0;
    }

    .btn_continue {
        width: 2.9em;
        height: .55em;
        background-repeat: no-repeat;
        -moz-background-size: cover;
        -o-background-size: cover;
        -webkit-background-size: cover;
        background-size: cover;
        position: absolute;
        margin: auto;
        top: 4.7em;
        left: 0;
        right: 0;
    }

    .btn_close {
        width: .4em;
        height: .4em;
        display: block;
        background-repeat: no-repeat;
        -moz-background-size: cover;
        -o-background-size: cover;
        -webkit-background-size: cover;
        background-size: cover;
        position: absolute;
        right: .91em;
        top: .2em;
    }
}
