<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
{{ var it = IT.Data;}}
{{
    var cInfor = it.cityInfor[0]||{},
        selectLine = it.selectionLine||{},
        hotplay = it.hotWanfa||{},
        recommend = it.recommendation||{},
        hotLine = it.hotLine||{},
        hotCity = it.hotCity||{},
        cityId = it.cityId || "321",
        startCity = it.cityName ||"上海";
}}
{{
    var DesInfo = cInfor.DestinationInfo,
        country = DesInfo.CityName,
        destPinYin = it.destPinYin;
}}
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="{{=country}}旅游报价,{{=country}}跟团游,{{=country}}国自助游,{{=country}}旅游线路" />
    <meta name="description" content="同程旅游（LY.COM）为您提供出境旅游攻略，境外旅游线路推荐，包括出境热门城市，精彩游记，交通出行，游玩路线，美食推荐，购物指南。让您的出境游更精彩。" />
    <title>{{=country}}旅游报价_{{=country}}跟团游_{{=country}}自助游_{{=country}}旅游线路_自由行_攻略_同程出境游</title>

    <% includeId = cnwidescreenjscss %>
    <link href="//css.40017.cn/cn/v/2015/destination/destination.05134.css" rel="stylesheet" />
</head>
<body>
<!-- 公共头部 开始 -->
    <% includeId = cnwidescreenhead?channel=dujia %>
<!-- 公共头部 结束 -->
     <div class="container">
        <div class="part">
            <div class="center clearfix">
                <!--页面导航-->
                <div class="navigation_bars">您所在位置：<a href="/">同程首页</a>><a href="/dujia/">出境游</a>> {{=country}}
                    <span class="c_phone c_phone_add" attr-url="/dujia/ajaxcall.aspx?type=GetTel400">客服电话：4007-777-777</span>
                </div>
                <div class="country_title">
                    <div class="title">{{=country}}旅游</div>
                </div>
            </div>
        </div>
        <div class="part">
            <div class="center clearfix">
                <div class="middle_gp">
                    <!--顶部国家描述start-->
                    <div class="middle_panel">
                        <div class="middle_content">
                        {{?DesInfo.Des && DesInfo.Des!=""}}
                            {{=DesInfo.Des}}
                        {{??}}
                        <div class="md_line_nothing">暂无信息</div>
                        {{?}}
                        </div>
                    </div>
                    <div class="middle_panel">
                        <div class="middle_content">
                        {{?cInfor.DestinationTips}}
                        <div class="textalign clearfix">
                            <span class="title">最佳季节：</span>
                            <span class="content">{{?cInfor.DestinationTips.TravelTime!=""}}{{=cInfor.DestinationTips.TravelTime}}{{??}}无{{?}}</span>
                        </div>
                        <div class="textalign clearfix">
                            <span class="title">货币兑换：</span>
                            <span class="content">{{?cInfor.DestinationTips.CurrencyExchange!=""}}{{=cInfor.DestinationTips.CurrencyExchange}}{{??}}无{{?}}</span>
                        </div>
                        <div class="textalign clearfix">
                            <span class="title">邮政通讯：</span>
                            <span class="content">{{?cInfor.DestinationTips.Postal!=""}}{{=cInfor.DestinationTips.Postal}}{{??}}无{{?}}</span>
                        </div>
                        {{??}}
                        <div class="md_line_nothing">暂无信息</div>
                        {{?}}
                        </div>
                    </div>
                    <!--顶部国家描述end-->
                    <!--精选线路-->
                    <div class="middle_panel">
                        {{#def.selectline}}
                    </div>
                    <!--城市相关推荐-->
                    {{?hotCity && hotCity.length>0}}
                    <div class="middle_panel">
                        <div class="middle_content">
                            <div class="middle_header">
                                <div class="middle_title skin2">
                                    {{=country}}相关推荐
                                </div>
                            </div>
                            <div class="md_hotcity">
                                {{~hotCity:hotcityL}}
                                    <a href= "/dujia/des-{{=hotcityL.DestinationPinyin}}{{=hotcityL.DestinationId}}-c/" title="{{=hotcityL.DestinationName}}">{{=hotcityL.DestinationName}}</a>
                                {{~}}
                            </div>
                        </div>
                    </div>
                    {{?}}
                    <!-- 热门玩法 -->
                    {{?hotplay && hotplay.length>0}}
                    <div class="middle_panel">
                        <div class="middle_content">
                            <div class="middle_header">
                                <div class="middle_title skin3">
                                    {{=country}}热门玩法
                                </div>
                            </div>
                            <div class="md_playing">
                            {{~hotplay:hot:hIndex}}
                                <a  href= "/dujia/wanfa-{{=hot.PlayId}}/" title="{{=hot.PlayName}}"><i class="limit-len">{{=hot.PlayName}}</i></a>
                            {{~}}
                            </div>
                        </div>
                    </div>
                    {{?}}


                    <!--小编推荐产品end-->
                    <div class="middle_panel md_recommend">
                        <div class="middle_content">
                            <div class="middle_header">
                                <div class="middle_title skin4">小编推荐</div>
                            </div>
                            {{?recommend.ProductList && recommend.ProductList.length>0}}
                                <div class="md_recommend_title">
                                    如果您对以上玩法感兴趣，同程为您准备了几条线路：
                                </div>
                                {{~recommend.ProductList:rem}}
                                <div class="md_recommend_content">
                                <a  href= "//www.ly.com/dujia/tours/{{=rem.LineId}}.html">{{=rem.MainTitle}}&lt;{{=rem.SubTitle}}&gt;</a>
                                </div>
                                {{~}}
                            {{??}}
                                <div class="md_line_nothing">
                                    没有线路哦，您可以选择附近出发地查看更多线路！或者来一次<a href="//www.ly.com/dujia/schedule.html" class="fontstyle">定制</a>吧！
                                </div>
                            {{?}}
                        </div>
                    </div>
                    <!--小编推荐start-->
                </div>

                <!--右侧内容-->
                <div class="right_gp">
                    <!--右侧热门旅游线路 start-->
                    {{?hotLine.HotLines && hotLine.HotLines.length>0}}
                        {{#def.hotline}}
                    {{?}}
                    <!--热门旅游线路 end-->

                    <!--热门目的地推荐-->
                     <div class="right_panel">
                        <div class="right_gp_header">
                            <div class="right_gp_title skin2">热门目的地推荐</div>
                        </div>
                        <div class="right_country_gp">
                            <a href="/dujia/des-riben2847/">日本</a>
                            <a href="/dujia/des-taiguo2946/">泰国</a>
                            <a href="/dujia/des-pujidao3144-c/">普吉岛</a>
                            <a href="/dujia/des-xianggang395-c/">香港</a>
                            <a href="/dujia/des-faguo3144/">法国</a>
                            <a href="/dujia/des-xiaweiyi4252-c/">夏威夷</a>
                            <a href="/dujia/des-jianada2780/">加拿大</a>
                            <a href="/dujia/des-chaoxian2896/">朝鲜</a>
                            <a href="/dujia/des-jianpuzhai2778/"><span>柬埔寨</span><span class="desti_label">落地签</span></a>
                            <a href="/dujia/des-changtandao5687-c/">长滩岛</a>
                            <a href="/dujia/des-balidao20996-c/"><span>巴厘岛</span><span class="desti_label free">免签</span></a>
                            <a href="/dujia/des-xila2825/">希腊</a>
                            <a href="/dujia/des-meiguo2960/">美国</a>
                            <a href="/dujia/des-nanfei2931/">南非</a>
                            <a href="/dujia/des-dibai3257-c/">迪拜</a>
                            <a href="/dujia/abroad/">更多</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--侧边栏begin-->
    <div class="service">
        <div class="service-kind" data-name="number" style="background-image: url(//img1.40017.cn/cn/v/2015/kefu/wifi_gif.gif)">
        </div>
        <a class="service-kind J_Kefu" target="_blank" href="#" style="background-image: url(//img1.40017.cn/cn/v/2015/kefu/Customer-service_gif.gif)"></a>
        <div class="service-kind" data-name="erwei" style="background-image: url(//img1.40017.cn/cn/v/2015/kefu/QRcode_gif.gif)"></div>
        <a style="visibility: visible;" class="back_top" href="javascript:;" title="返回顶部"></a>
    </div>

    <script type="text/javascript" src="//js.40017.cn/cn/public/jquery/jquery.min.js">
    </script>
    <script type="text/javascript" src="//js.40017.cn/cn/v/2015/kefu/index.08194.js?v=15081915">
    </script>
    <!-- 侧边栏初始化 -->
    <script type="text/javascript">
        ESQ.init({
            url:"//livechat.ly.com/out/guest?p=2&c=3"
        });
    </script>
    <!--侧边栏end-->
    <script type="text/javascript" src="//js.40017.cn/cn/min/??/cn/v/2015/jqmodules/jquery.js"></script>

    <!-- 公共页脚 开始 -->
    <% includeId = cnwidescreenfoot?vrcode=10002-2006-0 %>
    <!-- 公共页脚 结束 -->
    <script type="text/javascript" src="//js.40017.cn/cn/v/2015/jqmodules/monitor/0.3.0/index.js?v=2015113004"></script>
    <script src="//js.40017.cn/cn/v/2015/jqmodules/sea.js"></script>
    <script>
      seajs.config({
            "base": "//js.40017.cn/cn/v/2015/jqmodules/"
      })
    </script>
    <script type="text/javascript" src="//js.40017.cn/cn/v/2015/destination/destination.04185.js"></script>
    <script>
        var host = "//www.ly.com";
        var config = {
            cityapi: "    pe={0}&_=1447638942373",
            cityselect: (host || "") + "/dujia/AjaxHelper/DestinationHandler.ashx?Type=SpecialLineForDestination",
            recommend: (host || "") + "/dujia/AjaxHelper/DestinationHandler.ashx?Type=RecommendLineForDestination&lineType=1"
        };
        $(document).ready(function() {
            seajs.use("Destination", function(Destination) {
                Destination.departureInit(config);
            });
        })
    </script>
</body>
<script type="text/javascript" src="//js.40017.cn/cn/v/2015/jqmodules/statistics/0.3.0/statistics.js?v=16012120"></script>
<script type="text/javascript">
    stat.init({
        "baidu": {
            "parameter": "pc"
        },
        "vst": [
            ['_serialid', '0'],
            ['_vrcode', stat.getVrcode()],
            ['_refId', stat.getRefid()],
            ['_userId', stat.getMemberId()],
            ['_openTime', stat.timeDiff],
            ['_trackPageview', '/出境/PC目的地/城市页/']
        ]
    });
</script>
</html>
