body {
  font-family: "Microsoft Yahei";
  font-size: 12px;
  background-color: #f5f5f5;
  min-width: 1200px;
  width: 100%;
}
.clearfix:after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0;
}
.none {
  display: none;
}
.wrapper {
  background-color: #fff;
  z-index: 1;
}
.wrapper .content {
  margin: 0 auto;
  width: 100%;
}
.wrapper .content .team-top {
  width: 100%;
  height: 340px;
  background: url('images/top_bg.jpg') no-repeat top center;
}
.wrapper .content .team-top .team-middle {
  width: 1000px;
  height: 340px;
  margin: 0 auto;
  background: url('images/mid_bg.jpg') no-repeat top center;
}
.wrapper .content .team-top .team-middle .team-middle-btn {
  margin: 0 auto;
  padding-top: 232px;
  width: 352px;
}
.wrapper .content .team-top .team-middle .team-middle-btn .team-btn {
  width: 156px;
  height: 48px;
  background: #ff7a06;
  display: inline-block;
  text-align: center;
  line-height: 48px;
  color: #fff;
  font-size: 24px;
  border-radius: 2px;
  cursor: pointer;
}
.wrapper .content .team-top .team-middle .team-middle-btn .team-btn:first-child {
  margin-right: 40px;
}
.wrapper .content .team-top .team-middle .team-middle-btn .team-btn:hover {
  background: #ff6633;
}
.wrapper .content .team-flow {
  width: 100%;
  background: url('images/icon_bg.jpg') repeat;
}
.wrapper .content .team-flow ul {
  width: 1000px;
  margin: 0 auto;
}
.wrapper .content .team-flow ul.team-flow-icon li {
  float: left;
  width: 158px;
  margin-left: 139px;
  position: relative;
}
.wrapper .content .team-flow ul.team-flow-icon li em {
  margin: 30px 0 20px 20px;
  display: block;
  width: 76px;
  height: 98px;
}
.wrapper .content .team-flow ul.team-flow-icon li em.team-demand {
  background: url('images/icon_demand.png') no-repeat center;
}
.wrapper .content .team-flow ul.team-flow-icon li em.team-route {
  background: url('images/icon_route.png') no-repeat center;
}
.wrapper .content .team-flow ul.team-flow-icon li em.team-pay {
  background: url('images/icon_pays.png') no-repeat center;
}
.wrapper .content .team-flow ul.team-flow-icon li em.team-tour {
  background: url('images/icon_tour.png') no-repeat center;
}
.wrapper .content .team-flow ul.team-flow-icon li:after {
  content: "";
  background: url('images/icon_line.png') no-repeat center;
  position: absolute;
  display: inline-block;
  width: 96px;
  height: 10px;
  top: 71px;
  left: 158px;
}
.wrapper .content .team-flow ul.team-flow-icon li:first-child {
  margin-left: 0;
}
.wrapper .content .team-flow ul.team-flow-icon li.team-flow-last {
  width: auto;
  margin-left: 145px;
}
.wrapper .content .team-flow ul.team-flow-icon li.team-flow-last:after {
  content: "";
  display: none;
}
.wrapper .content .team-flow ul.team-flow-desc {
  padding-bottom: 20px;
}
.wrapper .content .team-flow ul.team-flow-desc li {
  float: left;
  width: 114px;
  text-align: center;
  margin-left: 184px;
}
.wrapper .content .team-flow ul.team-flow-desc li:first-child {
  margin-left: 0;
}
.wrapper .content .team-flow ul.team-flow-desc li.team-flow-third {
  width: 122px;
  margin-left: 176px;
}
.wrapper .content .team-flow ul.team-flow-desc li.team-flow-last {
  width: 90px;
  margin-left: 200px;
}
.wrapper .content .team-flow ul.team-flow-desc li p {
  font-size: 14px;
  color: #999;
  line-height: 34px;
}
.wrapper .content .team-flow ul.team-flow-desc li p:first-child {
  font-size: 16px;
  color: #333;
  line-height: 16px;
}
.wrapper .content .team-module {
  width: 100%;
  height: auto;
}
.wrapper .content .team-module .team-content {
  width: 100%;
}
.wrapper .content .team-module .team-content .team-title {
  text-align: center;
  width: 100%;
  padding-top: 25px;
}
.wrapper .content .team-module .team-content .team-title h3 {
  font-size: 26px;
  color: #333;
  line-height: 36px;
}
.wrapper .content .team-module .team-content .team-title div {
  line-height: 24px;
  font-size: 14px;
  color: #999;
}
.wrapper .content .team-module .team-content .team-title .team-line {
  width: 70px;
  height: 2px;
  background: #96c34e;
  margin: 10px auto 20px;
}
.wrapper .content .team-module .team-content .team-table {
  margin: 0 auto;
  background: #fff;
  width: 1000px;
  height: 672px;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
  position: relative;
}
.wrapper .content .team-module .team-content.team-realize {
  height: 881px;
  background: url('images/content_bg.jpg') no-repeat top center;
}
.wrapper .content .team-module .team-content.team-realize .team-table-head {
  height: 110px;
  margin: 0 auto;
  width: 960px;
  border-bottom: 1px dashed #d9dee2;
}
.wrapper .content .team-module .team-content.team-realize .team-table-head ul {
  width: 648px;
  margin: 0 auto;
}
.wrapper .content .team-module .team-content.team-realize .team-table-head ul .team-list {
  float: left;
  width: 216px;
  text-align: center;
  font-size: 14px;
  position: relative;
  margin: 30px 0 0;
  font-size: 12px;
  line-height: 22px;
  color: #333;
}
.wrapper .content .team-module .team-content.team-realize .team-table-head ul .team-list .team-list-step {
  border: 2px #d9dee2 solid;
  box-sizing: border-box;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  line-height: 24px;
  margin: 0 auto 5px;
  background: #fff;
  font-size: 14px;
  color: #d9dee2;
}
.wrapper .content .team-module .team-content.team-realize .team-table-head .t-bot {
  background-color: #d9dee2;
  height: 2px;
  width: 648px;
  margin: -40px auto;
}
.wrapper .content .team-module .team-content.team-realize .team-table-head .t-bot .t-sbot {
  background-color: #96c34e;
  width: 0;
  height: 2px;
  display: block;
}
.wrapper .content .team-module .team-content.team-realize .team-table-head.team-table-info ul .team-list .team-list-info {
  color: #96c34e;
  border: 2px #96c34e solid;
  border-radius: 50%;
}
.wrapper .content .team-module .team-content.team-realize .team-table-head.team-table-info .t-bot .t-sbot {
  width: 216px;
}
.wrapper .content .team-module .team-content.team-realize .team-table-head.team-table-special ul .team-list .team-list-info {
  color: #96c34e;
  border: 2px #96c34e solid;
  border-radius: 50%;
}
.wrapper .content .team-module .team-content.team-realize .team-table-head.team-table-special ul .team-list .team-list-special {
  color: #96c34e;
  border: 2px #96c34e solid;
  border-radius: 50%;
}
.wrapper .content .team-module .team-content.team-realize .team-table-head.team-table-special .t-bot .t-sbot {
  width: 432px;
}
.wrapper .content .team-module .team-content.team-realize .team-table-head.team-table-contact ul .team-list .team-list-step {
  color: #96c34e;
  border: 2px #96c34e solid;
  border-radius: 50%;
}
.wrapper .content .team-module .team-content.team-realize .team-table-head.team-table-contact .t-bot .t-sbot {
  width: 648px;
}
.wrapper .content .team-module .team-content.team-realize .team-table-content {
  width: 400px;
  margin: 0 auto;
}
.wrapper .content .team-module .team-content.team-realize .team-table-content .table-title {
  text-align: center;
  font-size: 18px;
  color: #333;
  line-height: 78px;
}
.wrapper .content .team-module .team-content.team-realize .team-table-content .table-content.table-content-info .table-info {
  margin-bottom: 20px;
}
.wrapper .content .team-module .team-content.team-realize .team-table-content .table-content.table-content-info .table-info .error-tip {
  display: none;
}
.wrapper .content .team-module .team-content.team-realize .team-table-content .table-content.table-content-info .table-info.input-error .table-input,
.wrapper .content .team-module .team-content.team-realize .team-table-content .table-content.table-content-info .table-info.input-error .table-link-input {
  border-color: #ff7800;
}
.wrapper .content .team-module .team-content.team-realize .team-table-content .table-content.table-content-info .table-info.input-error .error-tip {
  display: inline-block;
  line-height: 30px;
  padding: 0 8px 0 30px;
  border: #f4e09d 1px solid;
  background: #fff7dc url("images/icon_tip.png") no-repeat 10px 8px;
  font-size: 12px;
  color: #666;
  position: absolute;
  margin-left: 10px;
}
.wrapper .content .team-module .team-content.team-realize .team-table-content .table-content.table-content-info .table-info.table-tip {
  margin-top: -5px;
  line-height: 14px;
}
.wrapper .content .team-module .team-content.team-realize .team-table-content .table-content.table-content-info .table-info.table-tip .table-change em {
  color: #ff5d17;
}
.wrapper .content .team-module .team-content.team-realize .team-table-content .table-content.table-content-info .table-info label {
  text-align: right;
  width: 80px;
  color: #666;
  font-size: 16px;
  line-height: 30px;
  vertical-align: -2px;
  margin-right: 20px;
  display: inline-block;
}
.wrapper .content .team-module .team-content.team-realize .team-table-content .table-content.table-content-info .table-info label em {
  color: #ff5d17;
  font-size: 14px;
  margin-right: 8px;
}
.wrapper .content .team-module .team-content.team-realize .team-table-content .table-content.table-content-info .table-info .table-type,
.wrapper .content .team-module .team-content.team-realize .team-table-content .table-content.table-content-info .table-info .table-time {
  line-height: 38px;
  width: 130px;
  border: #ddd 1px solid;
  text-align: center;
  font-size: 16px;
  color: #333;
  display: inline-block;
  position: relative;
  cursor: pointer;
  border-radius: 2px;
}
.wrapper .content .team-module .team-content.team-realize .team-table-content .table-content.table-content-info .table-info .table-type label,
.wrapper .content .team-module .team-content.team-realize .team-table-content .table-content.table-content-info .table-info .table-time label {
  line-height: 38px;
}
.wrapper .content .team-module .team-content.team-realize .team-table-content .table-content.table-content-info .table-info .table-type i,
.wrapper .content .team-module .team-content.team-realize .team-table-content .table-content.table-content-info .table-info .table-time i {
  margin: 0;
}
.wrapper .content .team-module .team-content.team-realize .team-table-content .table-content.table-content-info .table-info .table-type.current,
.wrapper .content .team-module .team-content.team-realize .team-table-content .table-content.table-content-info .table-info .table-time.current {
  border: #96c34e 1px solid;
}
.wrapper .content .team-module .team-content.team-realize .team-table-content .table-content.table-content-info .table-info .table-type.current i,
.wrapper .content .team-module .team-content.team-realize .team-table-content .table-content.table-content-info .table-info .table-time.current i {
  background: url('images/icon_check.png') center;
  width: 17px;
  height: 17px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
}
.wrapper .content .team-module .team-content.team-realize .team-table-content .table-content.table-content-info .table-info .table-type.table-type-person,
.wrapper .content .team-module .team-content.team-realize .team-table-content .table-content.table-content-info .table-info .table-time.table-type-person {
  margin-right: 25px;
}
.wrapper .content .team-module .team-content.team-realize .team-table-content .table-content.table-content-info .table-info .table-input,
.wrapper .content .team-module .team-content.team-realize .team-table-content .table-content.table-content-info .table-info .table-link-input,
.wrapper .content .team-module .team-content.team-realize .team-table-content .table-content.table-content-info .table-info .table-input-note {
  line-height: 30px;
  height: 30px;
  border: 1px solid #ddd;
  border-radius: 2px;
  color: #333;
  padding-left: 10px;
  font-size: 14px;
}
.wrapper .content .team-module .team-content.team-realize .team-table-content .table-content.table-content-info .table-info .table-city,
.wrapper .content .team-module .team-content.team-realize .team-table-content .table-content.table-content-info .table-info .table-person-info {
  width: 278px;
}
.wrapper .content .team-module .team-content.team-realize .team-table-content .table-content.table-content-info .table-info .table-budget,
.wrapper .content .team-module .team-content.team-realize .team-table-content .table-content.table-content-info .table-info .table-start,
.wrapper .content .team-module .team-content.team-realize .team-table-content .table-content.table-content-info .table-info .table-end,
.wrapper .content .team-module .team-content.team-realize .team-table-content .table-content.table-content-info .table-info .table-days {
  width: 120px;
}
.wrapper .content .team-module .team-content.team-realize .team-table-content .table-content.table-content-info .table-info .table-start,
.wrapper .content .team-module .team-content.team-realize .team-table-content .table-content.table-content-info .table-info .table-end {
  background: url("images/icon_calendar.png") no-repeat 104px;
  cursor: pointer;
}
.wrapper .content .team-module .team-content.team-realize .team-table-content .table-content.table-content-info .table-info i {
  font-size: 14px;
  color: #666;
  display: inline-block;
  vertical-align: -2px;
  margin: 0 5px;
}
.wrapper .content .team-module .team-content.team-realize .team-table-content .table-content.table-content-info .table-info .table-time {
  width: 94px;
  font-size: 14px;
  margin-left: 15px;
  height: 30px;
  line-height: 30px;
}
.wrapper .content .team-module .team-content.team-realize .team-table-content .table-content.table-content-info .table-info .table-time.table-morning {
  margin-left: 0;
}
.wrapper .content .team-module .team-content.team-realize .team-table-content .table-content.table-content-info .table-info .peopleNum-picker {
  border: 1px solid #ddd;
  border-radius: 2px;
  display: inline-block;
  background-color: #fff;
}
.wrapper .content .team-module .team-content.team-realize .team-table-content .table-content.table-content-info .table-info .peopleNum-picker.people-child {
  margin-left: 20px;
}
.wrapper .content .team-module .team-content.team-realize .team-table-content .table-content.table-content-info .table-info .peopleNum-picker .peopleNum-picker-input {
  width: 36px;
  height: 30px;
  line-height: 30px;
  box-sizing: border-box;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  display: inline-block;
  border-top: 0;
  border-bottom: 0;
  text-align: center;
  font-size: 14px;
  padding: 0;
}
.wrapper .content .team-module .team-content.team-realize .team-table-content .table-content.table-content-info .table-info .peopleNum-picker .peopleNum-picker-btn {
  width: 14px;
  height: 14px;
  padding: 8px;
  vertical-align: middle;
  display: inline-block;
}
.wrapper .content .team-module .team-content.team-realize .team-table-content .table-content.table-content-info .table-info .peopleNum-picker .peopleNum-picker-btn.peopleNum-picker-leftBtn {
  background: url(images/icon_minus.png) no-repeat center;
}
.wrapper .content .team-module .team-content.team-realize .team-table-content .table-content.table-content-info .table-info .peopleNum-picker .peopleNum-picker-btn.peopleNum-picker-leftBtn:hover {
  background: url(images/icon_minus_hover.png) no-repeat center;
}
.wrapper .content .team-module .team-content.team-realize .team-table-content .table-content.table-content-info .table-info .peopleNum-picker .peopleNum-picker-btn.peopleNum-dispicker-leftBtn {
  background: url(images/icon_minus_grey.png) no-repeat center;
}
.wrapper .content .team-module .team-content.team-realize .team-table-content .table-content.table-content-info .table-info .peopleNum-picker .peopleNum-picker-btn.peopleNum-picker-rightBtn {
  background: url(images/icon_plus.png) no-repeat center;
}
.wrapper .content .team-module .team-content.team-realize .team-table-content .table-content.table-content-info .table-info .peopleNum-picker .peopleNum-picker-btn.peopleNum-picker-rightBtn:hover {
  background: url(images/icon_plus_hover.png) no-repeat center;
}
.wrapper .content .team-module .team-content.team-realize .team-table-content .table-content.table-content-info .table-info .peopleNum-picker .peopleNum-picker-btn.peopleNum-dispicker-rightBtn {
  background: url(images/icon_plus_grey.png) no-repeat center;
}
.wrapper .content .team-module .team-content.team-realize .team-table-content .table-content.table-content-info .table-info .days-picker {
  border: 1px solid #ddd;
  border-radius: 2px;
  display: inline-block;
  background-color: #fff;
}
.wrapper .content .team-module .team-content.team-realize .team-table-content .table-content.table-content-info .table-info .days-picker .days-picker-input {
  width: 36px;
  height: 30px;
  line-height: 30px;
  box-sizing: border-box;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  display: inline-block;
  border-top: 0;
  border-bottom: 0;
  text-align: center;
  font-size: 14px;
  padding: 0;
}
.wrapper .content .team-module .team-content.team-realize .team-table-content .table-content.table-content-info .table-info .days-picker .days-picker-btn {
  width: 14px;
  height: 14px;
  padding: 8px;
  vertical-align: middle;
  display: inline-block;
}
.wrapper .content .team-module .team-content.team-realize .team-table-content .table-content.table-content-info .table-info .days-picker .days-picker-btn.days-picker-leftBtn {
  background: url(images/icon_minus.png) no-repeat center;
}
.wrapper .content .team-module .team-content.team-realize .team-table-content .table-content.table-content-info .table-info .days-picker .days-picker-btn.days-picker-leftBtn:hover {
  background: url(images/icon_minus_hover.png) no-repeat center;
}
.wrapper .content .team-module .team-content.team-realize .team-table-content .table-content.table-content-info .table-info .days-picker .days-picker-btn.days-dispicker-leftBtn {
  background: url(images/icon_minus_grey.png) no-repeat center;
}
.wrapper .content .team-module .team-content.team-realize .team-table-content .table-content.table-content-info .table-info .days-picker .days-picker-btn.days-picker-rightBtn {
  background: url(images/icon_plus.png) no-repeat center;
}
.wrapper .content .team-module .team-content.team-realize .team-table-content .table-content.table-content-info .table-info .days-picker .days-picker-btn.days-picker-rightBtn:hover {
  background: url(images/icon_plus_hover.png) no-repeat center;
}
.wrapper .content .team-module .team-content.team-realize .team-table-content .table-content.table-content-info .table-info .days-picker .days-picker-btn.days-dispicker-rightBtn {
  background: url(images/icon_plus_grey.png) no-repeat center;
}
.wrapper .content .team-module .team-content.team-realize .team-table-content .table-content.table-content-info .table-submit {
  left: 400px;
  width: 300px;
  position: absolute;
  bottom: 30px;
}
.wrapper .content .team-module .team-content.team-realize .team-table-content .table-content.table-content-info .table-submit .table-submit-btn {
  width: 138px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #ddd;
  background: #f9f9f9;
  display: inline-block;
  font-size: 18px;
  color: #666;
  border-radius: 2px;
  cursor: pointer;
}
.wrapper .content .team-module .team-content.team-realize .team-table-content .table-content.table-content-info .table-submit .table-submit-btn.J_SubmitBtn,
.wrapper .content .team-module .team-content.team-realize .team-table-content .table-content.table-content-info .table-submit .table-submit-btn.J_Next,
.wrapper .content .team-module .team-content.team-realize .team-table-content .table-content.table-content-info .table-submit .table-submit-btn.J_NextBtn {
  border: 1px solid #ff7a07;
  background: #ff7a07;
  margin-left: 20px;
  color: #fff;
}
.wrapper .content .team-module .team-content.team-realize .team-table-content .table-content.table-content-info .table-submit .table-submit-btn:hover {
  border: 1px solid #ff6633;
  background: #ff6633;
}
.wrapper .content .team-module .team-content.team-realize .team-table-content .table-content.table-content-info .table-submit .table-submit-btn.J_PreBtn:hover {
  background: #f9f9f9;
  border: 1px solid #ddd;
}
.wrapper .content .team-module .team-content.team-realize .team-table-content .table-content.table-content-info .table-submit .table-submit-btn.table-btn {
  width: 210px;
  margin: 0;
}
.wrapper .content .team-module .team-content.team-realize .team-table-content .table-content.table-content-info .table-submit .table-submit-btn.disabled {
  border: 1px solid #ddd;
  background: #ddd;
}
.wrapper .content .team-module .team-content.team-realize .team-table-content .table-content.table-content-info .table-submit .table-submit-btn.disabled:hover {
  border: 1px solid #ddd;
  background: #ddd;
}
.wrapper .content .team-module .team-content.team-realize .team-table-content.team-contact-content {
  width: 418px;
}
.wrapper .content .team-module .team-content.team-realize .team-table-content.team-contact-content .table-content .table-submit {
  left: 350px;
}
.wrapper .content .team-module .team-content.team-realize .team-table-content.team-special-content {
  width: 656px;
}
.wrapper .content .team-module .team-content.team-realize .team-table-content.team-special-content .table-content .table-info label {
  line-height: 16px;
}
.wrapper .content .team-module .team-content.team-realize .team-table-content.team-special-content .table-content .table-info .table-time {
  width: 94px;
  height: 34px;
  line-height: 34px;
  margin-left: 15px;
}
.wrapper .content .team-module .team-content.team-realize .team-table-content.team-special-content .table-content .table-info .table-time.table-star {
  margin-left: 0;
}
.wrapper .content .team-module .team-content.team-realize .team-table-content.team-special-content .table-content .table-info .table-note {
  vertical-align: top;
  line-height: 30px;
}
.wrapper .content .team-module .team-content.team-realize .team-table-content.team-special-content .table-content .table-info .table-check {
  display: none;
}
.wrapper .content .team-module .team-content.team-realize .team-table-content.team-special-content .table-content .table-info .table-check-desc {
  padding-left: 24px;
  font-size: 14px;
  color: #333;
  margin-right: 30px;
  width: auto;
  line-height: 14px;
  background: url('images/icon_uncheck.png') no-repeat;
  cursor: pointer;
}
.wrapper .content .team-module .team-content.team-realize .team-table-content.team-special-content .table-content .table-info .table-check-desc.table-ticket {
  margin: 15px 30px 0 100px;
}
.wrapper .content .team-module .team-content.team-realize .team-table-content.team-special-content .table-content .table-info .table-check-desc.current {
  background: url('images/icon_ticked.png') no-repeat;
}
.wrapper .content .team-module .team-content.team-realize .team-table-content.team-special-content .table-content .table-info .table-input-note {
  width: 538px;
  height: 138px;
  resize: none;
}
.wrapper .content .team-module .team-content.team-realize .team-table-content.team-special-content .table-content .table-submit {
  left: 350px;
}
.wrapper .content .team-module .team-content.team-recommend {
  padding-bottom: 60px;
  background: url('images/icon_bg.jpg') repeat;
}
.wrapper .content .team-module .team-content.team-recommend .team-table {
  width: 960px;
  padding: 20px;
  height: 365px;
}
.wrapper .content .team-module .team-content.team-recommend .team-table .team-list-url {
  float: left;
}
.wrapper .content .team-module .team-content.team-recommend .team-table .team-list-url:hover {
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.7);
}
.wrapper .content .team-module .team-content.team-recommend .team-table .team-list {
  height: 135px;
  width: 225px;
  margin: 20px 20px 0 0;
}
.wrapper .content .team-module .team-content.team-recommend .team-table .team-jp {
  height: 210px;
  width: 470px;
  background: url('images/icon_japan.jpg') no-repeat;
}
.wrapper .content .team-module .team-content.team-recommend .team-table .team-hk {
  height: 210px;
  width: 225px;
  margin-left: 20px;
  background: url('images/icon_hk.jpg') no-repeat;
}
.wrapper .content .team-module .team-content.team-recommend .team-table .team-mg {
  background: url('images/icon_mamba.jpg') no-repeat;
}
.wrapper .content .team-module .team-content.team-recommend .team-table .team-ep {
  background: url('images/icon_europe.jpg') no-repeat;
}
.wrapper .content .team-module .team-content.team-recommend .team-table .team-hg {
  background: url('images/icon_australia.png') no-repeat;
}
.wrapper .content .team-module .team-content.team-recommend .team-table .team-hd {
  float: right;
  height: 365px;
  width: 225px;
  background: url('images/icon_island.jpg') no-repeat;
}
.wrapper .content .team-module .team-content.team-choose .team-table {
  height: auto;
  box-shadow: none;
}
.wrapper .content .team-module .team-content.team-choose .team-table ul {
  padding: 0 60px 38px;
}
.wrapper .content .team-module .team-content.team-choose .team-table ul li {
  float: left;
  width: 440px;
  margin-bottom: 20px;
}
.wrapper .content .team-module .team-content.team-choose .team-table ul li.team-right div {
  float: right;
}
.wrapper .content .team-module .team-content.team-choose .team-table ul li span {
  width: 50px;
  height: 58px;
  float: left;
  margin-top: 10px;
}
.wrapper .content .team-module .team-content.team-choose .team-table ul li .team-personal {
  background: url('images/icon_personal.png') no-repeat;
}
.wrapper .content .team-module .team-content.team-choose .team-table ul li .team-intimate {
  background: url('images/icon_intimate.png') no-repeat;
}
.wrapper .content .team-module .team-content.team-choose .team-table ul li .team-sunshine {
  background: url('images/icon_sunshine.png') no-repeat;
}
.wrapper .content .team-module .team-content.team-choose .team-table ul li .team-outing {
  background: url('images/icon_outing.png') no-repeat;
}
.wrapper .content .team-module .team-content.team-choose .team-table ul li dl {
  display: inline-block;
  margin-left: 20px;
}
.wrapper .content .team-module .team-content.team-choose .team-table ul li dl dt {
  font-size: 16px;
  color: #333;
  line-height: 36px;
  margin-bottom: 18px;
}
.wrapper .content .team-module .team-content.team-choose .team-table ul li dl dt em {
  border-bottom: 2px solid #96c34e;
  padding-bottom: 8px;
}
.wrapper .content .team-module .team-content.team-choose .team-table ul li dl dl {
  font-size: 14px;
  color: #999;
}
.calendar-panel.white .calendar-container {
  width: 250px;
}
.calendar-panel.white a.previous-month,
.calendar-panel.white a.next-month {
  background: url(//js.40017.cn/cn/public/module/Calendar/0.3/calendar_arrow_white.png?v=2) 0 0 no-repeat;
}
.calendar-panel.white a.previous-month-disabled {
  background-position: -100px -43px;
}
.calendar-panel.white a.previous-month-disabled:hover {
  background-position: -100px -43px;
}
.calendar-panel.white a.next-month {
  background-position: -49px 0;
}
.calendar-panel.white a.previous-month {
  background-position: -8px 0;
}
.calendar-panel.white .calendar-wrapper td.to-day:hover span {
  color: #fff;
}
.calendar-panel.white .calendar-wrapper td.festival:hover span {
  color: #b54800;
}
.calendar-panel.white .d {
  line-height: 20px;
  height: 20px;
}
.calendar-panel.white .date {
  color: #ccc;
  cursor: default;
  line-height: 20px;
  height: 20px;
  padding: 0;
}
.submit-tip {
  font-size: 16px;
  line-height: 30px;
  padding: 0 20px 20px;
}
