.slider {
    position: relative;
    overflow: hidden
}

.slider ul {
    position: relative;
    width: 100%
}

.slider li {
    position: absolute;
    width: 100%;
    left: 100%;
    top: 0
}

.slider li:first-child {
    position: static
}

.slider a > img {
    display: block;
    width: 100%
}

.slider .indicator {
    position: absolute;
    left: 50%;
    bottom: 10px;
    line-height: 0;
    padding: 2px 3px 2px 8px;
    border-radius: 5px;
    background: rgba(0, 0, 0, .3)
}

.slider .indicator i {
    width: 6px;
    height: 6px;
    display: inline-block;
    border-radius: 50%;
    background: #fff;
    margin-right: 5px
}

.slider .indicator .active {
    background: #f60
}
