html,
body,
{
    background: #fff;
}

input {
    // width: 100%;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    border-radius: 0;
    color: #666;
}

.login {
    .top img {
        width: 100%;
    }
    .content {
        padding: 20px 76px;
        .tab {
            display: flex;
            justify-content: center;
            align-items: center;
            li {
                flex-grow: 1;
                text-align: center;
                font-size: 30px;
                line-height: 68px;
                color: #999;
                border-bottom: 1PX solid #ddd;
                &.curr {
                    color: #0ab4f0;
                    border-bottom: 1PX solid #0ab4f0;
                }
            }
        }
        .intro {
            padding-top: 35px;
        }
        .row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 30px;
            line-height: 70px;
            height: 70px;
            margin-bottom: 14px;
            border-bottom: 1PX solid #ddd;
            >input {
                flex-grow: 1;
            }
        }
        .clear {
            width: 44px;
            height: 44px;
            background: url(../../../images/close.png) center center no-repeat;
            background-size: 22px 22px;
        }
        .eye- {
            &close {
                width: 34px;
                height: 17px;
                background: url(../../../images/eye-close.png) center center no-repeat;
                background-size: 34px 17px;
            }
            &open {
                width: 38px;
                height: 25px;
                background: url(../../../images/eye-open.png) center center no-repeat;
                background-size: 38px 26px;
            }
        }
        .captcha {
            width: 230px;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            >div {
                vertical-align: middle;
                font-size: 24px;
                color: #00a5f0;
                width: 100px;
            }
            .img {
                width: 120px;
                height: 46px;
                background: #dedede;
                margin-right: 10px;
                img {
                    width: 100%;
                }
            }
        }
        .info {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            color: #999;
            .remember {
                i,
                span {
                    display: inline-block;
                    vertical-align: middle;
                }
                i {
                    width: 26px;
                    height: 26px;
                    border: 3px solid #eaeaea;
                    border-radius: 3px;
                    margin-right: 10px;
                }
                span {
                    font-size: 26px;
                }
                &.curr {
                    i {
                        border: 3px solid #00a5f0;
                        background: #00a5f0 url(../../../images/checked.png) 0 center no-repeat;
                        background-size: 100%;
                    }
                }
            }
            .forget {
                margin-left: 5px;
                margin-top: 10px;
                flex-shrink: 0;
                font-size: 26px;
                color: #00a5f0;
            }
        }
        .sms {
            padding: 0 18px;
            height: 46px;
            font-size: 26px;
            line-height: 46px;
            color: #fff;
            background-color: #00a5f0;
            border-radius: 24px;
            &.noclick {
                background-color: #ccc;
            }
        }
        .btn {
            padding-top: 20px;
        }
        .submit {
            font-size: 36px;
            line-height: 2;
            text-align: center;
            background: #0ab4f0;
            border-radius: 40px;
            color: #fff;
            box-shadow: 0 4px 10px #7cd4fb;
        }
        .regist {
            margin-top: 25px;
            text-align: center;
            font-size: 28px;
            color: #999;
            span {
                border-bottom: 2px solid #999;
            }
        }
    }
}