@import url("/modules-lite/wanleCommon/common.less");
@rem : 24rem;
@p-100: 100%;
.size(@w,@h){
    width: @w;
    height: @h;
}
.layout-main{
    background: #fff;
    .size(58000/640%,@p-100);
    padding: 20/@rem 3000/640% 0;
    margin: 0 auto;
    font-size: 28/@rem;
    h3{
        color: #333;
        line-height: 80/@rem;
    }
    div{
        color: #666;
        line-height: 1.5;
    }
}


