<!DOCTYPE html>
<html trace="PC_wanle_home">
{{var it=IT.Data;}}
{{var LineName = "";}}
<head lang="en">
    <meta charset="utf-8">
    <title>出境旅游当地玩乐_国外旅游当地玩乐线路价格_同程旅游</title>
    <meta name="description" content="同程旅游玩乐频道提供国外当地玩乐预订服务，您不但可以预订优惠折扣门票，旅行中的生活必需品，还可以了解到旅游热门目的地玩乐线路价格，国外旅游当地玩乐，产品预订就上同程旅游网，同程旅游，快乐每一程。">
    <meta name="keywords" content="出境旅游，国外旅游当地玩乐">
    <link rel="canonical" href="//www.ly.com/dujia/wanle/"/>
    <link rel="alternate" media="only screen and (max-width: 640px)" href="//m.ly.com/localfun/">
    <meta name="mobile-agent" content="format=xhtml; url=//m.ly.com/localfun/">
    <meta name="mobile-agent" content="format=html5; url=//m.ly.com/localfun/">
    <meta name="mobile-agent" content="format=wml; url=//m.ly.com/localfun/">
    <% includeId = cnwidescreenjscss %>
    <!--<link rel="stylesheet" href="//js.40017.cn/cn/v/wanle/2015/jqmodules/slidertoolbar/0.1.0/index.css">-->
    <link href="//css.40017.cn/cn/v/2015/index2016/slidertoolbar.06144.css" rel="stylesheet">
    <script type="text/javascript" src="//js.40017.cn/cn/min/??/cn/v/2015/jqmodules/jquery.js" data-loader= "true"></script><!--ignore-->
</head>

<body>
<!--公共头部start-->
<% includeId = cnwidescreenhead?channel=dujia %>
<!-- 前端性能监控 -->
    <input type="hidden" id="commonMonitor" value='{"channel":"wanle","page":"wanleHome-index"}'/>
<!--公共头部end-->

<div class="head-search">
    <div class="head-img"><img src="//img1.40017.cn/cn/v/wanle/2015/sceneryIndex/tab_top.jpg"/></div>
    <div class="search-box">
        <input id="txtScenicValue" attrvalue="香港迪士尼" value="香港迪士尼" style="color: rgb(153, 153, 153);">
        <a class="search_btn" href="javascript:;" trace="wanle-search">搜索</a>
        <ul id="matchContent" class="matchContent none"></ul>
         {{#def.hotsearch}}
    </div>
</div>
<!--幻灯开始-->
<div class="csliderMain">
    <div class="sliderDiv" id="sliderDiv">
        <span></span>
        <ul class="sliderCon clearfix" trackkit="AD">
            {{#def.banner}}
        </ul>
    </div>
</div>
<!--幻灯结束-->
<!--导航 start-->
{{#def.searchNav}}
<!--导航 end-->
<!-- 主体内容 -->
<div class="content">
    <div class="step none">
        <ul class="clearfix">
            <li>
                <i class="s_icon1"></i>
                <em>出境资质</em>
                <span>权威认证，更放心</span>
            </li>
            <li>
                <i class="s_icon2"></i>
                <em>退改保障</em>
                <span>条件退改，人性化</span>
            </li>
            <li>
                <i class="s_icon3"></i>
                <em>低价承诺</em>
                <span>境外直采，贵就赔</span>
            </li>
        </ul>
    </div>

    <!--更多主题 start-->
    <div class="more-sub">
        <h3><label>更多主题</label><span></span></h3>
        <ul class ="more-list" trackkit="theme">
            <li class="zhuti">
                <a href="/dujia/wanle/searchlist_主题门票.html" target="_blank" trace="trace-singletype0" rel="nofollow" trackspot="主题门票^1">
                    <i></i>
                    <div>
                        <p class="main-desc">主题门票</p>
                        <p class="sub-desc">Scenic Tickets</p>
                    </div>
                </a>
            </li>
            <li class="tongxun"><a href="/dujia/wanle/searchlist_通讯工具.html" target="_blank" trace="trace-singletype1" rel="nofollow" trackspot="通讯工具^2">
                <i></i>
                <div>
                    <p class="main-desc">通讯工具</p>
                    <p class="sub-desc">Communication</p>
                </div>
            </a></li>
            <li class="jiaotong"><a href="/dujia/wanle/searchlist_交通接驳.html" target="_blank" trace="trace-singletype2" rel="nofollow" trackspot="交通接驳^3">
                <i></i>
                <div>
                    <p class="main-desc">交通接驳</p>
                    <p class="sub-desc">Feeder Transport</p>
                </div>
            </a></li>
            <li class="guanguang"><a href="/dujia/wanle/searchlist_观光旅游.html" target="_blank" trace="trace-singletype3" rel="nofollow" trackspot="观光旅游^4">
                <i></i>
                <div>
                    <p class="main-desc">观光旅游</p>
                    <p class="sub-desc">Sightseeing Tour</p>
                </div>
            </a> </li>
            <li class="meishi"><a href="/dujia/wanle/searchlist_美食必享.html" target="_blank" trace="trace-singletype4" rel="nofollow" trackspot="美食必享^5">
                <i></i>
                <div>
                    <p class="main-desc">美食必享</p>
                    <p class="sub-desc">Delicious Food</p>
                </div>
            </a></li>
            <li class="xiuxian"><a href="/dujia/wanle/searchlist_休闲娱乐.html" target="_blank" trace="trace-singletype5" rel="nofollow" trackspot="休闲娱乐^6">
                <i></i>
                <div>
                    <p class="main-desc">休闲娱乐</p>
                    <p class="sub-desc">Entertainment</p>
                </div>
            </a></li>
        </ul>
    </div>
    <!--更多主题 end-->

    <!--主产品区域start-->
    <!--港澳start-->
    <div class="product pro-gangao J_NavBox" id="gangao" data-txt="港澳台" data-dest="台湾" trace="modules-gangao">
        <h3>
            <span class="product-area">港澳台</span>
            <ul class="product-city">
                <li class="J_trace current" data-index="11" class="current" data-flag="visit" data-li-dest="台湾" trace="gangao-tab0">观光旅游</li>
                <li class="J_trace" data-index="8"  data-flag="trans" data-li-dest="香港" trace="gangao-tab1">交通接驳</li>
                <li class="J_trace" data-index="12" data-flag="xiuxian" data-li-dest="台湾" trace="gangao-tab2">休闲娱乐</li>
                <li class="J_trace" data-index="13" data-flag="meishi" data-li-dest="澳门" trace="gangao-tab3">美食必享</li>
                <li class="J_trace" data-index="6" data-flag="theme" data-li-dest="香港" trace="gangao-tab4">主题通票</li>
                <li class="J_trace" data-index="9" data-flag="txwifi" data-li-dest="香港" trace="gangao-tab5">通讯WIFI</li>
            </ul>
            <a  href="/dujia/wanle/searchlist_台湾.html" target="_blank" trace="modules_0">查看更多 ></a>
        </h3>
        <div class="product__content">
            <div class="pro-main">
                <img  src="//img1.40017.cn/cn/v/wanle/2015/sceneryIndex/m-gangao.jpg" >
                <ul>
                    <li class="current"><a href="/dujia/wanle/xianggang-menpiao/" target="_blank" trace="modules_0_0">香港</a></li>
                    <li><a href="/dujia/wanle/aomen-menpiao/" target="_blank" trace="modules_0_1">澳门</a></li>
                    <li><a href="/dujia/wanle/taiwan-menpiao/" target="_blank" trace="modules_0_2">台湾</a></li>
                </ul>
            </div>
            <div class="pro-list">
                <ul class="J_proList_visit" trackkit="Line_Recommend">
                    {{~it.PublicProductSearchResponseDic.mainSearh[0].LineList:stada:index}}
                    {{LineName = "港澳台";}}
                    {{#def.list}}
                    {{~}}
                </ul>
            </div>
        </div>
    </div>
    <!--港澳end-->
    <!--日本start-->
    <div class="product pro-riben J_NavBox" id="japan" data-txt="日本" data-dest="日本" trace="modules-riben">
        <h3>
            <span class="product-area">日本</span>
            <ul class="product-city">
                <li class="J_trace current" data-index="11" class="current" data-flag="visit"  data-li-dest="日本" trace="riben-tab0">观光旅游</li>
                <li class="J_trace" data-index="8" data-flag="trans" data-li-dest="日本" trace="riben-tab1">交通接驳</li>
                <li class="J_trace" data-index="12" data-flag="xiuxian" data-li-dest="日本" trace="riben-tab2">休闲娱乐</li>
                <li class="J_trace" data-index="13" data-flag="meishi" data-li-dest="日本" trace="riben-tab3">美食必享</li>
                <li class="J_trace" data-index="6" data-flag="theme" data-li-dest="日本" trace="riben-tab4">主题通票</li>
                <li class="J_trace" data-index="9" data-flag="txwifi" data-li-dest="日本" trace="riben-tab5">通讯WIFI</li>
            </ul>
            <a  href="/dujia/wanle/searchlist_日本.html" target="_blank" trace="modules_1">查看更多 ></a>
        </h3>
        <div class="product__content">
            <div class="pro-main">
                <img  src="//img1.40017.cn/cn/v/wanle/2015/sceneryIndex/m-riben.jpg" >
                <ul>
                    <li class="current"><a href="/dujia/wanle/daban-menpiao/" target="_blank" trace="modules_1_0">大阪</a></li>
                    <li><a href="/dujia/wanle/dongjing-menpiao/" target="_blank" trace="modules_1_1">东京</a></li>
                    <li><a href="/dujia/wanle/chongsheng-menpiao/" target="_blank" trace="modules_1_2">冲绳</a></li>
                    <li><a href="/dujia/wanle/beihaidao-menpiao/" target="_blank" trace="modules_1_3">北海道</a></li>
                </ul>
            </div>
            <div class="pro-list">
                <ul class="J_proList_visit" trackkit="Line_Recommend">
                    {{~it.PublicProductSearchResponseDic.mainSearh[1].LineList:stada:index}}
                    {{LineName = "日本";}}
                    {{#def.list}}
                    {{~}}
                </ul>
            </div>
        </div>
    </div>
    <!--日本end-->
    
    <!--泰国start-->
    <div class="product pro-taiguo J_NavBox" id="tailand" data-txt="泰国" data-dest="泰国" trace="modules-taiguo">
        <h3>
            <span class="product-area">泰国</span>
            <ul class="product-city">
                <li class="J_trace current" data-index="11" class="current" data-flag="visit" data-li-dest="泰国" trace="taiguo-tab0">观光旅游</li>
                <li class="J_trace" data-index="8" data-flag="trans"  data-li-dest="泰国" trace="taiguo-tab1">交通接驳</li>
                <li class="J_trace" data-index="12" data-flag="xiuxian" data-li-dest="泰国" trace="taiguo-tab2">休闲娱乐</li>
                <li class="J_trace" data-index="13" data-flag="meishi" data-li-dest="泰国" trace="taiguo-tab3">美食必享</li>
                <li class="J_trace" data-index="6" data-flag="theme" data-li-dest="泰国" trace="taiguo-tab4">主题通票</li>
                <li class="J_trace" data-index="9" data-flag="txwifi" data-li-dest="泰国" trace="taiguo-tab5">通讯WIFI</li>
            </ul>
            <a  href="/dujia/wanle/searchlist_泰国.html" target="_blank" trace="modules_3">查看更多 ></a>
        </h3>
        <div class="product__content">
            <div class="pro-main">
                <img  src="//img1.40017.cn/cn/v/wanle/2015/sceneryIndex/m-taiguo.jpg" >
                <ul>
                    <li class="current"><a href="/dujia/wanle/pujidao-menpiao/" target="_blank" trace="modules_3_0">普吉岛</a></li>
                    <li><a href="/dujia/wanle/qingmai-menpiao/" target="_blank" trace="modules_3_1">清迈</a></li>
                    <li><a href="/dujia/wanle/mangu-menpiao/" target="_blank" trace="modules_3_2">曼谷</a></li>
                    <li><a href="/dujia/wanle/badiya-menpiao/" target="_blank" trace="modules_3_3">芭堤雅</a></li>
                </ul>
            </div>
            <div class="pro-list">
                <ul class="J_proList_visit" trackkit="Line_Recommend">
                    {{~it.PublicProductSearchResponseDic.mainSearh[2].LineList:stada:index}}
                    {{LineName = "泰国";}}
                    {{#def.list}}
                    {{~}}
                </ul>
            </div>
        </div>
    </div>
    <!--主产品区域end-->

    <!--热门精选start-->
    <div  class="main-hot none">
        <h3> <span>热门精选</span></h3>
        <div class="product__content">
            <ul class ="hot-list">
                <li>
                    <a href="">
                        <div class="pro-img">
                            <img  src="//img1.40017.cn/cn/v/wanle/2015/sceneryIndex/hot_fenqi.jpg">
                            <p>分期旅游</p>
                            <span>0利息0手续费</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="pro-img">
                            <img  src="//img1.40017.cn/cn/v/wanle/2015/sceneryIndex/hot_fenqi.jpg">
                            <p>分期旅游</p>
                            <span>0利息0手续费</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="pro-img">
                            <img  src="//img1.40017.cn/cn/v/wanle/2015/sceneryIndex/hot_fenqi.jpg">
                            <p>分期旅游</p>
                            <span>0利息0手续费</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="pro-img">
                            <img  src="//img1.40017.cn/cn/v/wanle/2015/sceneryIndex/hot_fenqi.jpg">
                            <p>分期旅游</p>
                            <span>0利息0手续费</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="pro-img">
                            <img  src="//img1.40017.cn/cn/v/wanle/2015/sceneryIndex/hot_fenqi.jpg">
                            <p>分期旅游</p>
                            <span>0利息0手续费</span>
                        </div>
                    </a>
                </li>

            </ul>
        </div>
    </div>
    <!--热门精选end-->

    <!--合作伙伴 start-->
    <div class="more-sub partner clearfix">
        <h3 class="clearfix"><label>战略合作伙伴</label><span></span></h3>
        <ul class ="more-list clearfix">
            <li>
                 <a href="//www.ly.com/dujia/wanle/17716.html" title="日本大阪环球影城" target="_blank" trace="trace-partner0">
                     <img  src="images/yingcheng.jpg" alt="日本大阪环球影城" />
                 </a>
            </li>
            <li>
                <a href="//www.ly.com/dujia/wanle/16596.html" title="新加坡夜间动物园" target="_blank" trace="trace-partner1">
                    <img  src="//pic3.40017.cn/line/admin/2015/11/27/11/11G6jW.jpg" alt="新加坡夜间动物园" />
                </a>
            </li>
            <li>
                <a href="//www.ly.com/dujia/wanle/15407.html" title="香港海洋公园" target="_blank" trace="trace-partner2">
                    <img  src="//pic3.40017.cn/line/admin/2015/11/27/11/yokSR0.jpg" alt="香港海洋公园" />
                </a>
            </li>
            <li>
                <a href="//www.ly.com/dujia/wanle/12462.html" title="游惠宝" target="_blank" trace="trace-partner3">
                    <img src="//pic4.40017.cn/line/admin/2016/09/14/16/gHsSUD.jpg" alt="游惠宝">
                </a>
            </li>
            <li>
                <a href="//www.ly.com/dujia/wanle/12464.html" title="新加坡日间动物园" target="_blank" trace="trace-partner4">
                    <img  src="//pic3.40017.cn/line/admin/2015/11/27/11/69nk01.jpg" alt="新加坡日间动物园" />
                </a>
            </li>
        </ul>
    </div>
    <div class="fixed-nav"><div class="fixed-left"></div></div>
    <!--合作伙伴 end-->
    <!--侧边栏广告位 start-->
    {{#def.sliderbar}}
    <!--侧边栏广告位 end-->
    <input type="hidden" id="repleaceType" value="//www.ly.com/wanle/AjaxHelperWanle/SingleProductSearch?stp=recommend">
    <input type="hidden" id="matchDest" value="//www.ly.com/wanle/AjaxHelperWanle/GetSearchSelectData?NeedCount=10&ChannelId=1">
</div>

<!--公共底部 start-->
<% includeId = cnwidescreenfoot?vrcode=10002-2027-0 %>
<!--公共底部 end-->
<!--友情提示start-->
{{?it.LinkList && it.LinkList.length}}
<div class="seodiv">
    <div class="iv-bottomlink">
         <dl>
            <dt>友情链接：</dt>
            <dd class="iv-hotlink">
                {{~it.LinkList:linker}}
                    <a href="{{=linker.LinkUrl}}" target="_blank">{{=linker.LinkName}}</a>
                {{~}}
            </dd>
        </dl>
    </div>
</div>
{{?}}
<!--友情提示end-->
<!--产品精选start-->
{{?it.ReferralLink && it.ReferralLink.length}}
<div class="seodiv">
    <div class="products-featured">
        {{~it.ReferralLink:ReferralLink}}
            {{?ReferralLink.Links && ReferralLink.Links.length}}
                <div class="dl">
                    {{?ReferralLink.Type == "Ploy"}}
                        <div class="dt">海外玩乐产品精选：</div>
                    {{??ReferralLink.Type == "Traffic"}}
                        <div class="dt">海外交通产品精选：</div>
                    {{??ReferralLink.Type == "Food"}}
                        <div class="dt">海外美食餐厅精选：</div>
                    {{??ReferralLink.Type == "Wifi"}}
                        <div class="dt">海外wifi精选：</div>
                    {{?}}
                    <div class="dd hotlink">
                        {{~ReferralLink.Links:Links}}
                            <a href="{{=Links.LinkUrl}}" target="_blank">{{=Links.LinkName}}</a>
                        {{~}}
                    </div>
                    <div class="click-more">
                        <a href="javascript:;">更多<i></i></a>
                    </div>
                </div>
            {{?}}  
        {{~}}
    </div>
 </div>
{{?}}
<!--产品精选end-->

<!-- 统计相关功能 -->
<% includeId = node_dj_common_stat %>

<img src="images/ewm.png" alt="" class="none" id="wxQRcode">

<script type="text/javascript" src="//js.40017.cn/cn/v/wanle/2015/jqmodules/monitor/0.3.0/index.js?v=2015113004"></script>

<script src="//modules/sea.js" data-loader= "true"></script>
<script>
    seajs.require("./index.js");
    setTimeout(function(){$(".tooltip_gp a img").before("<span></span>")},2000);
</script>
<% includeId = dj_wanle_common_stat %>
<script type="text/javascript">
    var rtTag ={
        "data": {
            "etravel_page": {
                "page_type": "index",
                "p_class1": "海外玩乐",
                "p_class2": "首页"
            }
        }
    };
    stat.init({
        "baidu": {
            "parameter": "pc",
            "hmt": [
                ['_setAccount', '53a0d71dba66835ff1aa907db99144d8'],
                ['_trackRTEvent', rtTag]
            ]
        },
        "_tcHotmapx": {
            "pid": "287",
            "sp": "100"
        },
        "mvl": {
            "_mvq": [
                ['$setAccount', 'm-135073-0'],
                ['$logConversion']
            ],
            "isImmediateExcu": true
        }
    });
</script>

<div class="udiy" id="common-foot"></div>

<script type="text/javascript">
    var _tcHotmapx = {pid : 627, sp : 100 };
</script>
</body>
</html>
