{{var baseData = IT[0].Data,
        startCities = IT[1].Data,
        hotProduct = IT[2].Data,
        hotRecommend = IT[3].Data,
        it = IT[4].Data,
        hotDest = IT[5] ? IT[5].Data : "";}}
{{it.BaseData = baseData;}}
{{
    var destC = baseData.DestName,
        destEn = baseData.DestPinYin;
    var StartCityId = baseData.StartCityId,
        StartCityName = baseData.StartCityName,
        StartCityEn = baseData.StartCityPinYin,
        traceKey = "";
}}
{{?baseData.PageType == 0}}
    {{traceKey = "";}}
{{?}}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" trace="{{=traceKey}}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit">
    <title>{{=baseData.TDKInfo.Title}}</title>
    <meta name='keywords' content='{{=baseData.TDKInfo.KeyWords}}' />
    <meta name='description' content='{{=baseData.TDKInfo.Description}}' />
    <% includeId =cnwidescreenjscss %>
    <style>
        .rightpic{position: relative;}
    </style>
</head>
<body>
<!-- 公共头部 start -->
<% includeId =cnwidescreenhead?channel=dujia %>
<!-- 前端性能监控 -->
<input type="hidden" id="commonMonitor" value='{"channel":"dujia","page":"dujia-index"}'/>
<!-- 公共头部 end -->

<!-- 主体内容 start -->
<div class="content">
    <!-- 面包屑导航begin -->
    <div class="bread">
        {{var breadTitle = "",
              tourHref = "/dujia/" + destEn + "-lvyou-jingjia/",
              breadTour = "",
              breadHead = "";}}
        {{?baseData.PageType == 0}}
            {{breadTitle = StartCityName + "到" + destC + "旅游";}}
        {{??baseData.PageType == 1}}
            {{breadTitle = StartCityName + "到" + destC + "跟团游";}}
            {{breadTour = '<a href="/dujia/' + destEn + baseData.GroupLabelId + '-gentuan-jingjia/" trace="3">' + destC + '跟团游</a> &gt; ';}}
        {{??baseData.PageType == 3}}
            {{breadTitle = StartCityName + "到" + destC + "自助游";}}
            {{breadTour = '<a href="/dujia/' + destEn + baseData.FreeLabelId + '-zizhu-jingjia/" trace="3">' + destC + '自助游</a> &gt; ';}}
        {{??baseData.PageType == 10}}
            {{breadTitle = destC + "目的地参团";}}
            {{tourHref = "/dujia/" + destEn + "-local-jingjia/";}}
        {{?}}
        {{breadHead = '<a href="{{=tourHref}}" rel="nofollow" trace="2">' + destC + '旅游</a> &gt; ' + breadTour + '<h1>' + breadTitle + '</h1>';}}
        <div class="clearfix">您所在位置：<a href="/" rel="nofollow" trace="0">同程首页</a> &gt; <a href="/dujia/" rel="nofollow" trace="1"> 出境游</a> &gt; {{=breadHead}}
            <span class="c_phone c_phone_add" attr-url="/dujia/ajaxcall.aspx?type=GetTel400"><b></b><em>4007-777-777</em></span>
        </div>
    </div>
    <!-- 面包屑导航end -->
    <!-- 内容begin -->
    <div class="main">
        <!-- 左侧内容begin -->
        <div class="main-left">
            <div class="left-module">
                <a href="/dujia/schedule.html" target="_blank">
                    <img class="left-img" src="//pic3.40017.cn/line/admin/2015/09/28/09/xV7c40.jpg" />
                </a>
            </div>
            <div class="left-module">
                <a href="/dujia/schedule_team.html" target="_blank">
                    <img class="left-img" src="//pic3.40017.cn/line/admin/2015/09/28/09/gP5rHf.jpg" />
                </a>
            </div>
            <div class="left-module promise">
                <h3><span>同程出境旅游承诺</span></h3>
                <div class="promise-txt">
                    <p><i class="promise1"></i><span>万余条线路，遍布全球</span></p>
                    <p><i class="promise2"></i><span>真实价格，透明行程</span></p>
                    <p><i class="promise3"></i><span>全天候专业客服服务</span></p>
                    <p><i class="promise4"></i><span>专注旅游11年，品质保障</span></p>
                </div>
            </div>
            <div class="left-module nearshop">
                <h3><span></span></h3>
                <ul></ul>
            </div>
            <div attr-url="/dujia/Ajaxcalltravel.aspx?type=GetBrowsingHistoryNew" class="left-module record"></div>
            {{#def.hotproduct}}
        </div>
        <!-- 左侧内容end -->
        <!-- 右侧内容begin -->
        <div class="main-right">
            <div class="sousuo clearfix">
                <div class="topBox">
                    <div class="citybox new-scity-tips">
                        <b attrurl="//www.ly.com/dujia/AjaxCallNew.aspx?type=GetQianzhengSearch" class="city_b" id="city_select">
                            <span class="city_span"><strong>{{=StartCityName}}</strong><span class="city_span">出发</span></span>
                        </b>
                        <!--热门出发城市-->
                        <div class="udiy" id="common-djchujinghotout">
                            <div id="popleave" class="none" style="display: none;" test="">
                                <div class="leavecity"></div>
                            </div>
                        </div>
                    </div>
                    <div class="top_rigth">
                        <div class="udiy" id="common-djchujinghotsearchyp">
                            <link href="//css.40017.cn/cn/min/??/cn/v/v.public.branch/v_search_570.0.0.1.css?v=2014072504" rel="stylesheet"/>
                            <div class="cj-search">
                                <div class="search-box">
                                    <div class="search-line icon-up">
                                        {{var defaultValue = "", defaultType = 0;}}
                                        {{?baseData.PageType == 0}}
                                            {{defaultValue = "全部";}}
                                        {{??baseData.PageType == 1}}
                                            {{defaultValue = "跟团游";}}
                                            {{defaultType = 1;}}
                                        {{??baseData.PageType == 3}}
                                            {{defaultValue = "自由行";}}
                                            {{defaultType = 2;}}
                                        {{??}}
                                            {{defaultValue = "目的地参团";}}
                                            {{defaultType = 10;}}
                                        {{?}}
                                        <span id="selectValue" class="selected" tid="{{=defaultType}}">{{=defaultValue}}</span>
                                        <ul class="search-list" style="display: none;">
                                            <li tid="0">全部</li>
                                            <li tid="1">跟团游</li>
                                            <li tid="2">自由行</li>
                                            <li tid="10">目的地参团</li>
                                            <li tid="6">签证</li>
                                            <li tid="7">机酒任选</li>
                                        </ul>
                                    </div>
                                    <input id="searchinput" attrValu="请输入目的地、主题或关键词" data-keyword="{{=destC}}" class="search-input" type="text" value="请输入目的地、主题或关键词"/>
                                </div>
                                <input attrurl="/dujia/search.aspx" id="btnSubmit" class="search-button" type="button" value="搜 &nbsp;索" />
                            </div>
                            <script src="//js.40017.cn/cn/v/2015/searchtext/v_search.0.0.1.10205.js"></script>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="udiyblock"  type="CommonSource">
                <input type="hidden" id="hidIsLocalGroup" value="{{=baseData.PageType}}" />
                <input type="hidden" id="hidDestName" value="{{=baseData.DestName}}">
                <input type="hidden" id="hidDestPinYin" value="{{=baseData.DestPinYin}}">
                <input type="hidden" id="hidGroupLabelId" value="{{=baseData.GroupLabelId}}">
                <input type="hidden" id="hidFreeLabelId" value="{{=baseData.FreeLabelId}}">
                <input type="hidden" id="hidCityId" value="{{=StartCityId}}" />
                <input type="hidden" id="hidTotalCount" value="{{=it.TotalCount}}" />

                <div id="seafilter" class="searchParte">
                    <ul class="seacrhtab">
                        {{var allClass = "",
                          groupClass = "",
                          freeClass = "",
                          localClass = "",
                          groupDest = "",
                          freeDest = "";}}
                        {{?baseData.PageType == 0}}
                            {{allClass = "onStyle";}}
                        {{??baseData.PageType == 1}}
                            {{groupClass = "onStyle";}}
                            {{groupDest = destC;}}
                        {{??baseData.PageType == 3}}
                            {{freeClass = "onStyle";}}
                            {{freeDest = destC;}}
                        {{??}}
                            {{localClass = "onStyle";}}
                        {{?}}
                        {{?it.TabJudge && it.TabJudge.length && it.TabJudge[3] && it.TabJudge[3].Data && it.TabJudge[3].Data.TotalCount}}
                            <li class="{{=allClass}}"><a href="/dujia/{{=destEn}}-lvyou-jingjia/f{{=StartCityId}}/" title="全部">全部</a></li>
                        {{?}}
                        {{?it.TabJudge && it.TabJudge.length && it.TabJudge[4] && it.TabJudge[4].Data && it.TabJudge[4].Data.TotalCount}}
                            <li class="{{=groupClass}}"><a href="/dujia/{{=destEn}}{{=baseData.GroupLabelId}}-gentuan-jingjia/f{{=StartCityId}}/" title="{{=groupDest}}跟团游">{{=groupDest}}跟团游</a></li>
                        {{?}}
                        {{?it.TabJudge && it.TabJudge.length && it.TabJudge[5] && it.TabJudge[5].Data && it.TabJudge[5].Data.TotalCount}}
                            <li class="{{=freeClass}}"><a href="/dujia/{{=destEn}}{{=baseData.FreeLabelId}}-zizhu-jingjia/f{{=StartCityId}}/" title="{{=freeDest}}自由行">{{=freeDest}}自由行</a></li>
                        {{?}}
                        {{?it.TabJudge && it.TabJudge.length && it.TabJudge[6] && it.TabJudge[6].Data && it.TabJudge[6].Data.TotalCount}}
                            <li class="{{=localClass}}"><a href="/dujia/{{=destEn}}-local-jingjia/f{{=StartCityId}}/" title="目的地参团">目的地参团</a>
                            <em style="width: 23px;height: 10px;position: absolute;top: -2px;right: 9px;color: #ff7800;font-size: 12px;">NEW</em></li>
                        {{?}}
                        {{?it.TabJudge && it.TabJudge.length && it.TabJudge[2] && it.TabJudge[2].Data && it.TabJudge[2].Data.TotalCount}}
                            <li><a href="/dujia/{{=destEn}}-jijiu/f{{=StartCityId}}/" class="J_PlaneHotel" title="机酒任选">机酒任选</a>
                            <em style="width: 23px;height: 10px;position: absolute;top: -2px;right: 9px;color: #ff7800;font-size: 12px;">NEW</em></li>
                        {{?}}
                        {{?it.TabJudge && it.TabJudge.length && it.TabJudge[0] && it.TabJudge[0].Data && it.TabJudge[0].Data.IsShow}}
                            <li><a href="/dujia/search.aspx?src={{=StartCityName}}&dest={{=destC}}&prop=6" title="签证">签证</a></li>
                        {{?}}
                        {{?it.TabJudge && it.TabJudge.length && it.TabJudge[1] && it.TabJudge[1].Data && it.TabJudge[1].Data.IsShow}}
                            <li><a href="/dujia/wanle/searchlist_{{=destEn}}.html" title="当地玩乐">当地玩乐</a></li>
                        {{?}}
                    </ul>
                    <a class="ui-costomize" href="/dujia/schedule.html" target="_blank">出境定制</a>
                    <div class="crumbox" >
                        <h4>已选条件：</h4>
                        <span class="removeall">全部清除</span>
                    </div>

                    <div id="filter">
                        {{#def.filter}}
                    </div>
                </div>

                <div class="loading none">
                    <div class="loading-img"></div>
                    <p class="loading-txt">正在努力加载中…</p>
                </div>

                <div id="tagList">
                    {{#def.product}}
                </div>
                <div id="J_LablePager" class="lable-page"></div>
            </div>
            <div id="J_NoLine" class="noresult">
                <div class="warnning">
                    <i class="icon-warn"></i><span class="warn-txt">没有线路了哦!您还可以到热门目的地查看更多线路！</span>
                </div>
                {{#def.hotdest}}
            </div>
        </div>
        <!-- 右侧内容end -->
    </div>
    <!-- 内容end -->
</div>
<!-- 主体内容 end -->

<!--对比框begin-->
<div class="contrastBox" attr-show="false" attr-url="/dujia/AjaxCallNew.aspx?type=GetBiaoqianPK">
    <div class="contrastit">
        <div class="float_L">
            <i></i>对比中的产品<span class="font_arial">（<span id="seleline">0</span>/3）</span>
        </div>
        <b class="dow_b"></b><span class="contraprompt none">对不起，您最多只可以添加3条线路，请先删除对比栏中的一些线路后再添加。</span>
    </div>
    <div class="contrasdiv">
        <ul>
            <li class="">
                <p class="addinfo">您还可以继续添加产品</p>
            </li>
            <li class="">
                <p class="addinfo">您还可以继续添加产品</p>
            </li>
            <li class="bor_no">
                <p class="addinfo">您还可以继续添加产品</p>
            </li>
        </ul>
        <div class="contrastbtn">
            <a id="contrbegin" attr-url="/dujia/pk/" href="javascript:void(0);" title="" class="contrasta">开始对比</a>
            <a href="javascript:void(0)" title="" class="clear_list">清空所有产品</a>
        </div>
    </div>
</div>
<!--对比框end-->
{{#def.recommenddest}}
<!-- 标签页搜索页判断参数 -->
<input type="hidden" id="hidIsLabel" value="1" />

<!-- 公共页脚 开始 -->
<% includeId = cnwidescreenfoot?vrcode=10002-2006-0 %>
<!-- 公共页脚 结束 -->
<script type="text/javascript">
    var cityInfo = {{=JSON.stringify(startCities)}};
</script>
<script type="text/javascript" src="/modules/jquery.js"></script><!--ignore-->
<script src="/modules/sea.js" type="text/javascript"></script><!--ignore-->
 <script type="text/javascript" src="//js.40017.cn/cn/c/c/2016/common.0.3.5.js?v=2016030415"></script>
<script type="text/javascript" src="/modules/monitor/0.3.0/index.js"></script>
<script type="text/javascript" src="//js.40017.cn/cn/min/??/cn/public/jquery/calendar/0.0.1/calendar.js?v=2015072201" charset="utf-8"></script>
<script data-loader="true" src="//js.40017.cn/cn/min/??/cn/v/2015/startList/vPublic.03115.js?v=2015031101"></script>
<script data-loader="true" src="//js.40017.cn/cn/min/??/cn/v/2015/startList/starList.03193.js?v=20150801"></script>
<script type="text/javascript">
    StartList.init();
    seajs.require("./index").init({
        dest: "{{=destC}}",
        lcCity: "{{=StartCityId}}",
        fangzhua: 0,
        prop: {{=baseData.PageType}},
        el: ".search",
        hotCityTmpl: $('#hd_hotcityhtml').html(),
        initCityID: "{{=StartCityId}}",
        initCityName: "{{=StartCityName || ''}}",
        searchLabelData: [
            {
                hotName: "泰国",
                hotUrl: "//www.ly.com/dujia/taiguo-lvyou/f321/"
            },
            {
                hotName: "日本",
                hotUrl: "//www.ly.com/dujia/riben-lvyou/f321/"
            }
        ]
    });
</script>

<!-- 统计相关功能 -->
<script type="text/javascript" src="//js.40017.cn/cn/v/2015/jqmodules/statistics/0.1.0/spm_module.js"></script>
<script>
    SPM_MODULE && SPM_MODULE.init({ deliver: [".desCity", ".seacrhtab", ".pro-img", ".pro-title", ".pro-btn", ".J_lineCity"] });
</script>
<% includeId = node_dj_common_stat %>
<script type="text/javascript">
    stat.init({
        "baidu": {
            "parameter": "pc"
        },
        "vst": [
            ['_serialid', '0'],
            ['_vrcode', stat.getVrcode()],
            ['_refId', stat.getRefid()],
            ['_userId', '0'],
            ['_openTime', stat.timeDiff],
            ['_trackPageview', '/出境/标签页/']
        ],
        "_tcHotmapx": {
            "pid": "495",
            "sp": "100"
        }
    });
</script>
</body>
</html>