.month_panel {
  width: 80px;
  height: auto;
  background-color: #1ab394;
  font-size: 12px;
  color: #fff;
  text-align: center;
  overflow: hidden;
  font-weight: bold;
  letter-spacing: 1px;
}
.month_panel span {
  width: 40px;
  height: 25px;
  line-height: 25px;
  display: block;
  float: left;
  cursor: pointer;
}
.month_panel span:hover {
  background-color: #137c66;
}