
.deal-pwd-wrap{
    position: fixed;
    width: 100%;
    height: 100%;
    background: #fff;
    left: 0;
    top: 0;
    .none{
        display: none;
    }
    .toast-wrap{
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background: #000;
        opacity: .5;
    }
    .deal-pwd-cont{
        padding: 80px 50px 0;
    }

    .account-line{
        position: relative;
        color: #666;
        font-size: 30px;
        height: 46px;
        margin-bottom: 40px;
        padding-bottom: 20px;
        border-bottom: 1PX solid #e2e2e2;
        &.no-border{
            border-bottom: none;
        }
    }

    .input-box{
        width: 420px;
        height: 46px;
        line-height: 46px;
        font-size: 30px;
        float: left;
    }
    .graphImg{
        display: block;
        width: 120px;
        height: 46px;
        float: right;
        margin-right: 20px;
    }
    .btn{
        float:right;
        height: 46px;
        line-height: 46px;
        color: #00a5f0;
        &.resend{
            color: #666;
        }
    }
    .next-btn{
        width: 650px;
        height: 87.5px;
        background: url(../../../images/deal-pwd-next.png) no-repeat;
        background-size: 100% 100%;
        color: #fff;
        text-align: center;
        line-height: 80px;
        font-size: 35px;
        margin-top: 60px;
    }
    .call-us{
        display: block;
        width: 100%;
        color: #666;
        text-align: center;
        font-size: 28px;
        margin-top: 40px;
    }
    .eye{
        position: absolute;
        width: 34px;
        height: 17px;
        background: url(../../../images/eye-close.png) no-repeat;
        background-size: 100% 100%;
        right: 0;
        top: 15px;
        &.open{
            width: 38px;
            height: 28px;
            background: url(../../../images/eye-open.png) no-repeat;
            background-size: 100% 100%;
            top: 9px;
        }
    }
}


