<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" trace="PC_dujia_detail">
{{var it=IT.Data;}}
{{var lineDetail = it.lineDetail;}}
{{var travelData = IT.TravelData ? IT.TravelData.travelResource : "";}}
{{var tourProp = IT.otherData ? IT.otherData.TourProp : "";}}

{{var allCommentData = {};}}
{{?IT.allCommentData && IT.allCommentData.Data && IT.allCommentData.Data.CommentList}}
{{allCommentData = IT.allCommentData.Data.CommentList||{};}}
{{?}}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit">
    <title>{{=lineDetail.LineTitle.MainTitle}}_{{=lineDetail.DepartureCity}}到{{=lineDetail.DestinationCity}}自由行旅游攻略报价-同程出境游</title>
    <meta name='keywords' content='{{=lineDetail.LineTitle.MainTitle}}' />
    <meta name='description' content='同程出境自由行为您提供{{=lineDetail.LineTitle.MainTitle}}，精选{{=lineDetail.DestinationCity}}自由行旅游攻略，{{=lineDetail.DestinationCity}}自由行旅游报价，{{=lineDetail.DepartureCity}}到{{=lineDetail.DestinationCity}}自由行优质{{=lineDetail.DestinationCity}}旅游服务，联系电话40077-40075，{{=lineDetail.DestinationCity}}自由行当然选同程{{=lineDetail.DestinationCity}}旅游'/>
    <meta name="apple-itunes-app" content="app-id=475966832" />
  	<link rel="alternate" media="only screen and (max-width: 640px)" href="//m.ly.com/dujia/tours/{{=lineDetail.TravelInfo.LineId}}/">
		<meta name="mobile-agent" content="format=xhtml; url=//m.ly.com/dujia/tours/{{=lineDetail.TravelInfo.LineId}}/">
		<meta name="mobile-agent" content="format=html5; url=//m.ly.com/dujia/tours/{{=lineDetail.TravelInfo.LineId}}/">
		<meta name="mobile-agent" content="format=wml; url=//m.ly.com/dujia/tours/{{=lineDetail.TravelInfo.LineId}}/">
		<meta name="applicable-device" content="pc">
    <script type="text/javascript">
        var _tcopentime = new Date().getTime();
    </script>
 		<% includeId = cnwidescreenjscss %>
    <script type="text/javascript" src="/modules/jquery.js"></script><!--ignore-->
    <script type="text/javascript" src="//js.40017.cn/cn/v/2015/jqmodules/monitor/0.3.0/index.js?v=2015103002"></script>
    <link href="//css.40017.cn/cn/v/2015/details2016/icons.03024.css" rel="stylesheet" />
    <link href="./package-module.less" rel="stylesheet" />
    <link href="//js.40017.cn/cn/v/2015/jqmodules/activity/0.1.1/bonus/pc/source/index.css" rel="stylesheet" />
    <link href="//css.40017.cn/cn/v/2015/index2016/slidertoolbar.06144.css" rel="stylesheet">
  <style>
    .calendar-panel1.white .next-month, .calendar-panel1.white .previous-month{
      background-image:url(//js.40017.cn/cn/public/module/Calendar/0.3/calendar_arrow_white.png?v=2) !important;
    }
     #module-slider .module-slider-header{ display:none; }
  </style>
</head>

<body data-test="1">
{{?lineDetail.TravelInfo && lineDetail.TravelInfo.LineId}}
<input type="hidden" id="hidLineId" value="{{=lineDetail.TravelInfo.LineId}}"/>
{{?}}
<input type="hidden" id="pagetype" value="1" />
<input type="hidden" id="prop" value="3"/>
<input type="hidden" id="LineProperty" value="{{=lineDetail.TravelInfo.LineProperty.split("|")[0]}}"/>

<input type="hidden" id="hidLineDate" value=""/>
{{?lineDetail.SerialId}}
<input type="hidden" id="hidSerialId" value="{{=lineDetail.SerialId}}"/>
{{?}}
{{?lineDetail.PlayDays}}
<input type="hidden" id="hidPlayDays" value="{{=lineDetail.PlayDays}}"/>
{{?}}
{{?lineDetail.SelfSupport && lineDetail.SelfSupport== 6}}
<input type="hidden" id="isTheme" value="1"/>
{{?}}
<input type="hidden" id="hidDestinationCity" value="{{=lineDetail.DestinationCity}}"/>
<input type="hidden" id="hidDepartureCity" value="{{=lineDetail.DepartureCity}}"/>
<input type="hidden" id="hidDepartureCityId" value="{{=lineDetail.DepartureCityId}}"/>
<input type="hidden" id="hidIsExtraordinary" value="{{=lineDetail.IsExtraordinary}}"/>
<input type="hidden" id="hidActivityType" value="{{=lineDetail.ActProConfig.ActivityType}}"/>
<input type="hidden" id="hidActivityType" value="{{=lineDetail.ActProConfig.ActivityType}}"/>
  <input type="hidden" id="hidLocatedStartCityId" value="{{=lineDetail.LocatedStartCityId}}"/>
<input type="hidden" name='TravelDates' id="formVisaTravelDates" value=""/>
     {{?it.SbuItems}}
<input type="hidden" id="hidsbuItems" value='{{=(it.SbuItems != "")?it.SbuItems.SbuItems:""}}'/>
    {{??}}
    <input type="hidden" id="hidsbuItems" value=''/>
    {{?}}

{{?IT.otherData && IT.otherData.CityInfo}}
<input type="hidden" id="hidcityInfo" value="{{=IT.otherData.CityInfo.cityId}}"/>
{{??}}
<input type="hidden" id="hidcityInfo" value=""/>
{{?}}
<input type="hidden" id="hidTitle"  value="{{=lineDetail.LineTitle.MainTitle}}"  />
<!--点评-->
{{?allCommentData.Count&&allCommentData.Count[0].All!=0}}
<input type="hidden" id="hidCommetCount" value="{{=allCommentData.Count[0].All}}"/>
{{?}}
 <!-- 公共统计用 -->
<input type="hidden" id="commonProId" value="{{=lineDetail.TravelInfo.LineId}}" />
<!-- 公共头部 开始 -->
<% ctx.channel = "dujia" %>
<% includeId = cnwidescreenhead %>
<!-- 公共头部 结束 -->
<div class="wrapper">
    <div id="content">
        <!-- 面包屑 start -->
        <div class="nav">
            <span>您所在位置：</span> <a href="/" title="同程首页" target="_blank">同程首页</a>
            <span>&gt;</span><a href="/dujia/" title="出境游" target="_blank">出境游</a>
            {{var breadInfo = lineDetail.BreadInfo;}}
            {{?breadInfo}}
            {{?breadInfo.BreadLv3LvyouName}}
            <span>&gt;</span><a href="{{=breadInfo.BreadLv3LvyouUrl}}" title="{{=breadInfo.BreadLv3LvyouName}}" target="_blank">{{=breadInfo.BreadLv3LvyouName}}</a>
            {{?}}
            {{?breadInfo.BreadLv3PropName}}
            <span>&gt;</span><a href="{{=breadInfo.BreadLv3PropUrl}}" title="{{=breadInfo.BreadLv3PropName}}" target="_blank">{{=breadInfo.BreadLv3PropName}}</a>
            {{?}}
            <span>&gt;</span><h1>{{=breadInfo.LineMainTitle}}</h1>
            {{?}}
            <span class="instruction">{{=lineDetail.Supplier}}</span>
        </div>
        <!-- 面包屑 end -->
        <div class="panel-top clearfix">
            <div class="top_title">
                {{?lineDetail.LineTitle.SeasonalTitle !== ''}}
                <span class="top_title_season">【{{=lineDetail.LineTitle.SeasonalTitle}}】</span>
                {{?}}
                {{?lineDetail.LineTitle.MainTitle !== ''}}
                <span class="top_title_maintitle">&lt;{{=lineDetail.LineTitle.MainTitle}}&gt;</span>
                {{?}}
                {{?lineDetail.LineTitle.SubTitle !== ''}}
                <span class="top_title_subtitle">{{=lineDetail.LineTitle.SubTitle}}</span>
                {{?}}  
                {{=lineDetail.ProductTagInfo}}
                {{
                   var service = lineDetail.ServiceFeature;
                }}
                {{?service && service.length!=0}}
                        {{for(var i=0; i<service.length; i++){ }}
                            {{?service[i].indexOf('旅博会专享')!=-1}}
                                <span class="top-title-lbhicon"></span>
                            {{?}}
                        {{ } }}
                 {{?}} 
            </div>
            <div class="top_left clearfix">
                {{var PcSlidePicture = lineDetail.PcSlidePicture;}}
                <div class="top_left_focus-pic mSlide">
                    <div class="main-pic"><img class="J_mainPic" data-img="{{=PcSlidePicture[0].replace('http:','')}}" alt=""/></div>
                    <div class="carousel-wrap J_carouselWrap">
                        <div class="left"></div>
                        <div class="carousel">
                            <ul>
                                {{for(var i = 0;i<4;i++){}}
                                {{?PcSlidePicture[i]}}
                                <li>
                                    <img hover-img="{{=PcSlidePicture[i].replace('http:','')}}" data-img="{{=PcSlidePicture[i].replace('http:','')}}" width="101" height="74" alt=""/>
                                </li>
                                {{?}}
                                {{ } }}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="top_left_midinfo">
                    <span class="top_left_store J_Store"><i class="ziyou icons-store"></i>收藏&nbsp;</span>
                    <span class="top_left_share J_Share"><i class="ziyou icons-share"></i>分享</span>
                    <span class="top_left_advance-day"><s>*</s><em>提前预订时间：</em>建议您至少提前{{=lineDetail.AdvanceDay?lineDetail.AdvanceDay:7}}天预订&nbsp;</span>
                </div>
                <div class="mCal"></div>
            </div>
            <div class="top_right clearfix">
                <div class="top_right_summary">
                    <div class="line-info">
                        <ul class="line-pro clearfix">
                            {{?lineDetail.TravelInfo}}
                            {{?lineDetail.TravelInfo.LineProperty !== ''}}
                            {{var lineProperty = lineDetail.TravelInfo.LineProperty;}}
                            {{
                              var lineType = '';
                              if(lineProperty.split('|')[0] == 1){
                                lineType = '跟团游';
                              }else if(lineProperty.split('|')[0] == 3){
                                lineType = '自由行';
                              }else{
                              lineType = '目的地参团';
                              }
                            }}
                            <li class="first">
                                <div class="txt"><span class="title">出游类型：</span><span>{{=lineType}}</span></div>
                            </li>
                            {{?}}
                            {{?lineDetail.TravelInfo.LeavePortCity !== ''}}
                            <li>
                                <div class="txt"><span class="title">出港城市：</span><span class="startCity">{{=lineDetail.TravelInfo.LeavePortCity}}</span></div>
                            </li>
                            {{?}}
                            {{?lineDetail.TravelInfo.LineId !== ''}}
                            <li>
                                <div class="txt"><span class="title">产品编号：</span><span>{{=lineDetail.TravelInfo.LineId}}</span></div>
                            </li>
                            {{?}}
                            {{?}}
                        </ul>
                    </div>
                    <div class="declare-box">
                        {{?lineDetail.WhiteBarLineInfo.WhiteBarType === 2}}
                        <div class="space none" style="height: 14px;"></div>
                        {{??}}
                        <div class="space" style="height: 14px;"></div>
                        {{?}}
                        <div trackkit="bottom_price">
                            <span class="declare-price price"><b>￥</b><strong>{{=lineDetail.TcPrice}}</strong>/人起</span>
                            <span class="inform">(降价通知)</span>
                            <span class="declare-ico J_instruction J_Tips" tracktype="hover" trackspot="0"
                                  data-content="本起价是可选出发日期中，按双人出行共住一间房核算的最低单人价格。产品价格会根据您所选择的出发日期、出行人数、入住酒店房型、航班或交通以及所选附加服务的不同而有所差别。"
                                  style="cursor:pointer;">起价说明</span>
                            {{?lineDetail.MoneyType == 2 && lineDetail.ActProConfig.ClueBonus !=0}}
                            <span class="dingjin">定金：<b><em>￥</em>{{=lineDetail.ActProConfig.ClueBonus}}</b></span>
                            {{?}}
                        </div>
                        <div class="J_bystages clearfix"></div>
                        {{?lineDetail.WhiteBarLineInfo}}
                        {{?lineDetail.WhiteBarLineInfo.WhiteBarType === 2}}
                        <div class="J_TcBystages clearfix" style="display: block">
                                <span class="TCBT-box">
                                    <span class="BT-txt"></span>
                                    <span class="BT-des">{{=lineDetail.WhiteBarLineInfo.WhiteBarTip}}</span>
                                    <span class="BT-explain">
                                        <a href="http://jr.ly.com/static/intro" target="_blank"
                                                                trace="bt-explain">白条说明</a>
                                    </span>
                                </span>
                        </div>
                        {{?}}
                        {{?}}
                        {{?lineDetail.ProductTag && lineDetail.ProductTag.length != 0}}
                        {{for(var i = 0;i< lineDetail.ProductTag.length;i++){ }}
                            {{?lineDetail.ProductTag[i].TagType && lineDetail.ProductTag[i].TagType == 7}}
                        <a class="chengpin" href="#ChengYiShuoMing">
                            <img src="//pic4.40017.cn/line/admin/2017/01/05/18/Mg1nqU.png" alt="程意行">
                        </a>
                            {{?}}
                        {{ } }}
                        {{?}}
                    </div>
                    <div class="declare clearfix J_YouHuiTop" trackkit="discount"></div>

                    {{?lineDetail.ServiceFeature || lineDetail.LineFeature}}
                    {{
                        var service = lineDetail.ServiceFeature;
                        var line = lineDetail.LineFeature;
                    }}
                    {{?service.length!=0 || line.length!=0}}
                    <div class="declare">
                        <span class="f-left">服务特色：</span>
                        {{?service.length!=0}}
                        {{  var serviceLen = service.length;
                        if(serviceLen>2){
                                serviceLen = 2;
                            }
                        }}
                        {{for(var i=0;i<serviceLen;i++){ }}
                        <div class="preferential"><span class="tag"><i class="service"></i>{{=service[i]}}</span></div>
                        {{ } }}
                        {{?}}

                        {{?line.length!=0}}
                        {{  var lineLen = line.length;
                        if(lineLen>3){
                                lineLen = 3;
                            }
                        }}
                        {{for(var i=0;i<lineLen;i++){ }}
                        <div class="preferential"><span class="tag"><i class="line"></i>{{=line[i]}}</span></div>
                        {{ } }}
                        {{?}}
                    </div>
                    {{??}}
                    <br>
                    {{?}}
                    {{?}}
                    <div class="reserDiv spm-deliver" trackkit="reserve">
                        <!--活动线路 -->
                        <a class="reserveBtn J_OrderBtn J_OrderBtn1 none {{?tourProp && tourProp.IsDataFlag <= 0}}endTime{{?}}" href="javascript:void(0)" trackspot="top" title="{{?tourProp && tourProp.IsDataFlag <= 0}}已售完{{??}}立即预订{{?}}" rel="nofollow" trace="free-orderBtn" data-spmed="true">{{?tourProp && tourProp.IsDataFlag <= 0}}已售完{{??}}立即预订{{?}}</a>
                        <span class="countdown J_CountDown "></span>
                        <!--{{?lineDetail.Telephone}}
                        <span class="tel"><i class="ziyou icons-phone"></i><span class="J_Tel">{{=lineDetail.Telephone}}</span></span>
                        {{?}}-->
                    </div>
                </div>
                <div class="top_right_intro">
                    <div class="declare-hid">
                        <div class="flight declare-hid_con">
                            <span class="fh-no">航班：</span>
                            {{var flightInfo = lineDetail.FlightInfo,
                                  flightGo = flightInfo ? flightInfo.FlightGo : "",
                                  flightBack = flightInfo ? flightInfo.FlightBack : "";}}
                            {{?flightGo && flightGo.length != 0}}
                            <div class="fh-txt flight-txt J_flight" {{?(flightGo.length + flightBack.length) > 1}}style="line-height: 20px;"{{?}}>
                                {{~flightGo:FlightGo}}
                                <p class="declare-txt">{{=FlightGo.Departure}}→{{=FlightGo.Destination}}&nbsp;&nbsp;&nbsp;<em>{{=FlightGo.AirCompany}}</em></p>
                                {{~}}

                                {{?flightBack && flightBack.length != 0}}
                                {{~flightBack:FlightBack}}
                                <p class="declare-txt">{{=FlightBack.Departure}}→{{=FlightBack.Destination}}&nbsp;&nbsp;&nbsp;<em>{{=FlightBack.AirCompany}}</em></p>
                                {{~}}
                                {{?}}
                            </div>
                            <div class="J_fhToggle open {{?(flightGo.length + flightBack.length) > 2}}togglemore{{??}}none{{?}}" data-name="航班">{{?(flightGo.length + flightBack.length) > 2}}展开更多航班{{?}}</div>
                            {{??}}
                            <div class="fh-txt flight-txt J_flight">
                                <p class="declare-txt">暂无航班信息</p>
                            </div>
                            {{?}}
                        </div>
                        <div class="hotel declare-hid_con">
                            <span class="fh-no">酒店：</span>
                            {{?lineDetail.HotelInfo && lineDetail.HotelInfo.length != 0}}
                            <div class="fh-txt hotel-txt J_hotel" {{?lineDetail.HotelInfo.length > 1}}style="line-height: 20px;"{{?}}>
                                {{~lineDetail.HotelInfo:HotelInfo}}
                                <p class="declare-txt">{{=HotelInfo.Name}}&nbsp;&nbsp;&nbsp;<em>{{=HotelInfo.HotelStar}}</em></p>
                                {{~}}
                            </div>
                            <div class="J_fhToggle open {{?lineDetail.HotelInfo.length>2}}togglemore{{??}}none{{?}}" data-name="酒店">{{?lineDetail.HotelInfo.length>2}}展开更多酒店{{?}}</div>
                            {{??}}
                            <div class="fh-txt hotel-txt J_hotel">
                                <p class="declare-txt">暂无酒店信息</p>
                            </div>
                            {{?}}
                        </div>
                    </div>
                    <h3><i class="ziyou right-arrow"></i><span>产品经理推荐</span></h3>
                    <div class="lo-recommend clearfix">
                        <div class="leftHd">
                            <div class="img icons-managerhd">
                                {{var recommendInfo = lineDetail.RecommendationInfo;}}
                                {{?recommendInfo && recommendInfo.ImgUrl !== '' && recommendInfo.ImgUrl != null}}
                                <img data-img="{{=recommendInfo.ImgUrl.replace('http:','')}}">
                                {{?}}
                            </div>
                            <div class="name">{{=(recommendInfo && recommendInfo.Name) ? recommendInfo.Name:""}}</div>
                        </div>
                        <div class="rightcontent">
                            {{?recommendInfo && recommendInfo.RecommendationContent !=""}}
                                {{=recommendInfo.RecommendationContent}}
                            {{??}}
                            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;暂无产品推荐</p>
                            {{?}}
                        </div>
                    </div>
                    <h3><i class="ziyou right-arrow"></i><span>用户点评</span></h3>
                    <div class="lo-comment clearfix" trackkit="comment1">
                        <div class="leftHd">
                            <div class="img icons-commenthd"></div>
                        </div>
                        <div class="rightcontent J_TopComment">
                            <!--点评开始 -->
                            {{?allCommentData && allCommentData.List && allCommentData.Count && allCommentData.List.length>0}}
                                {{
                                    var feedBack = allCommentData.List[0].Comment||"";
                                    if(feedBack.length>110){
                                        feedBack = feedBack.substr(0, 110) + "...";
                                    }
                                }}
                                <p>来自{{=allCommentData.Count[0].All}}条用户点评<span>{{=allCommentData.Count[0].Satisfaction}}%</span>满意度</p><p class="top-comment" title="{{=allCommentData.List[0].Comment}}">{{=feedBack}}</p>
                                <div class="paging">
                                    <span class="J-prev disable" trackspot="上一条">上一条</span><span class="J-next {{?allCommentData.List&&allCommentData.List.length==1}}disable{{?}}" trackspot="下一条">下一条</span><a href="#CommentContent" class="J_BtnComment" trackspot="查看所有点评">查看所有点评</a>
                                </div>
                            {{??}}
                            <p class="no-remark">同程旅游，快乐每一程，快来发表点评，与万千驴友分享您的精彩之旅吧！</p>
                            {{?}}
                            <!-- 点评结束-->
                        </div>
                    </div>
                    <h3 class="customize-schedule" trackkit="TeamCustomization">
                        <i class="ziyou right-arrow"></i>
                        <em class="icon-schedule"></em><span>定制旅行</span><a trackspot="0" class="customize-href" target="_blank" href="/dujia/schedule.html">独立成团 我的行程我做主 &gt;&gt;</a>
                    </h3>
                </div>
            </div>
        </div>
  		<form id="J_Form" name="booking" method="post" action="/dujia/book">
        <div class="panel-middle clearfix">
            <div class="package-module">
                <div class="resource-price-contain ">
                    <ul class="clearfix">
                        <li>
                            <label>出发日期：</label>
                            <div class="date-picker">
                                <input id='J_startTime' class="date-picker-input" readonly="readonly" placeholder="请选择时间" autocomplete="off">
                                <div class="mCal2 none"></div>
                            </div>
                        </li>
                        <li>
                            <label class="picker-type">成人：</label>
                            <div class="peopleNum-picker">
                                <a href="javascript:void(0)" class="peopleNum-picker-btn peopleNum-picker-leftBtn J_picker-leftBtn"></a>
                                <input class="peopleNum-picker-input J_picker-input J_picker-adult" readonly="readonly" value="2" min='1' max='10' maxlength="2" autocomplete="off">
                                <a href="javascript:void(0)" class="peopleNum-picker-btn peopleNum-picker-rightBtn J_picker-rightBtn"></a>
                            </div>
                            <p class="unitPrice J_aldutPrice"></p>
                        </li>
                        <li class='J_isChild'>
                            <div class='isChild'>
                                 <label class="picker-type">儿童：</label>
                                <div class="peopleNum-picker">
                                    <a href="javascript:void(0)" class="peopleNum-picker-btn peopleNum-disPicker-leftBtn J_picker-leftBtn"></a>
                                    <input class="peopleNum-picker-input J_picker-input J_picker-child" readonly="readonly" value="0" min='0' max='10' maxlength="2" autocomplete="off">
                                    <a href="javascript:void(0)" class="peopleNum-picker-btn peopleNum-picker-rightBtn J_picker-rightBtn"></a>
                                </div>
                                <p class="unitPrice J_childPrice"></p>
                              	<div class="childTips">
                                  <span class="child-tips J_child-tips">?</span>
                                  <div class="pop-childTips">
                                      <p>此为儿童不占床价格，儿童价费用标准请见费用包含说明，儿童必须在成人陪同下出游 </p>
                                  </div>
                               </div>

                            </div>
                            <p class='noChild none'>不接受儿童预订</p>
                        </li>
                        <li class="price-contain" trackkit="reserve">
                            <span class='J_sumPrice none'>
                                <label>总价：</label>
                                <p class="total-price">￥<b class="J_total-price"></b></p>
                                <span class="price-tips J_price-tips"></span>
                            </span>
                            <a href="javascript:void(0)" class="price-submit J_price-submit {{?tourProp && tourProp.IsDataFlag <= 0}}endTime{{?}}" trackspot="bottom" trace="free-price-submit" trace-loaded="true">{{?tourProp && tourProp.IsDataFlag <= 0}}已售完{{??}}立即预订&gt;&gt;{{?}}</a>
                            <div class="ui-popover-contain">
                                <div class="ui-popover clearfix">
                                    <div class="ui-popover-title">
                                        <p class="label-common-color label-common-size">费用说明</p>
                                    </div>
                                    <ul class="clearfix J_popDetails">

                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="J_numsTip">
                            <p>当前出发日期余位已满，无法添加更多人数</p>
                        </li>
                    </ul>
                </div>
                <div class='loading-box' style="width:500px;margin:0 auto">

                </div>
                <div class="resource-info-contain none">
                    <div class="info-module J_flight-travelInfo">

                    </div>
                    <div class="info-module" id="hotelInfo">
                        <div class="hotel-module clearfix ">

                        </div>
                    </div>
                    <div class="info-module J_sbusource">

                    </div>
                    <div class="info-module">
                        <div class="cost-module clearfix">
                            <div class="module-name">
                                <div class="icon-contain">
                                    <span></span>
                                </div>
                                <p class="module-title">费用包含</p>
                            </div>
                            <div class="cost-contains J_feeDes-box">

                            </div>
                        </div>
                    </div>
                    <div class="info-module">
                        <div class="selfCost-module clearfix">
                            <div class="module-name">
                                <div class="icon-contain">
                                    <span></span>
                                </div>
                                <p class="module-title">自理费用</p>
                            </div>
                            <div class="cost-contains J_feeItem-box">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" name='Lineid' id="formLineId" value=""/>
        <input type="hidden" name='CityId' id="formDepartureCityId" value=""/>
        <input type="hidden" name='DepTime'  id="formLineDate" value=""/>
        <input type="hidden" name='Ak' id="formAk" value=""/>
        <input type="hidden" name='Dkey' id="formDk" value=""/>
        <input type="hidden" name='SbuProductPara' id="formSbuProduct" value=""/>
        <input type="hidden" name='Url' id="formUrl" value=""/>
  		</form>
        <div class="panel-main clearfix">
            <div id="conlist" class="main_conlist clearfix" trace="group-conlist" style="position: static;" trackkit="reserve">
                <div class="content-nav-inner">
                </div>
                <a class="reserveBtn J_OrderBtn spm-deliver {{?tourProp && tourProp.IsDataFlag <= 0}}endTime{{?}}" href="javascript:void(0)" trackspot="middle" title="{{?tourProp && tourProp.IsDataFlag <= 0}}已售完{{??}}立即预订{{?}}" rel="nofollow" trace="free-reserve-btn">{{?tourProp && tourProp.IsDataFlag <= 0}}已售完{{??}}立即预订&gt;&gt;{{?}}</a>
                <!--{{?lineDetail.Telephone}}
                <span class="tab-tel"><i class="ziyou icons-phone"></i><span class="J_Tel">{{=lineDetail.Telephone}}</span></span>
                {{?}}-->
            </div>
            <div class="main_content">
                {{?lineDetail.ProductTag && lineDetail.ProductTag.length != 0}}
                {{for(var i = 0;i< lineDetail.ProductTag.length;i++){ }}
                {{?lineDetail.ProductTag[i].TagType && lineDetail.ProductTag[i].TagType == 7}}
                <div id="ChengYiShuoMing" data-txt="程意正品" class="ChengYiShuoMing-Box">
                    <img src="//pic4.40017.cn/line/admin/2017/01/05/16/iTqmjc.jpg" alt="程意行"/>
                </div>
                {{?}}
                {{ } }}
                {{?}}
                <div class="main_pm-content clearfix">
                    <!--优惠信息 start-->
                    <div id="youhuiInfo" data-txt="优惠信息" class="nav_box J_NavBox clearfix">
                        <div class="nav-tit youhui-tit">
                            <span><i class="icons-youhui"></i><h2>优惠信息</h2></span>
                        </div>
                        <div class="list-box youhui-content">
                        </div>
                    </div>
                    <!--优惠信息 end-->
                     <!--产品特色 start-->
                    {{?lineDetail.FeatureTemplateDetail && lineDetail.FeatureTemplateDetail.TemplateId != 0}}
                    <div id="lineInfo" data-txt="产品特色" data-ref=".J_FeatureContent" class="nav_box J_NavBox clearfix">
                        <div class="nav-tit"><span><i class="icons-line"></i><h2>产品特色</h2></span></div>
                        <div class="listbox">
                            <div class="list-box feature-content J_FeatureContent" style="background-color:#fff;margin: 0 0;padding: 6px 0;">
                            </div>
                            <script>
                                var XFam = XFam||{};
                                XFam.config={
                                    feature:{{=JSON.stringify(lineDetail.FeatureTemplateDetail)}}
                                }
                            </script><!--ignore-->
                        </div>
                    </div>
                    {{??}}
                    {{?lineDetail.Characteristic}}
                    <div id="lineInfo" data-txt="产品特色" data-ref=".J_FeatureContent" class="nav_box J_NavBox clearfix">
                        <div class="nav-tit"><span><i class="icons-line"></i><h2>产品特色</h2></span></div>
                        <div class="listbox">
                            <div class="list-box feature-content J_FeatureContent">
                                {{=lineDetail.Characteristic}}
                            </div>
                        </div>
                    </div>
                    {{?}}
                    {{?}}
                    <!--产品特色 end-->
                    <!--推荐行程 start-->
                    <div id="routeInfo" data-txt="推荐行程" data-ref="#J_travelDetail" class="nav_box J_NavBox clearfix">
                        <div class="nav-tit">
                            <span><i class="icons-route"></i><h2>推荐行程</h2></span>
                        </div>
                        <div class="list-box route-content clearfix" id="J_travelDetail">
                            {{?travelData}}
                                {{
                                    var lineDest = travelData.LineDestinationPlayDetail,
                                        sceneryIntro = travelData.sceneryIntroduction,
                                        fashionShop = travelData.fashionNowShopping,
                                        food = travelData.funFood,
                                        transport = travelData.transportation,
                                        ecommend = travelData.EcommendedTravel;
                                }}
                                {{?lineDest && lineDest.PlayDaysInfoList && lineDest.PlayDaysInfoList.length}}
                                    {{#def.recommendRoute}}
                                {{??(sceneryIntro && sceneryIntro.length) || (fashionShop && fashionShop.length) ||
                                    (food && food.length) || (transport && transport.length) || (ecommend && ecommend.length)}}
                                    {{#def.freeRoute}}
                                    {{#def.sceneryInfo}}
                                    {{#def.fashionShopping}}
                                    {{#def.funFood}}
                                    {{#def.transportation}}
                                    {{#def.EcommendedTravel}}
                                {{?}}
                            {{??}}
                                <p class="no-message">暂时没有相关行程信息提供，具体信息请咨询客服人员！</p>
                            {{?}}
                        </div>
                    </div>
                    <!--推荐行程 end-->
                    <!--费用包含 start-->
                    <div id="feeInfo" data-txt="费用包含" class="nav_box J_NavBox clearfix">
                        <div class="nav-tit"><span><i class="icons-fee"></i><h2>费用包含</h2></span></div>
                        <div class="list-box fee-content clearfix">
                            {{var newSupply = lineDetail.NewSupplierInfoData,
                                  resourceFrom = lineDetail.IVRLRSourceFrom;}}
                            {{?resourceFrom && resourceFrom != 0 && newSupply}}
                                <div class="fee-item J_supply">
                                    {{?lineDetail.Supplier}}<p>*{{=lineDetail.Supplier}}</p>{{?}}
                                    <p>{{?newSupply.LinkMan}}<span class="fee-link">联系人：{{=newSupply.LinkMan}}</span>{{?}}{{?newSupply.LinkMobile}}<span class="fee-mobile">联系电话：{{=newSupply.LinkMobile}}</span>{{?}}</p>
                                </div>
                            {{?}}
                            {{?lineDetail.FeeDes}}
                            <h3><i class="ziyou right-arrow"></i>费用包含</h3>
                            <div class="fee-item J_feeDes">
                                {{=lineDetail.FeeDes}}
                            </div>
                            {{?}}
                            {{?lineDetail.FeeItem}}
                            <h3><i class="ziyou right-arrow"></i>自理费用</h3>
                            <div class="fee-item J_feeItem">
                                {{=lineDetail.FeeItem}}
                            </div>
                            {{?}}
                            {{?lineDetail.CancelRule}}
                            <h3><i class="ziyou right-arrow"></i>退规说明</h3>
                            <div class="fee-item">
                                {{=lineDetail.CancelRule}}
                            </div>
                            {{?}}
                        </div>
                    </div>
                    <!--费用包含 end-->
                    <!--签证信息 start-->
                    <div id="visaInfo" data-txt="签证信息" data-ref=".visa-details" class="nav_box J_NavBox">
                        <div class="nav-tit"><span><i class="icons-visa"></i><h2>签证信息</h2></span></div>
                    </div>
                    <!--签证信息 end-->
                    <!--预订须知 start-->
                    <div id="noticeInfo" data-txt="预订须知" data-ref=".J_shoplists" class="nav_box J_NavBox clearfix">
                        <div class="nav-tit"><span><i class="icons-notice"></i><h2>预订须知</h2></span></div>
                        <div class="list-box notice-content pading-bottom-none">
                            <h3><i class="ziyou right-arrow"></i>签约方式</h3>
                            <div class="notice-item clearfix">
                                <div class="sign">
                                    <div class="tag1"></div>
                                    <div class="line"></div>
                                    <span>在线签约</span>
                                    <p>通过在线签约页面进行签约，付款成功后，将通过电子邮件接收电子版合同，与门市签约及传真签约同等有效。</p>
                                    <i class="icons-lift"></i>
                                </div>
                                <div class="sign">
                                    <div class="tag2"></div>
                                    <div class="line"></div>
                                    <span>快递签约</span>
                                    <p>我们会将盖章的合同快递给您，请在收到合同后及时签字并回寄给我们。如涉及签证材料需要快递，请在快件中注明订单号，以便工作人员及时处理。</p>
                                    <i class="icons-lift"></i>
                                </div>
                                <div class="sign last">
                                    <div class="tag3"></div>
                                    <div class="line"></div>
                                    <span>门店签约</span>
                                    <p>前往同程设在各城市的门店进行线下签约付款。</p>
                                    <i class="icons-lift"></i>
                                </div>
                            </div>
                            <h3><i class="ziyou right-arrow"></i>门店信息</h3>
                            <div class="notice-item clearfix">
                              	<div class="J_shoplists"></div>
                                <div class="shops-select J_shopproandcity">
                                </div>
                                <div class="shop-list J_shop-list clearfix">
                                </div>
                            </div>
                            <h3><i class="ziyou right-arrow"></i>付款方式</h3>
                            <div class="notice-item clearfix">
                                <ul class="pay">
                                    <li> <span class="title">【网上支付】</span>
                                        <span class="content" style="width:1025px;">A、下载同程旅游APP，支持微信支付、支付宝支付、信用卡支付、银联支付<br>
                                        B、同程旅游网站在线支付微信扫码支付、支付宝支付、信用卡支付、网银支付、银联支付</span>
                                    </li>
                                    <li><span class="title">【对公汇款】</span><span class="content" style="width:1025px;">通过银行将相关款项汇至同程旅游指定对公账户</span></li>
                                    <li><span class="title">【门市支付】</span><span class="content" style="width:1025px;">为了您的支付方便和安全性，请优先选择刷卡支付，现金支付；重要提醒，台湾产品仅支持江苏同程辉煌门店支付。</span></li>
                                </ul>
                            </div>
                            <h3><i class="ziyou right-arrow"></i>重要提醒</h3>
                            <div class="notice-item clearfix">
                                <div class="ni-content prompt">
                                    {{=lineDetail.Notice}}
                                </div>
                                <i class="btn-fold packUp togglemore open none">展开全部信息</i>
                            </div>
                            <h3><i class="ziyou right-arrow"></i>安全须知</h3>
                            <div class="notice-item pading-bottom-none clearfix">
                                <div class="ni-content safety">
                                    {{=lineDetail.securityNoticy}}
                                </div>
                                <i class="btn-fold packUp togglemore open none">展开全部信息</i>
                            </div>
                        </div>
                    </div>
                    <!--预订须知 end-->
                    <!--出游须知 start-->
                    <div id="travelTips" data-txt="出游须知" class="nav_box J_NavBox clearfix">
                        <div class="nav-tit"><span><i class="icons-tip"></i><h2>出游须知</h2></span></div>
                        <div class="list-box tips-content">
                            {{#def.traveltips}}
                        </div>
                    </div>
                    <!--出游须知 end-->
                    <!--用户点评-->
                    <div id="CommentContent" data-txt="用户点评" data-ref="#J_SubCommentContent" class="nav_box J_NavBox data-outer-loading clearfix">
                        <div class="nav-tit"><span><i class="icons-comment"></i><h2>用户点评</h2></span></div>
                        <div class="list-box comment-content" id="J_SubCommentContent">
                            {{?allCommentData && allCommentData.List && allCommentData.Count && allCommentData.List.length>0}}
                            {{
                                var headData = allCommentData.Count[0];
                                headData.mainTitle = lineDetail.LineTitle.MainTitle;
                            }}
                            {{#def.commetBody}}
                            {{??}}
                            <p class="no-remark">同程旅游，快乐每一程，快来发表点评，与万千驴友分享您的精彩之旅吧！</p>
                            {{?}}
                        </div>

                    </div>
                </div>
            </div>
             <div id="recomendProduct" class="recomendProduct clearfix">
                <p>看了此商品的会员还看了</p>
                <div class="recoproduct-list J_recoproduct-list">
                </div>
            </div>
        </div>
    </div>
</div>
<!--side_nav侧边栏放到模块里 -->

<!-- 图样展示start -->
<div id="show_photo" class="none ui-dialog-content">
    <div class="ui-tips">
        <div id="visaImgContent">
            <div class="mslide-panel">
                <h3><a href="javascript:void(0)" class="JJ_close"></a></h3>

                <div class="mp-content">
                    <div class="photo-detail">
                        <div class="photo">
                            <a class="mslide-num" href="javascript:void(0)"></a>
                        </div>
                        <div class="detail">材料说明：
                        </div>
                    </div>
                    <div class="photo-mslide"><a href="javascript:void(0)" class="prev disabled"><span
                            class="btn-prev"></span></a>

                        <div class="list">
                            <ul>
                            </ul>
                        </div>
                        <a href="javascript:void(0)" class="next"><span class="btn-next"></span></a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 图样展示end -->
<!-- 公共页脚 开始 -->
<% ctx.vrcode = "10002-2006-0" %>
<% includeId = cnwidescreenfoot %>
<!-- 公共页脚 结束 -->
<script src="/modules/sea.js" data-loader="true" type="text/javascript"></script>
<script src="//js.40017.cn/cn/v/2015/jqmodules/dialog/0.0.1/dialog.js"></script>
<script src="//js.40017.cn/cn/v/2015/jqmodules/activity/0.1.1/bonus/pc/source/index.js"></script>
<script type="text/javascript" src="//js.40017.cn/cn/min/??/cn/public/jquery/calendar/0.0.1/calendar.js?v=2015072201" charset="utf-8"></script>
<script type="text/javascript">
    window.host ='//www.ly.com';
</script>
<script type="text/javascript">
    var conf = {
        ajaxhost: '/'
    };
    seajs.require("./index").init(conf);
</script>
<script>
    window.data = {{=JSON.stringify(lineDetail)}};
    {{?lineDetail.YanXuanDetail}}

        {{
            lineDetail.YanXuanDetail.LineDate = lineDetail.LineDate || "";
            lineDetail.YanXuanDetail.TcPrice = lineDetail.TcPrice;
        }}
        var page_cfg = {{=JSON.stringify(lineDetail.YanXuanDetail)}};

    {{??lineDetail.VipDiscountDetail}}
        {{
            lineDetail.VipDiscountDetail.LineDate = lineDetail.LineDate || "";
            lineDetail.VipDiscountDetail.TcPrice = lineDetail.TcPrice;
        }}
        var page_cfg = {{=JSON.stringify(lineDetail.VipDiscountDetail)}};

    {{??lineDetail.BaiLvHuiDetail}}
        {{
            lineDetail.BaiLvHuiDetail.LineDate = lineDetail.LineDate || "";
            lineDetail.BaiLvHuiDetail.TcPrice = lineDetail.TcPrice;
        }}
        var page_cfg = {{=JSON.stringify(lineDetail.BaiLvHuiDetail)}};

    {{??}}
        var page_cfg ={"IcoContent":null,"TcPrice":{{=lineDetail.TcPrice}},"PreAmount":0,"Remarks":null,"StyleId":0,"Title":null,"LineDate": {{=lineDetail.LineDate || ""}}}
    {{?}}

</script>
<script type="text/javascript" src="/modules/common/0.1.0/index.js"></script>
<script type="text/javascript" src="//js.40017.cn/cn/v/2015/jqmodules/statistics/0.1.0/spm_module.js"></script>
<script>
SPM_MODULE&&SPM_MODULE.init({
    deliver : [".J_price-submit",".J_OrderBtn"]
});
</script>
<% includeId = node_dj_common_stat %>
<script type="text/javascript">
    var _url=window.document.location.href;
    var rtTag ={
        "data": {
            "etravel_view": {
                "prod": [
                    {
                        "p_id": "chujing_{{=lineDetail.TravelInfo.LineId}}",
                        "p_name": "{{=lineDetail.LineTitle.MainTitle}}",
                        "p_class1": "出境游",
                        "p_class2": "自由行",
                        "p_class3": '{{=lineDetail.DepartureCity}}',
                        "p_stock": "1",
                        "p_img_url": "{{=lineDetail.ImgUrl}}",
                        "p_url": _url
                    }
                ]
            }
        }
    };
    var __zp_tag_params = {
        outerid: '{{=lineDetail.TravelInfo.LineId}}',
        price: '{{=lineDetail.TcPrice}}',
        pagename:"detail",
        p_zp_prodstype:"e638e078f50195e9258814bf62405f55",
        p_zp_prods:{
            "outerid":'{{=lineDetail.TravelInfo.LineId}}',
        "url":_url,
            "image":'{{=lineDetail.ImgUrl}}',
            "name":'{{=lineDetail.LineTitle.MainTitle}}',
            "category":"出境游",
            "subcategory":'{{=lineDetail.DepartureCity}}',
            "thirdcategory":'{{=lineDetail.DestinationCity}}',
            "price":'{{=lineDetail.TcPrice}}',
            "traveltype":"自由行",
        }
    };
    stat.init({
        "baidu":{
            "parameter": "pc",
            "hmt": [
                 ['_setAccount', '53a0d71dba66835ff1aa907db99144d8'],
                 ['_trackRTEvent', rtTag]
            ]
        },
        "pvConfig": {
            "PublicPlatId": "1",
            "PageId": "1",
            "LineId": '{{=lineDetail.TravelInfo.LineId}}',
            "ModuleId": common.getParamFromUrl("spm")||"",
            "SearchPlatId": common.getParamFromUrl("searchplatid")||"",
            "PVSource": "0",
            "ak": common.getParamFromUrl("ak")||"",
            "url": "/dujia/AjaxHelper/PvHandler.ashx",
            "StartCityId":"{{=lineDetail.KCity||""}}",
           "TagPageId": "{{=lineDetail.TagPageValueId||""}}",
            "productTagId":"{{=lineDetail.ProductPageId||""}}"
        },
        "_tcHotmapx": {
            "param": {
                "pid": "475",
                "sp": "100"
            }
        },
        "mvl": {
                "_mvq": [
                    ['$setAccount', 'm-135073-0'],
                    ['$setGeneral', 'goodsdetail', '', '', ''],
                    ['$logConversion'],
                    ['$addGoods','', '', '{{=lineDetail.LineTitle.MainTitle}}','{{=lineDetail.TravelInfo.LineId}}','{{=lineDetail.TcPrice}}','{{=lineDetail.ImgUrl}}','','自由行','{{=lineDetail.DataFlag||""}}','{{=lineDetail.AdvicePrice||""}}','','','出境游','{{=lineDetail.DepartureCity}}','{{=lineDetail.DestinationCity}}'],
                    ['$logData']
                ],
                "isImmediateExcu": true
        },
        "__zpSMConfig": {
            query: [
                ["_setAccount","629"]
            ],
            args: __zp_tag_params||{}
        }
    });
</script>

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?ca5679d0986b1f42f800098b798c7008";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
<script type="text/javascript">
    var mobile = $("#mobile").val()||"",
            criteoId = '{{=lineDetail.TravelInfo.LineId}}';
    window.criteo_q = window.criteo_q || [];
    window.criteo_q.push({ event: "setAccount", account: 20385 });
    if(mobile != ""){
        window.criteo_q.push({ event: "setHashedEmail", email: mobile });
    }
    window.criteo_q.push(
            { event: "setSiteType", type: "d" },
            { event: "viewItem", item: criteoId}
    );
</script>
</body>
</html>
