@media only screen and (max-width: 300px) {
  html {
    font-size: 62.5%;
  }
  .viewport {
    max-width: 300px;
  }
}
@media only screen and (max-width: 310px) and (min-width: 300px) {
  html {
    font-size: 62.5%;
  }
  .viewport {
    max-width: 310px;
  }
}
@media only screen and (max-width: 320px) and (min-width: 310px) {
  html {
    font-size: 62.5%;
  }
  .viewport {
    max-width: 320px;
  }
}
@media only screen and (max-width: 350px) and (min-width: 320px) {
  html {
    font-size: 75%;
  }
  .viewport {
    max-width: 350px;
  }
}
@media only screen and (max-width: 360px) and (min-width: 350px) {
  html {
    font-size: 75%;
  }
  .viewport {
    max-width: 360px;
  }
}
@media only screen and (max-width: 400px) and (min-width: 360px) {
  html {
    font-size: 75%;
  }
  .viewport {
    max-width: 400px;
  }
}
@media only screen and (max-width: 470px) and (min-width: 400px) {
  html {
    font-size: 87.5%;
  }
  .viewport {
    max-width: 470px;
  }
}
@media only screen and (max-width: 480px) and (min-width: 470px) {
  html {
    font-size: 93.75%;
  }
  .viewport {
    max-width: 480px;
  }
}
@media only screen and (max-width: 540px) and (min-width: 480px) {
  html {
    font-size: 100%;
  }
  .viewport {
    max-width: 540px;
  }
}
@media only screen and (max-width: 560px) and (min-width: 540px) {
  html {
    font-size: 112.5%;
  }
  .viewport {
    max-width: 560px;
  }
}
@media only screen and (max-width: 570px) and (min-width: 560px) {
  html {
    font-size: 112.5%;
  }
  .viewport {
    max-width: 570px;
  }
}
@media only screen and (max-width: 630px) and (min-width: 570px) {
  html {
    font-size: 125%;
  }
  .viewport {
    max-width: 630px;
  }
}
@media only screen and (max-width: 640px) and (min-width: 630px) {
  html {
    font-size: 125%;
  }
  .viewport {
    max-width: 640px;
  }
}
@media only screen and (max-width: 710px) and (min-width: 640px) {
  html {
    font-size: 150%;
  }
  .viewport {
    max-width: 710px;
  }
}
@media only screen and (max-width: 720px) and (min-width: 710px) {
  html {
    font-size: 150%;
  }
  .viewport {
    max-width: 720px;
  }
}
@media only screen and (min-width: 720px) {
  html {
    font-size: 150%;
  }
  .viewport {
    width: 720px;
  }
}
/*RESET*/
em,
i {
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
}
ul,
li {
  list-style-type: none;
}
/*COMMON*/
.container {
  width: 100%;
  max-width: 640px;
  /*是否为全屏宽度*/
  margin: 0 auto;
  height: auto;
  font-family: "HiraginoSansGB W6", "microsoft yahei";
  overflow: hidden;
  position: relative;
}
.container img {
  width: 100%;
  height: auto;
  display: block;
  border: 0;
}
.container .pro {
  position: relative;
}
.container .pro.sellout:after {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: url("//img1.40017.cn/touch/v/2015/zt/2015/28310/sellout.png") center no-repeat;
  background-color: rgba(0, 0, 0, 0.5);
  background-size: 6.66666667rem 5.83333333rem;
}
.none {
  display: none !important;
}
a {
  color: #000;
  text-decoration: none;
}
.choice {
  position: relative;
}
.area {
  position: absolute;
  bottom: 20%;
  right: 4%;
  font-size: 1.16666667rem;
  height: 2.5rem;
  line-height: 2.5rem;
  padding: 0 1.25rem 0 0.20833333rem;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 30px;
  color: #fff;
  width: 24%;
  text-align: center;
}
.area .area-nav {
  position: absolute;
  top: 2.5rem;
  left: 10%;
  width: 80%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 100;
  box-sizing: border-box;
  font-size: 1.08333333rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.area .area-nav li {
  height: 2.08333333rem;
  line-height: 2.08333333rem;
}
.area .area-icon {
  position: absolute;
  top: 40%;
  right: 9%;
  width: 1.04166667rem;
  height: 0.66666667rem;
  background: url("img/dest/area-icon.png") no-repeat;
  background-size: 100%;
}
.area:hover {
  background: rgba(0, 0, 0, 0.8);
}
.part1 {
  background: url("img/dest/top_07.jpg") repeat-y;
  overflow: hidden;
}
.part2 {
  background: url("img/dest/top_09.jpg") repeat-y;
  overflow: hidden;
}
#part3 {
  padding-bottom: 4.16666667rem;
  background: url("img/dest/top_07.jpg") repeat-y;
  background-size: 100%;
}
.prolist {
  width: 94%;
  padding: 0 3%;
  padding-bottom: 0.83333333rem;
}
.pro1 {
  width: 100%;
  background: #fff;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  margin-top: 0.83333333rem;
  padding-bottom: 0.41666667rem;
}
.pro1 .img-box {
  position: relative;
  width: 100%;
  height: 10.83333333rem;
  color: #fff;
}
.pro1 .img-box img {
  width: 100%;
  height: 10.83333333rem;
}
.pro1 .img-box .chufa {
  background: rgba(0, 0, 0, 0.7);
  font-size: 0.83333333rem;
  border-radius: 16px;
  padding: 0 0.625rem;
  position: absolute;
  top: 0.41666667rem;
  left: 0.41666667rem;
}
.pro1 .img-box .exp {
  background: rgba(0, 0, 0, 0.7);
  font-size: 1rem;
  width: 94%;
  padding: 0 3%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2.08333333rem;
  line-height: 2.08333333rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.pro1 .maintit {
  font-size: 1.16666667rem;
  font-weight: bold;
  width: 60%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0.41666667rem 0 0 3%;
}
.pro1 .price {
  color: #fe4701;
  font-weight: bold;
}
.pro1 .price p {
  font-size: 1.5rem;
  margin-left: 3%;
}
.pro1 .price p b {
  font-size: 1.16666667rem;
}
.pro1 .price p:before {
  font-size: 1rem;
  content: "¥";
  font-weight: normal;
  margin-right: 3px;
}
.pro1 .price p:after {
  font-size: 1rem;
  content: "起";
  font-weight: normal;
  margin-left: 3px;
}
.pro1 .order {
  width: 32%;
  height: 2.5rem;
  line-height: 2.5rem;
  background: #ff5c03;
  color: #fff;
  font-size: 1.16666667rem;
  position: absolute;
  right: 3%;
  bottom: 1.04166667rem;
  text-align: center;
  border-radius: 5px;
}
.title1 {
  margin-top: 0.83333333rem;
}
.pro2 {
  width: 94%;
  margin: 0 3%;
  position: relative;
  margin-top: 0.83333333rem;
  border-radius: 5px;
  overflow: hidden;
}
.pro2 .img-box {
  width: 100%;
  height: 15.83333333rem;
  position: relative;
}
.pro2 .img-box img {
  width: 100%;
  height: 15.83333333rem;
}
.pro2 .img-box .pro-con {
  position: absolute;
  left: 50%;
  top: 10%;
  width: 70%;
  height: 80%;
  margin-left: -35%;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
  font-size: 0.83333333rem;
  padding: 0.83333333rem;
  box-sizing: border-box;
}
.pro2 .img-box .pro-con .chufa {
  background: #fff;
  border-radius: 16px;
  color: #000;
  padding: 0.20833333rem 0.625rem;
}
.pro2 .img-box .pro-con .maintit {
  font-size: 1.16666667rem;
  line-height: 2.83333333rem;
  border-bottom: 1px solid #fff;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.pro2 .img-box .pro-con .subtit {
  margin-top: 0.20833333rem;
  height: 3rem;
  overflow: hidden;
}
.pro2 .img-box .pro-con .price {
  width: 60%;
  height: 2.5rem;
  line-height: 2.5rem;
  background: #ff5c03;
  color: #fff;
  font-size: 1.16666667rem;
  border-radius: 5px;
  margin-left: 20%;
  margin-top: 0.83333333rem;
}
.pro2 .img-box .pro-con .price p {
  font-size: 1.5rem;
  margin-left: 3%;
}
.pro2 .img-box .pro-con .price p b {
  font-size: 1.16666667rem;
}
.pro2 .img-box .pro-con .price p:before {
  font-size: 1rem;
  content: "¥";
  font-weight: normal;
  margin-right: 3px;
}
.pro2 .img-box .pro-con .price p:after {
  font-size: 1rem;
  content: "起";
  font-weight: normal;
  margin-left: 3px;
}
/*吸底导航*/
.fixed {
  position: fixed;
  bottom: 0;
  z-index: 99;
}
.switch {
  width: 100%;
  margin: 0 auto;
  font-family: "HiraginoSansGB W6", "microsoft yahei";
}
.switch .switch-cfd {
  display: block;
}
.switch .switch-cfd li {
  float: left;
  width: 33.333%;
  height: 2.70833333rem;
  line-height: 2.70833333rem;
  text-align: center;
  font-size: 1rem;
  background: #b4a32c;
  border-left: 1px solid #fded7e;
  box-sizing: border-box;
}
.switch .switch-cfd li:first-child {
  border: none;
}
.switch .switch-cfd li a {
  display: block;
  width: 100%;
  height: 2.70833333rem;
  color: #fded7e;
}
.switch .switch-cfd li a.active {
  background: #ff7402;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
}
