<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>旅游狂欢节之“爱”出境游</title>
    <meta name="description" content="3.18-3.24，返现、免费、买增，出境旅游狂欢不止！">
    <meta name="keywords" content="返现、0元、买赠、出境、秒杀、限量、旅游">
    <% includeId = cnztjscss %>
    <link rel="stylesheet" href="//css.40017.cn/cn/c/zt/2015/common/common.0.0.5.css?v=2015121102"/>
    <script type="text/javascript" src="//js.40017.cn/cn/min/??/cn/public/fish.1.4.7.js,/cn/public/fc.1.1.7.js?v=2015021101"></script>
    <link href="//css.40017.cn/cn/v/2015/index2016/slidertoolbar.07044.css" rel="stylesheet" />
</head>
<body>
<!-- 公共头部-->
<% includeId = cnzthead %>
<!-- 公共头部END-->

<div class="container">
    <div class="top">
        <div class="top1"></div>
        <div class="top2"></div>
        <div class="top3"></div>
    </div>
    <div class="top_bg">
        <div class="top4"></div>
        <div class="top5"></div>
        <div class="top6"></div>
    </div>
    <div class="main">
        <div class="region">
            <div class="pos_civ">
                <span class="loca_but" ><span class="txt">华东出发</span><em></em></span>
                <ul class="dl_pos">
                    <li class="curr nas" _areaid="1004">华东出发</li>
                    <li class="nas" _areaid="1005">华南出发</li>
                    <li class="nas" _areaid="1003">华北出发</li>
                    <li class="nas" _areaid="1099">华西出发</li>
                </ul>
            </div>
        </div>
        <div class="J_NavBox" id="part1">
            <div class="detail-unit unit-gift">
                <div class="detail-title"><div class="title"><span><em class="t">狂欢秘籍</em><br/><em>先做攻略 快速下手</em></span></div></div>
                <div class="gift-pro">
                    <img src="img/dest/321-gift.png">
                </div>
            </div>
        </div>
        <div class="J_NavBox" id="part2">
            <div class="detail-unit unit-hot">
                <div class="detail-title"><div class="title"><span><em class="t">限时返现</em><br/><em>限时限量 疯狂一次</em></span></div></div>
                <div class="hot-pro">
                </div>
            </div>
        </div>
        <div class="J_NavBox" id="part3">
            <div class="detail-unit unit-ocean">
                <div class="detail-title"><div class="title"><span><em class="t">海外0元</em><br/><em>赠送网络 通讯无忧</em></span></div></div>
                <div class="ocean-pro data-pro clearfix">
                </div>
                <div class="ocean-more">
                    <!--<a href="">更多精彩线路>></a>-->
                </div>
            </div>
        </div>
        <div class="J_NavBox" id="part4">
            <div class="detail-unit unit-brand">
                <div class="detail-title"><div class="title"><span><em class="t">买赠好礼</em><br/><em>品质专线 口碑至上</em></span></div></div>
                <div class="brand-pro data-pro clearfix">
                </div>
            </div>
        </div>        
    </div>

    <div class="foot"> <p> Copyright © 2002-2017 同程网络科技股份有限公司 版权所有 </p> </div>
</div>
<script type="text/html" id="hotTemplate">
    <div class="hot-box clearfix J_time_{7}">
        <div class="hot-img">
            <img src="{0}" alt="">
            <span class="label"><em>限时返现</em> | {1}</span>
            <div class="shade"></div>
        </div>
        <div class="hot-intro">
            <div class="info">
                <p class="tit" title="{2}">{2}</p>
                {3}
                <div class="soldout"></div>
            </div>
            <a {4} class="link clearfix">
                <div class="price">&yen;<em>{5}</em>起<span>（{8}）</span></div>
                <div class="line"></div>
                <div class="btn">{6}</div>
            </a>
        </div>
    </div>
</script>
<script type="text/html" id="dataTemplate">
    <a {0} class="data-link">
        <div class="data-img">
            <img src="{1}" alt="">
            <span class="label">{2}</span>                       
        </div>
        <div class="data-intro">
            <p class="tit" title="{3}">{3}</p>
            <div class="info clearfix">
                <div class="des"></div>
                <div class="price">&yen;<em>{4}</em>起</div>
            </div>                        
        </div>
    </a>
</script>

<div class="sidetab" style="display: none">
    <ul>
        <li class="active"><a class="aa" href="#part1">狂欢秘籍</a></li>
        <li><a class="aa" href="#part2">限时返现</a></li>
        <li><a class="aa" href="#part3">海外0元</a></li>
        <li><a class="aa" href="#part4">买赠好礼</a></li>
    </ul>
    <div class="gotop"><a href="javascript:void(0);"></a></div>
</div>

<input type="hidden" id="RefUrl" value="" />
<input type="hidden" id="AjaxRequestPath" value="//www.ly.com/AjaxHelper/TopLoginHandler.aspx?channel=ChuJingTravel">
<script src="//js.40017.cn/cn/min/???/cn/public/fish.1.4.5.js,/cn/v/2015/jqmodules/jquery.js,/cn/v/2015/jqmodules/monitor/0.3.0/index.js,/cn/v/2015/jqmodules/statistics/0.3.0/statistics.js,/cn/v/2015/jqmodules/dot.js,/cn/v/2015/jqmodules/lazyload/0.2.1/index.js"></script><!--ignore-->
<script src="//js.40017.cn/touch/public/location/0.0.6/location.js"></script>
<script data-loader="true" src="/modules/sea.js"></script>

<input type="hidden" value="2017/03/18" id="HidStartTime">
<input type="hidden" value="4809,4748,4749" id="HidCycleId">
<!-- 专题配置 -->
<script>
    var Index = seajs.require("./index");
    Activity.init({
            param: [{
                "2284": [4809,4748,4749]
            }],
            IsSellOut: 1,
            querytype: 0,
            filter: true,
            el: ".J_ProList",
            beforeRender: function(data) {
                return data;
            },
            afterRender: function (data) {
                Index.init(data);
            }
    });

    (function() {
        var pageview = stat.formatPageview('/出境/pc活动页/阿布扎比');
        stat.init({
            "baidu": {
                "parameter": "pc" 
            },
            "pvConfig": {
                "PublicPlatId": "1",
                "PageId": "54310",
                "LineId": "0",
                "ActivityId": "2284",
                "ActivityPeriodId": "4809",
                "ModuleId": "0",
                "PVSource": "1",
                "ak": "",
                "url": "//www.ly.com/dujia/AjaxHelper/PvHandler.ashx"
            },
            "vst": [ 
                ['_serialid', '0'],
                ['_vrcode', '10002-2006-0'],
                ['_refId', stat.getRefid()],
                ['_userId', stat.getMemberId()],
                ['_openTime', stat.timeDiff],
                ['_trackPageview', pageview]
            ]
        });
    })();
</script>
</body>
</html>
