{{
    var it = IT.Data;
}}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" trace="pc-package-hotelList">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit" >
    <title>更换酒店</title>
    <meta name='keywords' content='' />
    <meta name='description' content='' />
    <meta name="apple-itunes-app" content="app-id=475966832" />
    <link rel="stylesheet" type="text/css" href="//css.40017.cn/cn/c/c/2016/common.0.1.0.css?v=2015121113" media="screen"><!--ignore-->
    <link href="./selectHotel.css" rel="stylesheet" /><!--ignore-->
    <link href="../detail/hotelDetail.css" rel="stylesheet" /><!--ignore-->
    <!--通栏样式-->
    <link href="//css.40017.cn/cn/v/2015/index2016/slidertoolbar.07044.css" rel="stylesheet">
    <script type="text/javascript" src="//js.40017.cn/cn/min/??/cn/public/fish.1.4.7.js,/cn/public/fc.1.1.7.js?v=2015021101"></script><!--ignore-->
    <script type="text/javascript" src="/modules/jquery.js"></script><!--ignore-->
    <style>
        #module-slider .module-slider-header, #module-slider .module-slider-top {
            display: none;
        }
        #module-slider{
            min-height: 274px;
            height: auto;
            bottom: 0;
            top: auto;
        }
        #module-slider .ico.c-4 {
            background-position: -80px -94px;
        }
    </style>
</head>

<body>
    <input type="hidden" id="lineId" {{?it.PostBack && it.PostBack != null}} value="{{=it.PostBack.LineId}}" {{?}}/>
    <input type="hidden" id="hotelIndex" {{?it.PostBack && it.PostBack != null}} value="{{=it.PostBack.HotelIndex}}"{{?}}/>
    <input type="hidden" id="searchType" {{?it.PostBack && it.PostBack != null}} value="{{=it.PostBack.SearchType}}"{{?}}/>
    {{?it.IsCct && it.IsCct == 1}}
        <input type="hidden" id="cctParam" name="cctParam" value='{{=it.CctParam}}'>
    {{?}}
    <!-- 公共头部 start -->
    <div {{?it.IsCct && it.IsCct == 1}}style="display:none;"{{?}}>
        <% includeId = cnwidescreenhead?channel=dujia %>
    </div>
    <!-- 公共头部 end -->
    <div class="wrapper">
        <div id="content">
            <div class="clearfix">
                <div class="title-flow"><span>更换酒店</span>
                    <i class="flow-go">1、筛选酒店</i><i class="flow-back flow-finish">2、点击选择</i><i class="flow-finish">3、更换完成</i>
                </div>
            </div>
            <div class="flight-panel" id="modify_pop1">
                <div class="J_flightList">
                    <div class="J_hotelFilter"></div>
                    <div class="hotelInfo clearfix">
                        <div class="fp-list J_fp-list">
                            <div class="data-loading"><div class="bg"></div><span>请稍候,酒店信息正在加载中...</span></div>
                        </div>
                        <div id="hotelMap">
                            <h2>
                                <span id="followFloat" class="font-orange J_follow"><label class="ImageIcon"></label>跟随浮动</span>
                            </h2>
                            <div class="mapFrame">
                                <div id="myMapTip" class="HotelWindowInfo"></div>
                                <div id="MyMap"></div>
                            </div>
                        </div>
                    </div>
                    <div id="J_hotelPager"></div>
                </div>
            </div>
        </div>
        <form id="hotelForm" action="" method ="post" redirectType="Temporary" type="Redirect">
            <input type="hidden" name="productParam" id="productParam" value=''>
            {{?it.IsCct && it.IsCct == 1}}
                <input type="hidden" name="CctParam" id="fromCctParam" value=''>
            {{?}}
        </form>
    </div>
    <div class="maoBox-bg none"></div>
    <div class="mapBox none">
        <div class="mapBox-title clearfix">
            <span>交通地图</span>
            <i>X</i>
        </div>
        <div id="map">
            <div class='data-loading'><div class='bg'></div><span>请稍候，正在为您查询中</span></div>
        </div>
    </div>
    <!-- 公共页脚 开始 -->
    <div {{?it.IsCct && it.IsCct == 1}}style="display:none;"{{?}}>
        <% includeId = cnwidescreenfoot?vrcode=10002-2006-0 %>
    </div>
    <!-- 公共页脚 结束 -->
    <script src="//js.40017.cn/cn/v/2015/jqmodules/monitor/0.3.0/index.js"></script>
    <script src="/modules/sea.js"></script>
    <script src="//js.40017.cn/cn/min/??/cn/v/2015/jqmodules/dialog/0.0.1/dialog.js" type="text/javascript"></script>
    <script type="text/javascript" src="/modules/common/0.1.0/index.js"></script>
    <script type="text/javascript">
        var product =  {
            "isvalid":{{=it.IsPostBack}},
            "param": {{=JSON.stringify(it.HotelsParam)}},
            "Data": {{=JSON.stringify(it.PostBack)}},
            "SelectHotel": {{=JSON.stringify(it.SelectHotel)}}
        };
    </script>
    <script type="text/javascript">
        seajs.require("./selectHotel").init();
    </script>
    <!-- 统计相关功能 -->
    {{?it.IsCct && it.IsCct == 1}}
    {{??}}
        <% includeId = node_dj_common_stat %>
        <script type="text/javascript">
            window.__stat_aggs__ =[{
                key: 'pc-package-hotelList',
                text: '动态打包酒店列表页'
            }];
            stat.init({
                "_tcHotmapx": {
                    "pid": "800",
                    "sp": "100"
                },
                "vst": [
                    ['_serialid', '0'],
                    ['_vrcode', stat.getVrcode()],
                    ['_refId', stat.getRefid()],
                    ['_userId', stat.getMemberId()],
                    ['_openTime', stat.timeDiff],
                    ['_trackPageview', '/出境/动态打包/酒店列表/']
                ]
            });

        </script><!--ignore-->
    {{?}}
</body>
</html>
