<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" content="同程旅游" />
    <meta name="copyright" content="同程网络科技股份有限公司" />
    <title>同程旅游—酒店预订，特价机票，景点门票，旅游度假，租车服务</title>
    <meta name='keywords' content='酒店预订，特价机票，景点门票，旅游度假，租车服务，同程旅游' />
    <meta name='description' content='同程旅游是一家专业的一站式旅游预订平台，提供20000多家特惠酒店、特价机票、景点门票、旅游度假、租车预订服务；预订产品发表评价可获得10~100元现金券；专业服务、品质保障，让您的旅行更安心！' />
    <meta name="apple-itunes-app" content="app-id=475966832" />
    <meta name="apple-itunes-app" content="app-id=475966832" />
    <link rel="stylesheet" type="text/css" href="//css.40017.cn/cn/c/c/2015/Errorpage.0.0.1.css?v=201509061779"  media="all"/>
  <% includeId = cnwidescreenjscss %>
</head>
<body>
<!-- 公共头部 开始 -->
<% includeId = cnwidescreenhead?channel=dujia %>
<!-- 公共头部 结束 -->

    <div class="nopage">
        <div class="t1"></div>
        <div class="t2">
            <div>
                <p>很抱歉，您查看的页面暂时无法访问</p>

                <span><a target="_self" href="javascript:history.go(-1)">返回上一页</a><a href="/">去首页</a></span>

            </div>
        </div>
        <div class="t3"></div>
    </div>

<span style="display:none;"><!--解析udiyblock异常,blockid:404--></span>

<!-- 公共页脚 开始 -->
<% includeId = cnwidescreenfoot?vrcode=10002-2006-0 %>
<!-- 公共页脚 结束 -->

    <input type="hidden" id="AjaxRequestPath" value="//www.ly.com/AjaxHelper/TopLoginHandler.aspx?channel=Public">
    <input type="hidden" id="TcPmsUniqueKey" value="cncommon404">
    <script type="text/javascript" src="//js.40017.cn/cn/min/??/cn/c/c/2014/qrcodeshow.0.1.js?v=2014080406"></script>
    <script type="text/javascript">
        var _tcq = _tcq || [];
        var _timediff = -1;
        if (typeof _tcopentime != "undefined") {
            _timediff = new Date().getTime() - _tcopentime;
        }
        _tcq.push(['_serialid', '']);
        _tcq.push(['_vrcode', '10002-2000-0']);
        _tcq.push(['_refId', getRefid()]);
        _tcq.push(['_userId', fish.getNmemberId()]);
        _tcq.push(['_openTime', _timediff]);
        _tcq.push(['_trackPageview', '/公共/404/']);
        _tcq.push(['_resId', fish.getProId()]);         _tcq.push(['_qdid',getQdid()]);        window._tcq = _tcq;
        window._timediff = _timediff;
        (function () {
            var vst = document.createElement('script');
            vst.type = 'text/javascript';
            vst.async = true;
            vst.src = "http://vstlog.17usoft.com/vst.ashx";
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(vst, s);
        })();
        dumpRefid();
    </script>
</body>
</html>
