<div id="portal-block-970513751614" class="udiyblock"  type="FootSource">     <div style="display:block;">
    <div id="footer">
        <!--反馈 start-->
        <div class="suggest_box" style="display:none;">
            <div>
                <p>请留下你对同程的意见或建议，感谢！</p> <a class="close_ico" href="javascript:;"></a>
                <div class="clearfix"></div>
                <p><span class="clearfix helptip">（如果有个人问题需要解决，请使用<a target="_blank" href="http://www.ly.com/newhelp/MyAdvice.aspx">人工申诉</a>或拨打4007-777-777）</span></p>
                <div class="user_content">
                    <textarea name="advice_content" maxlength="200" id="advice_content"></textarea>
                    <span>还可输入 <em id="wordCount">200</em>个字！</span>
                </div>
                <p><a id="submitSug" class="" href="javascript:void(0)">提 交</a></p>
            </div>
        </div>
        <div class="s_tip_box" style="display: none">
            <div class="s_tip_content">
                <a href="javascript:;"></a>
                <div class="tip_word">
                    <span></span>
                    <p id="WrapMess">感谢您的反馈，我们会努力做得更好！</p>
                    <a id="submitAdv" href="javascript:;">确 定</a>
                </div>
            </div>
        </div>
        <!--反馈 end-->
        <ul class="clearfix">
            <!-- 反馈 -->
            <li>
                <dl class="clearfix question_icon">
                    <dt></dt>
                    <dd>意见反馈</dd>
                </dl>
                <dl class="clearfix tel24">
                    <dt></dt>
                    <dd><p>24小时服务热线</p><p>4007-777-777</p></dd>
                </dl>
            </li>
            <!-- 关于同程 -->
            <li>
                <ul class="tcAboat">
                    <li>
                        <h2>关于同程</h2>
                    </li>
                    <li>
                        <a target="_blank" title="同程简介" href="http://www.ly.com/about/about17u/intro.html" rel="nofollow">同程简介</a>
                    </li>
                    <li>
                        <a target="_blank" title="可信网站" href="https://ss.knet.cn/verifyseal.dll?sn=2010112300100002970&amp;ct=df&amp;pa=036218" rel="nofollow">可信网站</a>
                    </li>
                    <li>
                        <a target="_blank" title="法律声明" href="http://www.17u.com/About17U/law.asp" rel="nofollow">法律声明</a>
                    </li>
                    <li>
                        <a target="_blank" title="网站地图" href="http://www.ly.com/CnSiteMap.aspx">网站地图</a>
                    </li>
                </ul>
            </li>
            <!-- 加盟 -->
            <li>
                <ul class="joinTc">
                    <li>
                        <h2>加盟合作</h2>
                    </li>
                    <li>
                        <a target="_blank" title="商务合作" href="http://www.ly.com/subject/jiudianjiameng.aspx" rel="nofollow">商务合作</a>
                    </li>
                    <li>
                        <a target="_blank" title="网站联盟" href="http://union.ly.com/" rel="nofollow">网站联盟</a>
                    </li>
                    <li>
                        <a target="_blank" title="友情链接" href="http://www.ly.com/FriendlyLink.aspx" rel="nofollow">友情链接</a>
                    </li>
                    <li class="bor_non">
                        <a target="_blank" title="旅游度假租车业务资质" href="http://www.ly.com/subject/zizhi/" rel="nofollow">业务资质</a>
                    </li>
                </ul>
            </li>
            <!-- 联系我们 -->
            <li>
                <ul class="contactTc">
                    <li>
                        <h2>联系我们</h2>
                    </li>
                    <li class="contactTcLi">
                        <a target="_blank" title="联系我们" href="http://www.ly.com/about/about17u/contactus.html" rel="nofollow">联系我们</a>
                    </li>
                    <li class="contactTcLi">
                        <a target="_blank" title="投诉建议" href="http://www.ly.com/newhelp/MyAdvice.aspx" class="specialList" rel="nofollow">投诉建议</a>
                    </li>
                    <li class="contactTcLi">
                        <a target="_blank" title="诚聘英才" href="http://job.ly.com/" rel="nofollow">诚聘英才</a>
                    </li>
                </ul>
            </li>
            <!-- 旗下网站 -->
            <li>
                <ul class="tcWebSite">
                    <li>
                        <h2>同程旗下网站</h2>
                    </li>
                    <li>
                        <a target="_blank" class="tcWebCn" title="同程旅游 www.LY.com" href="http://www.LY.com/" rel="nofollow"></a>
                    </li>
                    <li>
                        <a target="_blank" class="tcWebCom" title="一起游 WWW.17U.COM" href="http://www.17u.com/" rel="nofollow"></a>
                    </li>
                    <li>
                        <a target="_blank" class="tcWebNet" title="旅交汇 WWW.17U.NET" href="http://www.17u.net/" rel="nofollow"></a>
                    </li>
                </ul>
            </li>
            <li>
                <h2>同程旅游app</h2>
                <img src="http://img1.40017.cn/cn/c/home/common/ewm1.png" style="margin-top:10px;" />
            </li>
        </ul>
        <div id="contactUs">
            <ul>
                <li>服务热线：<em>4007-777-777</em></li>
                <li>转1：已有订单处理</li>
                <li>转2：预订 机票转<em>1</em> 景点/玩乐/电影票转<em>2</em> 酒店转<em>3</em> 周边游转<em>4</em> 国内长线游转<em>5</em> 出境转<em>6</em>
                    邮轮转<em>7</em> 火车票/汽车票转<em>8</em> 投诉转<em>9</em></li>
            </ul>
        </div>
        <div class="udiy" id="flink"></div>
    </div>
</div>
    <input type="hidden" id="AjaxRequestPath" value="http://www.ly.com/AjaxHelper/TopLoginHandler.aspx?channel=Holiday">
    <input type="hidden" id="TcPmsUniqueKey" value="razorcndujiapclabel">
    <script type="text/javascript" src="http://js.40017.cn/cn/c/c/2016/common.0.1.5.js?v=2016030401"></script>
    <script type="text/javascript">
        var _tcq = _tcq || [];
        var _timediff = -1;
        if (typeof _tcopentime != "undefined")
        { _timediff = new Date().getTime() - _tcopentime; }
        _tcq.push(['_serialid', '0']);
        _tcq.push(['_vrcode', '']);
        _tcq.push(['_refId', getRefid()]);
        _tcq.push(['_userId', fish.getNmemberId()]);
        _tcq.push(['_openTime', _timediff]);
        _tcq.push(['_trackPageview', '']);
        _tcq.push(['_resId', fish.getProId()]);         _tcq.push(['_qdid',getQdid()]);    </script>
    <script type='text/javascript' src=" http://vstlog.17usoft.com/vst.ashx" charset="utf-8"></script>
    <div style="display:none;">Holiday</div>
</div>