<div id="header" type="cnwidescreenhead" trace="header1">
    <div id="portal-block-161154631723" class="udiyblock"  type="HeadSource"> <div style="display:none;" id="channel">holiday</div>
        <div class="commonhead" style="display:block;">
            <span id="bulletin"></span>
            <div id="topNavWrapper">
                <div id="topNavPanel">
                    <div id="topLogin">
                        <span>您好，欢迎使用LY.com访问同程！</span>
                        <a class="login" rel="nofollow" href="https://passport.ly.com/" onclick="this.href = this.href + '?pageurl=' + encodeURIComponent(window.location);_tcTraObj._tcTrackEvent('pcIndex', 'txt', '/header','|*|no:sys|*|locCity:|*|txt:登录|*|type:2000|*|resID:|*|');">登录</a>
                        <a class="register" rel="nofollow" href="https://passport.ly.com/register/index/" onclick="this.href = this.href + '?pageurl=' + encodeURIComponent(window.location.href);_tcTraObj._tcTrackEvent('pcIndex', 'txt', '/header','|*|no:sys|*|locCity:|*|txt:注册|*|type:2000|*|resID:|*|');">注册</a>
                    </div>
                    <ul id="topNav">
                        <li id="topMyTc">
                            <a href="http://member.ly.com/">我的同程<i></i></a>
                            <div  data-height="115px">
                                <a rel="nofollow" href="http://member.ly.com/orderlist.aspx">我的订单</a>
                                <i></i>
                                <a rel="nofollow" href="http://member.ly.com/Member/MyFavorites.aspx">我的收藏</a>
                                <a rel="nofollow" href="http://member.ly.com/Member/MemberInfomation.aspx">我的信息</a>
                                <a rel="nofollow" href="http://www.ly.com/vip/rights/">会员专享</a>
                            </div>
                            <span></span>
                        </li>
                        <li id="mobileTc">
                            <a href="http://shouji.17u.cn/"><em></em>手机同程<i></i></a>
                            <div>
                                <p>扫码下载</p>
                                <a href="http://shouji.17u.cn/">
                                    <img src="http://img1.40017.cn/cn/c/home/common/top_mobile_ewm.png" />
                                </a>
                            </div>
                            <span></span>
                        </li>
                        <li id="weixinTc">
                            <a href="javascript:void(0);">微信<i></i></a>
                            <div></div>
                            <span></span>
                        </li>
                        <li id="tcPhone">
                            <a href="javascript:void(0);">电话<i></i></a>
                            <div>
                                <p>国内电话：4007-777-777</p>
                                <p>海外电话：+86-512-8220-9000</p>
                            </div>
                            <span></span>
                        </li>
                        <li id="servicePhone">
                            <a href="javascript:void(0);" rel="nofollow">
                                客户服务
                                <i></i>
                            </a>
                            <div>
                                <a target="_blank" href="http://www.ly.com/newhelp/" rel="nofollow">帮助中心</a>
                                <a target="_blank" href="http://www.ly.com/newhelp/CustomerService.html" rel="nofollow">在线客服</a>
                                <a target="_blank" href="http://www.ly.com/newhelp/MyAdvice.aspx" rel="nofollow">人工申诉</a>
                            </div>
                            <span></span>
                        </li>
                    </ul>
                </div>
            </div>

            <div id="headerWrapper">
                <div id="pageheader" class="clearfix">
                    <div class="logo_style">
                        <div class="logo" title="同程旅游">
                            <a href="http://www.ly.com/" title="同程旅游">
                                <img src="http://img1.40017.cn/cn/c/c/2015/2015129100342.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="rightpic">
                        <i></i>
                        <a target="_blank" href="http://www.ly.com/zhuanti/tclvyoujie?PC2">
                            <img src="http://pic4.40017.cn/index/slide/2016/03/30/11/TLcMBx.jpg" alt="跑男">
                        </a>
                    </div>
                </div>
            </div>

            <div id="menuNavOuter">
                <div id="menuNavWrapper">
                    <div id="menuNavPanel">
                        <ul id="menuNav">
                            <li >
                                <a href="http://www.ly.com/" onclick="_tcTraObj._tcTrackEvent('pcIndex', 'txt', '/navigation','|*|no:sys|*|locCity:|*|txt:首页|*|type:2000|*|resID:|*|');">首页</a>
                            </li>
                            <li class="current">
                                <a href="http://www.ly.com/dujia/" onclick="_tcTraObj._tcTrackEvent('pcIndex', 'txt', '/navigation','|*|no:sys|*|locCity:|*|txt:出境游|*|type:2006|*|resID:|*|');">
                                    出境游
                                    <i></i>
                                </a>
                                <div class="submenu-nav">
                                    <a class="dujia-submenu1" href="http://www.ly.com/dujia/" onclick="_tcTraObj._tcTrackEvent('pcIndex', 'txt', '/navigation/出境游','|*|no:sys|*|locCity:|*|txt:出境首页|*|type:2006|*|resID:|*|');">出境首页</a>
                                    <a href="http://www.ly.com/dujia/group/" id="group" mname="group" onclick="_tcTraObj._tcTrackEvent('pcIndex', 'txt', '/navigation/出境游','|*|no:sys|*|locCity:|*|txt:跟团游|*|type:2006|*|resID:|*|');">跟团游</a>
                                    <a href="http://www.ly.com/dujia/freetour/" id="freetour" mname="freetour" onclick="_tcTraObj._tcTrackEvent('pcIndex', 'txt', '/navigation/出境游','|*|no:sys|*|locCity:|*|txt:自由行|*|type:2006|*|resID:|*|');">自由行</a>
                                    <a href="http://www.ly.com/dujia/theme/" mname="yushou" rel="nofollow" onclick="_tcTraObj._tcTrackEvent('pcIndex', 'txt', '/navigation/出境游','|*|no:sys|*|locCity:|*|txt:主题游|*|type:2006|*|resID:|*|');">主题游
                                        <em style="right: -15px;background-color: #ff6535;">特色玩法<i style="border-top: 6px solid #ff6535;"></i></em>
                                    </a>
                                    <a href="http://www.ly.com/dujia/visa/" id="visa" mname="visa" onclick="_tcTraObj._tcTrackEvent('pcIndex', 'txt', '/navigation/出境游','|*|no:sys|*|locCity:|*|txt:签证|*|type:2006|*|resID:|*|');">签证</a>
                                    <a href="http://www.ly.com/dujia/wanle/" rel="nofollow" onclick="_tcTraObj._tcTrackEvent('pcIndex', 'txt', '/navigation/出境游','|*|no:sys|*|locCity:|*|txt:玩乐WIFI|*|type:2006|*|resID:|*|');">玩乐WIFI
                                    </a>
                                    <a href="http://www.ly.com/globalscenery/" rel="nofollow" onclick="_tcTraObj._tcTrackEvent('pcIndex', 'txt', '/navigation/出境游','|*|no:sys|*|locCity:|*|txt:海外门票|*|type:2006|*|resID:|*|');">海外门票</a>
                                    <a href="http://www.ly.com/dujia/temai/" mname="temai" rel="nofollow" onclick="_tcTraObj._tcTrackEvent('pcIndex', 'txt', '/navigation/出境游','|*|no:sys|*|locCity:|*|txt:出境特卖|*|type:2006|*|resID:|*|');">出境特卖

                                    </a>

                                    <a href="http://www.ly.com/dujia/schedule.html" mname="schedule" rel="nofollow" onclick="_tcTraObj._tcTrackEvent('pcIndex', 'txt', '/navigation/出境游','|*|no:sys|*|locCity:|*|txt:出境定制|*|type:2006|*|resID:|*|');">出境定制</a>
                                    <a class="menuorder" href="http://member.ly.com/orderlist.aspx" rel="nofollow">
                                        我的订单
                                        <i>&gt;&gt;</i>
                                    </a>
                                </div>
                            </li>
                            <li >
                                <a href="http://www.ly.com/youlun/" onclick="_tcTraObj._tcTrackEvent('pcIndex', 'txt', '/navigation','|*|no:sys|*|locCity:|*|txt:邮轮|*|type:2007|*|resID:|*|');">
                                    邮轮
                                    <i></i>
                                </a>
                                <div class="submenu-nav">
                                    <a class="youlun-submenu1" href="http://www.ly.com/youlun/" onclick="_tcTraObj._tcTrackEvent('pcIndex', 'txt', '/navigation/邮轮','|*|no:sys|*|locCity:|*|txt:邮轮首页|*|type:2007|*|resID:|*|');">邮轮首页</a>
                                    <a href="http://www.ly.com/youlun/yuanyang/" mname="yuanyang" rel="nofollow" onclick="_tcTraObj._tcTrackEvent('pcIndex', 'txt', '/navigation/邮轮','|*|no:sys|*|locCity:|*|txt:远洋航线|*|type:2007|*|resID:|*|');">远洋航线</a>
                                    <a href="http://www.ly.com/youlun/guonei/" onclick="_tcTraObj._tcTrackEvent('pcIndex', 'txt', '/navigation/邮轮','|*|no:sys|*|locCity:|*|txt:国内航线|*|type:2007|*|resID:|*|');">国内航线</a>
                                    <a href="http://www.ly.com/youlun/Antarctic/" mname="baochuan" rel="nofollow" onclick="_tcTraObj._tcTrackEvent('pcIndex', 'txt', '/navigation/邮轮','|*|no:sys|*|locCity:|*|txt:畅游南极|*|type:2007|*|resID:|*|');">畅游南极

                                    </a>
                                    <a href="http://www.ly.com/youlun/temai/" rel="nofollow" onclick="_tcTraObj._tcTrackEvent('pcIndex', 'txt', '/navigation/邮轮','|*|no:sys|*|locCity:|*|txt:邮轮特卖|*|type:2007|*|resID:|*|');">邮轮特卖
                                        <em style="right: -15px;background-color: #ff6535;">精选特惠<i style="border-top: 6px solid #ff6535;"></i></em></a>
                                    <a href="http://www.ly.com/youlun/gonglve/" onclick="_tcTraObj._tcTrackEvent('pcIndex', 'txt', '/navigation/邮轮','|*|no:sys|*|locCity:|*|txt:邮轮宝典|*|type:2007|*|resID:|*|');">邮轮宝典
                                    </a>
                                    <a class="menuorder" href="http://member.ly.com/orderlist.aspx" rel="nofollow">
                                        我的订单
                                        <i>&gt;&gt;</i>
                                    </a>
                                </div>
                            </li>
                            <li >
                                <a href="http://gny.ly.com/" onclick="_tcTraObj._tcTrackEvent('pcIndex', 'txt', '/navigation','|*|no:sys|*|locCity:|*|txt:国内游|*|type:2011|*|resID:|*|');">国内游 <i></i></a>
                                <div class="submenu-nav">
                                    <a class="guonei-submenu1" href="http://gny.ly.com/" onclick="_tcTraObj._tcTrackEvent('pcIndex', 'txt', '/navigation/国内游','|*|no:sys|*|locCity:|*|txt:国内游首页|*|type:2011|*|resID:|*|');">国内游首页</a>
                                    <a href="http://gny.ly.com/temai/" onclick="_tcTraObj._tcTrackEvent('pcIndex', 'txt', '/navigation/国内游','|*|no:sys|*|locCity:|*|txt:国内游特卖|*|type:2011|*|resID:|*|');">国内游特卖</a>
                                    <a href="http://gny.ly.com/TeamCustomization/" onclick="_tcTraObj._tcTrackEvent('pcIndex', 'txt', '/navigation/国内游','|*|no:sys|*|locCity:|*|txt:包团定制|*|type:2011|*|resID:|*|');">包团定制</a>
                                    <a href="http://gny.ly.com/TcSpecialLine/index?refid=154358435" target="_blank" onclick="_tcTraObj._tcTrackEvent('pcIndex', 'txt', '/navigation/国内游','|*|no:sys|*|locCity:|*|txt:同程专线|*|type:2011|*|resID:|*|');">同程专线</a>
                                    <a class="menuorder" href="http://member.ly.com/orderlist.aspx" rel="nofollow">
                                        我的订单
                                        <i>&gt;&gt;</i>
                                    </a>
                                </div>
                            </li>
                            <li >
                                <a href="http://zby.ly.com/zizhuyou/" onclick="_tcTraObj._tcTrackEvent('pcIndex', 'txt', '/navigation','|*|no:sys|*|locCity:|*|txt:周边游|*|type:2014|*|resID:|*|');">
                                    周边游
                                    <i></i>
                                </a>
                                <div class="submenu-nav">
                                    <a class="zmy-submenu1" href="http://zby.ly.com/zizhuyou/" onclick="_tcTraObj._tcTrackEvent('pcIndex', 'txt', '/navigation/周边游','|*|no:sys|*|locCity:|*|txt:酒店+景点|*|type:2014|*|resID:|*|');">酒店+景点</a>

                                    <a href="http://zby.ly.com/zizhuyou/temai/" mname="temai" rel="nofollow" onclick="_tcTraObj._tcTrackEvent('pcIndex', 'txt', '/navigation/周边游','|*|no:sys|*|locCity:|*|txt:周边特卖|*|type:2014|*|resID:|*|');">周边特卖
                                        <em style="right: -15px;background-color: #ff6535;">特价疯抢<i style="border-top: 6px solid #ff6535;"></i></em>
                                    </a>
                                    <a href="http://www.ly.com/bustour/" mname="bustour" rel="nofollow" onclick="_tcTraObj._tcTrackEvent('pcIndex', 'txt', '/navigation/周边游','|*|no:sys|*|locCity:|*|txt:周边跟团游|*|type:2014|*|resID:|*|');">周边跟团游
                                    </a>
                                    <a href="http://zby.ly.com/zizhuyou/qinzi/" mname="qinzi" onclick="_tcTraObj._tcTrackEvent('pcIndex', 'txt', '/navigation/周边游','|*|no:sys|*|locCity:|*|txt:周边亲子|*|type:2014|*|resID:|*|');">周边亲子
                                        <em style="right: -15px;background-color: #ff6535;">定制活动<i style="border-top: 6px solid #ff6535;"></i></em>
                                    </a>
                                    <a href="http://www.ly.com/bustour/ThemePlay.html" rel="=nofollow" onclick="_tcTraObj._tcTrackEvent('pcIndex', 'txt', '/navigation/周边游','|*|no:sys|*|locCity:|*|txt:快乐大巴|*|type:2014|*|resID:|*|');">快乐大巴</a>
                                    <a href="http://zby.ly.com/zizhuyou/kezhan/"mname="kezhan" rel="nofollow" onclick="_tcTraObj._tcTrackEvent('pcIndex', 'txt', '/navigation/周边游','|*|no:sys|*|locCity:|*|txt:客栈民宿|*|type:2014|*|resID:|*|');">客栈民宿</a>
                                    <a href="http://zby.ly.com/zizhuyou/fangche/"mname="fangche" rel="nofollow" onclick="_tcTraObj._tcTrackEvent('pcIndex', 'txt', '/navigation/周边游','|*|no:sys|*|locCity:|*|txt:房车露营|*|type:2014|*|resID:|*|');">房车露营</a>
                                    <a href="http://www.ly.com/scenery/chwl/" mname="njl" rel="nofollow" onclick="_tcTraObj._tcTrackEvent('pcIndex', 'txt', '/navigation/周边游','|*|no:sys|*|locCity:|*|txt:当地玩乐|*|type:2014|*|resID:|*|');">当地玩乐</a>

                                    <a href="http://www.ly.com/bustour/DIYGroup.html" mname="DIYGroup" rel="nofollow" onclick="_tcTraObj._tcTrackEvent('pcIndex', 'txt', '/navigation/周边游','|*|no:sys|*|locCity:|*|txt:包团定制|*|type:2014|*|resID:|*|');">包团定制</a>
                                    <a class="menuorder" href="http://member.ly.com/orderlist.aspx" rel="nofollow">
                                        我的订单
                                        <i>&gt;&gt;</i>
                                    </a>
                                </div>
                            </li>
                            <li >
                                <p><em style="right: -15px;background-color: #ff6535;">迪士尼<i style="border-top: 6px solid #ff6535;"></i></em></p>
                                <a href="http://www.ly.com/scenery/" onclick="_tcTraObj._tcTrackEvent('pcIndex', 'txt', '/navigation','|*|no:sys|*|locCity:|*|txt:景点|*|type:2003|*|resID:|*|');">
                                    景点
                                    <i></i>
                                </a>
                                <div class="submenu-nav">
                                    <a class="scenery-submenu1" href="http://www.ly.com/scenery/" onclick="_tcTraObj._tcTrackEvent('pcIndex', 'txt', '/navigation/景点','|*|no:sys|*|locCity:|*|txt:国内景点|*|type:2003|*|resID:|*|');">国内景点</a>
                                    <a href="http://www.ly.com/dujia/wanle/" mname="globalscenery" onclick="_tcTraObj._tcTrackEvent('pcIndex', 'txt', '/navigation/景点','|*|no:sys|*|locCity:|*|txt:海外玩乐|*|type:2003|*|resID:|*|');">海外玩乐</a>
                                    <a href="http://www.ly.com/globalscenery/" mname="gangaotai" onclick="_tcTraObj._tcTrackEvent('pcIndex', 'txt', '/navigation/景点','|*|no:sys|*|locCity:|*|txt:海外门票|*|type:2003|*|resID:|*|');">海外门票</a>
                                    <a href="http://www.ly.com/bustour/" mname="bustour" rel="nofollow" onclick="_tcTraObj._tcTrackEvent('pcIndex', 'txt', '/navigation/景点','|*|no:sys|*|locCity:|*|txt:周边跟团游|*|type:2003|*|resID:|*|');">周边跟团游

                                    </a>
                                    <a href="http://www.ly.com/scenery/chwl/" mname="chwl" onclick="_tcTraObj._tcTrackEvent('pcIndex', 'txt', '/navigation/景点','|*|no:sys|*|locCity:|*|txt:当地玩乐|*|type:2003|*|resID:|*|');">当地玩乐</a>

                                    <a href="http://www.ly.com/activity/" mname="activity" rel="nofollow" onclick="_tcTraObj._tcTrackEvent('pcIndex', 'txt', '/navigation/景点','|*|no:sys|*|locCity:|*|txt:景点活动|*|type:2003|*|resID:|*|');">景点活动</a>
                                    <a href="http://www.ly.com/bustour/DIYGroup.html" mname="DIYGroup" rel="nofollow" onclick="_tcTraObj._tcTrackEvent('pcIndex', 'txt', '/navigation/景点','|*|no:sys|*|locCity:|*|txt:包团定制|*|type:2003|*|resID:|*|');">包团定制</a>
                                    <a class="menuorder" href="http://member.ly.com/orderlist.aspx" rel="nofollow">
                                        我的订单
                                        <i>&gt;&gt;</i>
                                    </a>
                                </div>
                            </li>
                            <li >
                                <a href="http://www.ly.com/hotel/" onclick="_tcTraObj._tcTrackEvent('pcIndex', 'txt', '/navigation','|*|no:sys|*|locCity:|*|txt:酒店|*|type:2001|*|resID:|*|');">
                                    酒店
                                    <i></i>
                                </a>
                                <div class="submenu-nav">
                                    <a class="hotel-submenu1" href="http://www.ly.com/hotel/" onclick="_tcTraObj._tcTrackEvent('pcIndex', 'txt', '/navigation/酒店','|*|no:sys|*|locCity:|*|txt:国内酒店|*|type:2001|*|resID:|*|');">国内酒店</a>
                                    <a href="http://tuan.ly.com/" onclick="_tcTraObj._tcTrackEvent('pcIndex', 'txt', '/navigation/酒店','|*|no:sys|*|locCity:|*|txt:团购酒店|*|type:2001|*|resID:|*|');">团购酒店</a>
                                    <a href="http://zby.ly.com/zizhuyou/kezhan/" onclick="_tcTraObj._tcTrackEvent('pcIndex', 'txt', '/navigation/酒店','|*|no:sys|*|locCity:|*|txt:客栈民宿|*|type:2001|*|resID:|*|');">客栈民宿</a>
                                    <a href="http://zby.ly.com/zizhuyou/" rel="nofollow" onclick="_tcTraObj._tcTrackEvent('pcIndex', 'txt', '/navigation/酒店','|*|no:sys|*|locCity:|*|txt:酒店+景点|*|type:2001|*|resID:|*|');">酒店+景点</a>
                                    <a href="http://www.ly.com/gangaohotel/" mname="gangaohotel" onclick="_tcTraObj._tcTrackEvent('pcIndex', 'txt', '/navigation/酒店','|*|no:sys|*|locCity:|*|txt:港澳台酒店|*|type:2001|*|resID:|*|');">港澳台酒店</a>

                                    <a href="http://www.ly.com/hotel/liansuo/" rel="nofollow" mname="liansuo" onclick="_tcTraObj._tcTrackEvent('pcIndex', 'txt', '/navigation/酒店','|*|no:sys|*|locCity:|*|txt:品牌汇|*|type:2001|*|resID:|*|');">品牌汇</a>
                                    <a class="menuorder" href="http://member.ly.com/orderlist.aspx" rel="nofollow">
                                        我的订单
                                        <i>&gt;&gt;</i>
                                    </a>
                                </div>
                            </li>
                            <li >
                                <a href="http://www.ly.com/FlightQuery.aspx" onclick="_tcTraObj._tcTrackEvent('pcIndex', 'txt', '/navigation','|*|no:sys|*|locCity:|*|txt:机票|*|type:2002|*|resID:|*|');">
                                    机票
                                    <i></i>
                                </a>
                                <div class="submenu-nav">
                                    <a class="flight-submenu1" href="http://www.ly.com/FlightQuery.aspx" onclick="_tcTraObj._tcTrackEvent('pcIndex', 'txt', '/navigation/机票','|*|no:sys|*|locCity:|*|txt:国内机票|*|type:2002|*|resID:|*|');">国内机票</a>
                                    <a href="http://www.ly.com/iflight/" mname="iflight" onclick="_tcTraObj._tcTrackEvent('pcIndex', 'txt', '/navigation/机票','|*|no:sys|*|locCity:|*|txt:国际机票|*|type:2002|*|resID:|*|');">国际机票</a>
                                    <a class="menuorder" href="http://member.ly.com/orderlist.aspx" rel="nofollow">
                                        我的订单
                                        <i>&gt;&gt;</i>
                                    </a>
                                </div>
                            </li>
                            <li >
                                <a href="http://www.ly.com/huochepiao/" onclick="_tcTraObj._tcTrackEvent('pcIndex', 'txt', '/navigation','|*|no:sys|*|locCity:|*|txt:火车票|*|type:2016|*|resID:|*|');">火车票</a>
                            </li>
                            <li >
                                <a href="http://bus.ly.com" onclick="_tcTraObj._tcTrackEvent('pcIndex', 'txt', '/navigation','|*|no:sys|*|locCity:|*|txt:汽车票|*|type:2021|*|resID:|*|');">汽车票</a>
                            </li>
                            <li id="c_nav_JR">                                                    <a href="http://jr.ly.com/" onclick="_tcTraObj._tcTrackEvent('pcIndex', 'txt', '/navigation','|*|no:sys|*|locCity:|*|txt:分期游|*|type:2000|*|resID:|*|');">
                                分期游</a>
                            </li>
                            <li >
                                <p>
                                </p>
                                <a href="http://www.ly.com/zhuanxian/" onclick="_tcTraObj._tcTrackEvent('pcIndex', 'txt', '/navigation','|*|no:sys|*|locCity:|*|txt:同程专线|*|type:2000|*|resID:|*|');">
                                    同程专线
                                    <i></i>
                                </a>
                                <div class="submenu-nav">
                                    <a class="zhuanxian-submenu1" href="http://www.ly.com/zhuanxian/" onclick="_tcTraObj._tcTrackEvent('pcIndex', 'txt', '/navigation/同程专线','|*|no:sys|*|locCity:|*|txt:同程专线|*|type:2000|*|resID:|*|');">同程专线</a>
                                    <a href="http://www.ly.com/customization" onclick="_tcTraObj._tcTrackEvent('pcIndex', 'txt', '/navigation/同程专线','|*|no:sys|*|locCity:|*|txt:定制旅游|*|type:2000|*|resID:|*|');">定制旅游</a>
                                </div>
                            </li>
                            <li >
                                <a href="http://www.ly.com/dujia/visa/" onclick="_tcTraObj._tcTrackEvent('pcIndex', 'txt', '/navigation','|*|no:sys|*|locCity:|*|txt:签证|*|type:2008|*|resID:|*|');">签证</a>
                            </li>
                            <li id="c_nav_finance">                            <a href="http://jr.ly.com/static/ttb" onclick="_tcTraObj._tcTrackEvent('pcIndex', 'txt', '/navigation','|*|no:sys|*|locCity:|*|txt:金融|*|type:2029|*|resID:|*|');">
                                金融
                                <i></i>
                            </a>
                                <div class="submenu-nav">
                                    <a class="jr-submenu1" href="http://jr.ly.com/baitiao" onclick="_tcTraObj._tcTrackEvent('pcIndex', 'txt', '/navigation/金融','|*|no:sys|*|locCity:|*|txt:程程白条|*|type:2029|*|resID:|*|');">程程白条</a>
                                    <a href="http://jr.ly.com/static/ttb" mname="ttb" onclick="_tcTraObj._tcTrackEvent('pcIndex', 'txt', '/navigation/金融','|*|no:sys|*|locCity:|*|txt:同同宝|*|type:2029|*|resID:|*|');">同同宝</a>
                                    <a href="http://www.LY.com/Card/" mname="cardindex" class="cardindex" onclick="_tcTraObj._tcTrackEvent('pcIndex', 'txt', '/navigation/金融','|*|no:sys|*|locCity:|*|txt:同程旅游卡|*|type:2029|*|resID:|*|');">同程旅游卡
                                        <img style="width: 23px;
                                                            height: 10px;
                                                            position: absolute;
                                                            top: 7px;
                                                            right: 1px;"
                                             src="http://img1.40017.cn/cn/c/home/2015/new.gif" />
                                    </a>
                                </div>
                            </li>
                            <li >
                                <a href="http://go.ly.com/" onclick="_tcTraObj._tcTrackEvent('pcIndex', 'txt', '/navigation','|*|no:sys|*|locCity:|*|txt:攻略|*|type:2022|*|resID:|*|');">
                                    攻略
                                    <i></i>
                                </a>
                                <div class="submenu-nav">
                                    <a class="gl-submenu1" href="http://go.ly.com/" onclick="_tcTraObj._tcTrackEvent('pcIndex', 'txt', '/navigation/攻略','|*|no:sys|*|locCity:|*|txt:攻略社区|*|type:2022|*|resID:|*|');">攻略社区</a>
                                    <a href="http://go.ly.com/gonglve/" mname="gonglve" onclick="_tcTraObj._tcTrackEvent('pcIndex', 'txt', '/navigation/攻略','|*|no:sys|*|locCity:|*|txt:国内目的地|*|type:2022|*|resID:|*|');">国内目的地</a>
                                    <a href="http://go.ly.com/abroad/" mname="abroad" onclick="_tcTraObj._tcTrackEvent('pcIndex', 'txt', '/navigation/攻略','|*|no:sys|*|locCity:|*|txt:境外目的地|*|type:2022|*|resID:|*|');">境外目的地</a>
                                    <a href="http://go.ly.com/youji/" mname="youji" onclick="_tcTraObj._tcTrackEvent('pcIndex', 'txt', '/navigation/攻略','|*|no:sys|*|locCity:|*|txt:游记|*|type:2022|*|resID:|*|');">游记</a>
                                    <a href="http://go.ly.com/user/" mname="user" rel="nofollow" onclick="_tcTraObj._tcTrackEvent('pcIndex', 'txt', '/navigation/攻略','|*|no:sys|*|locCity:|*|txt:个人主页|*|type:2022|*|resID:|*|');">个人主页</a>
                                    <a class="menuorder" href="http://go.ly.com/youji/edit/" rel="nofollow">
                                        写游记
                                        <i>&gt;&gt;</i>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="scdHeaderMenu"></div>
            </div>
            <div style="display:none;" id="testcache" value="1111111" ></div>
        </div>
    </div>
</div>