/*from tccdn minify at 2015-8-21 9:09:14,file：/touch/public/autoComplete/0.0.1/autoComplete.css*/
@import  url("/styles/mixins/b.search.less");
@rem : 24rem;
.sug {
    //position: absolute;
    font: 12px/24px SimSun;
    width: 100%;
    //height: 1700px;
    //display: none;
    //margin-top: 84/@rem;
    left: 0;
    overflow: hidden;
    -webkit-box-shadow:inset 0 0px 1px 0px #efeff4;
    background-color: rgba(0,0,0,.6);
}
.sug-list{
    background: #efeff4;
    top: 30px
    width: 100%;
    -webkit-box-shadow:inset 0 0px 1px 0px #bcbcbc;
    .sug-item{
        height: 88/@rem;
        line-height: 88/@rem;
        font-size: 28/@rem;
        -webkit-box-shadow:inset 0 -1px 1px -1px #bcbcbc;
        padding-left: 35/@rem;
        display: block;
        color: #333;
        background-color: #efeff4;
    }
}
