<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>澳星移民局</title>
    <meta name="description" content="同程旅游为您提供特惠出境游！更多美国、澳大利亚路线，更低出境游价格尽在同程旅游。">
    <meta name="keywords" content="同程出境旅游，同程秋冬旅游，美国旅游">
    <% includeId = cnztjscss %>
    <link rel="stylesheet" href="//css.40017.cn/cn/c/zt/2015/common/common.0.0.5.css?v=2015121102"/>
    <link rel="stylesheet" href="index.less">
</head>
<body>
<!-- 公共头部 start-->
<% includeId = cnzthead %>
<!-- 公共头部 end-->

<div class="container clearfix">
    <div class="banner">
        <div class="top1"></div>
        <div class="top2"></div>
        <div class="top3"></div>
        <div class="top4"></div>

    </div>
    <div class="main">
        <div class="mgPro publicBox J_NavBox clearfix">
            <div class="prolist1 J_ProList mg_1" data-filter="CycleId=4278&DedicatLine=爆款" data-tmpl="#tmpl1"></div>
            <div class="prolist2 mg_2">
                <div class="proSmall">
                    <div class="proLi J_ProList" data-filter="CycleId=4278" data-tmpl="#tmpl2">

                    </div>
                </div>
            </div>
        </div>
        <div class="azPro publicBox J_NavBox clearfix">
            <div class="prolist1 J_ProList az_1" data-filter="CycleId=4279&DedicatLine=爆款" data-tmpl="#tmpl1"></div>
            <div class="prolist2 az_2">
                <div class="proSmall">
                    <div class="proLi J_ProList" data-filter="CycleId=4279" data-tmpl="#tmpl2">

                    </div>
                </div>
            </div>
        </div>
        <div class="foot" style="font-family:Arial"> <p> Copyright © 2002-2016 同程网络科技股份有限公司 版权所有 </p> </div>
    </div>
</div>

<input type="hidden" id="RefUrl" value="" />
<input type="hidden" id="AjaxRequestPath" value="//www.ly.com/AjaxHelper/TopLoginHandler.aspx?channel=ChuJingTravel">

<script id="tmpl1" type="text/plain">
    {{~it:value:index}}
    {{
        var LineType ="";
        if(value.LineType==0)
         {LineType ="跟团游";}
        else
         { LineType ="自由行";}
        var sImgUrl=Activity.setImageSize(value.ImgUrl, "400x300");
    }}
    {{
        var groupLen = value.StartDateList.length;
        var groupOne = value.StartDateList[0].split("-");
        var groupTwo = value.StartDateList[groupLen-1].split("-");
        var groupStart = groupOne[0]+"."+groupOne[1];
        var groupEnd = groupTwo[0]+"."+groupTwo[1];
        var subTitle = value.SubTitle;
        if(subTitle.length > 40){
        subTitle = subTitle.substring(0,40)+"...";
        }
    }}
        <div class="hotBox">
            <a {{=Activity.tmplProAttr(value)}}>
                <div class="hotPro">
                    <img title="{{=value.MainTitle}}" alt="{{=value.MainTitle}}" data-img="{{=sImgUrl.replace('http:','')}}">
                    <div class="proBox">
                        <div class="proType">{{=value.DepartCity}}出发/{{=LineType}}/团期:{{=groupStart}}-{{=groupEnd}}</div>
                        <div class="mainTitle">{{=value.MainTitle}}</div>
                        <div class="subTitle">{{=subTitle}}</div>
                        <div class="price">{{=value.Preferential}}</div>
                    </div>
                </div>
            </a>
        </div>
    {{~}}
</script>
<script id="tmpl2" type="text/plain">
    {{~it:value:index}}
    {{
        var LineType ="";
        if(value.LineType==0)
         {LineType ="跟团游";}
        else
         { LineType ="自由行";}
        var sImgUrl=Activity.setImageSize(value.ImgUrl, "400x300");
        var subTitle = value.SubTitle;
        if(subTitle.length > 30){
        subTitle = subTitle.substring(0,30)+"...";
        }
    }}
        <div class="pro">
            <a {{=Activity.tmplProAttr(value)}}>
                <img title="{{=value.MainTitle}}" alt="{{=value.MainTitle}}" data-img="{{=sImgUrl.replace('http:','')}}">
                <div class="proInfo">
                    <div class="mainTitle">{{=value.MainTitle}}</div>
                    <div class="subTitle">{{=subTitle}}</div>
                    <div class="proType">{{=value.DepartCity}}出发|{{=LineType}}</div>
                    <div class="price">{{=value.Preferential}}</div>
                </div>
            </a>
        </div>
    {{~}}
</script>

<script src="//js.40017.cn/cn/min/???/cn/public/fish.1.4.7.js,/cn/public/fc.1.1.7.js,/cn/v/2015/jqmodules/jquery.js,/cn/v/2015/jqmodules/monitor/0.3.0/index.js,/cn/v/2015/jqmodules/statistics/0.3.0/statistics.js?v=20170119,/cn/v/2015/jqmodules/dot.js,/cn/v/2015/jqmodules/lazyload/0.2.1/index.js"></script><!--ignore-->
<script src="//js.40017.cn/cn/c/zht/common.0.1.0.js?v=2016020311"></script><!--ignore-->
<script src="//js.40017.cn/cn/v/2015/jqmodules/activity/0.3.2/pc/pc.pkg.js?v=20170119"></script><!--ignore-->
<script src="//js.40017.cn/cn/v/2015/jqmodules/sea.js" data-loader="true"></script>

<!-- 专题配置 -->
<script>
    Activity.init({
        param: [{
            "2069": [4278,4279]
        }],
        IsSellOut: 1,
        querytype: 0,
        filter: true,
        el: ".J_ProList",
        beforeRender: function(data) {
            return data;
        },
        afterRender: function (data) {
        }
    });
</script>

<script>
    (function() {
        var pageview = stat.formatPageview('/出境/pc活动页/澳星移民局');
        stat.init({
            "baidu": {
                "parameter": "pc"
            },
            "pvConfig": {
                "PublicPlatId": "1",
                "PageId": "44508",
                "LineId": "0",
                "ActivityId": "2069",
                "ActivityPeriodId": "4278",
                "ModuleId": "0",
                "PVSource": "1",
                "ak": "",
                "url": "//www.ly.com/dujia/AjaxHelper/PvHandler.ashx"
    },
            "vst": [
                ['_serialid', '0'],
                ['_vrcode', '10002-2006-0'],
                ['_refId', stat.getRefid()],
                ['_userId', stat.getMemberId()],
                ['_openTime', stat.timeDiff],
                ['_trackPageview', pageview]
            ]
        });
    })();
</script>

</body>
</html>
