@charset "UTF-8";
@media (min-width: 992px) {
    .skin-blue .modal-lg {
        width: 900px;
    }
}
@media (min-width: 768px) {
    .skin-blue .modal-sm {
        width: 300px;
    }
}
.module-popup {
    width: auto;
    height: auto;
    display: none;
    position: fixed;
    z-index: 1200;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: "Microsoft YaHei", serif;
    .module-popup-panel {
        position: absolute;
        margin: auto;
        display: block;
        border-radius: 2px;
        top: 100px;
        left: 0;
        right: 0;
        &.align-center {
            margin: auto;
            .module-popup-body {
                height: 100%;
            }
        }
        .module-popup-body {
            -moz-background-clip: padding-box;
            -webkit-background-clip: padding-box;
            background-clip: padding-box;
            background-color: #ffffff;
            border: 1px solid #d9dee2;
            border-radius: 2px;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
            outline: 0 none;
            position: relative;
            overflow: hidden;
        }
    }
}
.module-popup-body {
    /****** 标题行开始********/
    /****** 标题行结束********/
    /****** 内容开始********/
    /****** 内容结束********/
    /****** 底部按钮开始********/
    /****** 底部按钮结束********/
    .module-popup-icon {
        width: 3px;
        height: 18px;
        background: #10a3ff;
        position: absolute;
        top: 10px;
        left: 20px;
        display: block;
    }
    .module-popup-title {
        width: 100%;
        height: 50px;
        font-size: 18px;
        line-height: 50px;
        background-color: #f5f5f5;
        font-weight: 700;
        color: #333333;
        padding-left: 20px;
    }
    .close {
        width: 20px;
        height: 20px;
        display: inline-block;
        background-image: url("./images/icon_close.png");
        background-size: cover;
        position: absolute;
        top: 15px;
        right: 10px;
        &:hover {
          background-image: url("./images/icon_close_hover.png");
        }
    }
    .module-popup-content {
        padding: 20px;
        word-wrap: break-word;
        font-size: 14px;
        .icons {
            width: 30px;
            height: 30px;
            display: block;
            margin: 0 auto;
            margin-bottom: 20px;
            &.icon-info {
                background: transparent url("./images/icon-info.png") no-repeat;
            }
            &.icon-warning {
                background: transparent url("./images/icon-warning.png") no-repeat;
            }
            &.icon-success {
                background: transparent url("./images/icon-success.png") no-repeat;
            }
            &.icon-danger {
                background: transparent url("./images/icon-danger.png") no-repeat;
            }
            &.icon-error {
                background: transparent url("./images/icon-error.png") no-repeat;
            }
        }
    }
    .module-popup-iframe {
        width: 100%;
        height: auto;
        border: 0;
        overflow: auto;
    }
    .module-footer {
        padding-bottom: 20px;
        text-align: center;
        button {
            font-size: 14px;
            padding: 6px 10px;
            line-height: 14px;
            border: 1px solid #ff7800;
            border-radius: 2px;
            width: 96px;
            height: 36px;
            margin-right: 20px;
            color: #666;
            cursor: pointer;
            &:last-child {
                margin-right: 0;
            }
            &.btn_confirm_ok {
              background: #ff7800;
              color: #fff;
              &:hover {
                background: #ff6633;
                border-color: #ff6633;
              }
            }
            &.btn_confirm_cancel {
              background: #fff;
              border-color: #ddd;
              &:hover {
                background: #ddd;
                color: #fff;
              }
            }
            &:focus {
              outline: none;
            }
        }
    }
}
.module-popup-mask {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    overflow-x: hidden;
    overflow-y: auto;
    &.fade {
        -webkit-transition: opacity .15s linear;
        -o-transition: opacity .15s linear;
        -moz-transition: opacity .15s linear;
        transition: opacity .15s linear;
        opacity: 0;
        background-color: #000;
        filter: alpha(opacity=0);
        &.in {
            opacity: .5;
            filter: alpha(opacity=50);
        }
    }
}