@btnColor: #ff8400;
/*加减按钮 */
.button-content {
    width: 90px;
    height: 25px;
    border-radius: 6px;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    position: relative;
    top: -2px;
}

.button-minus,.button-plus {
    background: @btnColor;
    width: 28px;
    height: 25px;
    position: relative
}

.button-minus.off,.button-plus.off {
    background: #ccc
}

.button-minus:after,.button-plus:before {
    content: '';
    width: 15px;
    height: 3px;
    background: #fff;
    display: block;
    top: 50%;
    position: absolute;
    left: 50%;
    margin-left: -7px;
    margin-top: -1px
}

.button-plus:after {
    content: '';
    width: 3px;
    height: 15px;
    background: #fff;
    display: block;
    top: 50%;
    position: absolute;
    left: 50%;
    margin-left: -1px;
    margin-top: -7px
}

.button-minus {
    border-radius: 6px 0 0 6px
}

.button-plus {
    border-radius: 0 6px 6px 0
}

.button-content input,.button-minus,.button-plus {
    float: left
}

.button-content input {
    box-shadow: none;
    padding: 0;
    color: @btnColor;
    font-size: 13px;
    width: 33px;
    height: 23px;
    line-height: 23px;
    border: 0;
    outline: 0;
    text-align: center;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-radius: 0
}

.button-h {
    background: #35aa58
}

.button-h:after,.button-h:before {
    background: #ccc
}