.searchResult {
    width: 100%;
    position: relative;
    text-align: center;
    border-top: 1px solid #D8D8D8;
    background-color: #ffffff;
    height: auto;
}
.searchResult img {
    width: 25%;
}

.searchResult span {
    width: 100%;
    display: block;
    font-size: 0.8rem;
    line-height: 22px;
}
.searchResult span.sorry{
    font-size:1rem;
    text-align: -webkit-left;
    text-align: -moz-left;
    margin-top: 2rem;
}
.searchResult span.shaixuan{
    color:#999999;
    font-size: 0.8rem;
    text-align: -webkit-left;
    text-align: -moz-left;
}
.hot-city {
    width: 100%;
    position: relative;
}

.hot-city p {
    height: 20px;
    margin: 0 10px 0 22px;
    padding: 10px 0;
    font-weight: 700;
    color:#666666;
}

.hot-city-list {
    margin: 0 10px 0 0;
    margin-top: 10px;
}
.hot-city-list:after{
    display: block;
    height: 0;
    clear: both;
    content: " ";
}
.hot-city-list ul {
    padding: 0 0 0 10px;
    margin: 0;
}

.hot-city-list li {
    width: 25%;
    float: left;
    text-align: center;
    list-style: none;
}

.hot-city-list li a {
    color: #FFF;
    padding: 5px;
    display: inline-block;
    width: 65px;
    height: 65px;
    position: relative;
}

.hot-city-list li img {
    width: 100%;
    float: left;
    border: 0;
    height: 65px;
    border-radius: 6px;
}
.hot-city-list li span {
    width: 100%;
    height: 25px;
    line-height: 25px;
    float: left;
    margin-top: -43px;
    position: relative;
    font-weight: bold;
    text-shadow: #000 0px 4px 5px;
}
span.img-noresult{
    background: url(//img1.40017.cn/touch/cn/holiday/tchoutput/img/list/jingao_0488c07.jpg?t=201612191742) no-repeat;
    background-size: 50px;
    display: inline-block;
    width: 59px;
    height: 97px;
    float: left;
    //display: none;
    margin-top: 2rem;
    margin-left: 1rem;
}
.searchResult .btn-research{
    background: #68c022;
    color: white;
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 5px;
    border-radius: 6px;
    width: 100px;
    height: 36px;
    font-size: 15px;
    line-height: 36px;
}
.filter-noresult span.img-noresult{
    display: inline-block;
}
.filter-noresult .searchResult .btn-research{
    display: none;
}
.tuijian{
    height:2.5416666667rem;
    background-color:#e9ecf1;
    color:#999999;
    line-height: 2.5416666667rem;
}
.tuijian span{
    margin-left: 1rem;
}
.shaixuan{
    margin-top: 0.5rem;
}
