<!DOCTYPE html>
<html>
<% ctx.version = new Date().getTime() %>
<head lang="en">
    <meta charset="UTF-8">
    <title>全民抗疫</title>
    <meta charset="utf-8">
    <!--删除默认的苹果工具栏和菜单栏-->
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <!--控制状态栏显示样式-->
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <!--格式检测-->
    <meta content="telephone=no" name="format-detection" />
    <!--控制页面打开大小-->
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
        name="viewport">
    <link rel="stylesheet" type="text/css" href="//css.40017.cn/cn/s/2016/pc/zt/30819/swiper.min.css" />
    <!--自定义样式-->
    <link rel="stylesheet" type="text/css" href="//css.40017.cn/cn/min/??/cn/s/2020/zt/touch/200320/common.css?v=<%=ctx.version%>">
    <link rel="stylesheet" type="text/css" href="//css.40017.cn/cn/min/??/cn/s/2020/zt/touch/200320/rules.css?v=<%=ctx.version%>">
</head>

<body>
    <div class="app" id="app" v-cloak @click="showProvList = false">
        <!-- loading蒙层 -->
        <div class="loading" v-show="loading">
            <img src="//img1.40017.cn/cn/s/c/2016/loading.gif">&nbsp;&nbsp;&nbsp;正在加载中...
        </div>
        <!-- 头图 44764-->
        <div class="top">
            <img :src="topImg">
        </div>
        <div class="title">
            <img src="//img1.40017.cn/cn/s/2020/zt/touch/200320/rules-tit1.png" />
        </div>
        <div class="intro">
            <p>“点击开始”进入游戏界面，点击病毒即可得分，找到病毒数越多，得分越高，记录用户的最高得分。</p>
        </div>
        <div class="title">
            <img src="//img1.40017.cn/cn/s/2020/zt/touch/200320/rules-tit2.png" />
        </div>
        <div class="intro">
            <p>即日起至2020年4月10日，活动结束后最终进入“排行榜top10的玩家”。将会获得专属奖品，分数相同的玩家根据时间先后排名。</p>
        </div>
        <div class="title">
            <img src="//img1.40017.cn/cn/s/2020/zt/touch/200320/rules-tit3.png" />
        </div>
        <div class="subtit top1">
            <div class="bb">
                <h3 class="h3">华为mate30<span class="txt">【4G全网通版(6G+128G)】</span></h3>
            </div>
        </div>
        <div class="section">
            <img src="//img1.40017.cn/cn/s/2020/zt/touch/200320/rules-img1.png" />
        </div>
        <div class="subtit top2">
            <div class="bb"><h3 class="h3">小米空气净化器2S+仙都景区门票1张</h3></div>
        </div>
        
        <div class="section">
            <img src="//img1.40017.cn/cn/s/2020/zt/touch/200320/rules-img2.png" />
        </div>
        <div class="subtit top3">
            <div class="bb"><h3 class="h3">苏泊尔球釜4L压力电饭煲+仙都景区门票1张</h3></div>
            <span class="txt">(不含景交)</span>
        </div>
        <div class="section">
            <img src="//img1.40017.cn/cn/s/2020/zt/touch/200320/rules-img3.png" />
        </div>
        <div class="subtit">
            <div class="bb"><h3 class="h3">第4名：小米手环4代+仙都景区门票1张 <span class="txt">(不含景交)</span></h3></div>
        </div>
        <div class="section">
            <img src="//img1.40017.cn/cn/s/2020/zt/touch/200320/rules-img4.png" />
        </div>
        <div class="section"></div>
        <div class="section"><div class="divider"></div></div>
        <div class="section"></div>
        <div class="section">
            <img src="//img1.40017.cn/cn/s/2020/zt/touch/200320/rules-img5.png" />
            <img src="//img1.40017.cn/cn/s/2020/zt/touch/200320/rules-img6.png" />
        </div>
        <div class="section"></div>
        <div class="section">
            <img src="//img1.40017.cn/cn/s/2020/zt/touch/200320/rules-img7.png" />
        </div>
        <div class="placeholder"></div>
        <div class="bottom-btn-box">
            <div class="more"><span v-if="!isMove">下滑查看更多</span></div>
            <div class="btns">
                <a href="https://m.ly.com/scenery_1/detail/?sceneryId=2851"></a>
                <a @click="mainLink"></a>
            </div>
        </div>
    </div>
</body>

<script type="text/javascript" src="//js.40017.cn/touch/cn/public/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="//js.40017.cn/cn/min/???/cn/s/2017/touch/common/vue.js"></script>
<script type="text/javascript" src="//js.40017.cn/cn/min/??/cn/s/2019/common/wlurl.js?v=20100112"></script>
<!-- rem -->
<script type="text/javascript">
    (function () {
        $(document).on('page:resize', function (e) {
            var _w = $(document.body).width();
            $('html').css('font-size', ((_w > 750) ? 750 : _w) / 750 * 100 + 'px');
        });
        $(document).trigger('page:resize');
        $(window).on('resize', function () {
            $(document).trigger('page:resize');
        })
    })();
</script>
<!--脚本-->
<script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.6.0.js"></script>
<script type="text/javascript" src="//js.40017.cn/cn/min/??/touch/hb/c/bridge.2.1.4.js?v=2016053"></script>
<script type="text/javascript" src="//js.40017.cn/cn/min/??/cn/s/2016/touch/zt/ztc/resetRefID.3.5.js,/cn/s/2016/touch/zt/c/sztcom.js?v=2016012703"></script>
<script type="text/javascript" src="https://js.40017.cn/cn/min/???/cn/s/api/setsharefn.5.js"></script>
<script>
    /* 分享 */
    shareImg = "http://img1.40017.cn/cn/s/2020/zt/touch/200320/share.jpg";
    shareTitle = "“5A仙都景区特惠来袭，玩游戏赢豪礼！";
    shareUrl = "https://www.ly.com/scenery/zhuanti/2020antiviral/";
    shareDesc = "全民抗疫 抗疫必胜！速抢仙都景区特惠门票，参与游戏赢取众多豪礼！";
    setShareFun.Pageview = "/Touch站专题/全民抗疫";
    setShareFun.changeShareInfo();
</script>
<!--自定义脚本-->
<script src='//js.40017.cn/cn/min/???/cn/s/2020/zt/touch/200320/utils.js?v=<%=ctx.version%>'></script>
<script src='//js.40017.cn/cn/min/???/cn/s/2020/zt/touch/200320/rules.js?v=<%=ctx.version%>'></script>

</html>
